<div class="guide-listing" id="listings">
    <div class="col-md-2 categories">
        {% for category in site.categories %}
        {% capture category_name %}{{ category | first }}{% endcapture %}
        <ul id="categories">
            <li>
                <label><b><a href="#{{category_name | slugify}}">{{category_name}}</a></b></label>
            </li>
        </ul>
        {% endfor %}
    </div>
    <div class="col-md-8 no-padding">
        <div style="text-align: right">
            <small id="search-results-count"></small>
        </div>
        {% for category in site.categories %}
        {% capture category_name %}{{ category | first }}{% endcapture %}
        <div id="#{{ category_name | slugize }}"></div>   
        <h3 class="category-head">{{ category_name }}</h3>
        <a name="{{ category_name | slugize }}"></a>
        {% for post in site.categories[category_name] %}
        <div class="guide-card card-shadow" id="{{ post.title | downcase | split: ' ' | join: '-' | append: '-card' }}">
            <div class="card">
                <div class="row no-padding">
                    <div class="col-md-2 col-sm-2  no-padding">
                        <div class="card-img-top img-fluid text-center">
                            <img src="{{ post.image }}" alt="card image">
                        </div>
                    </div>
                    <a href="{{ post.url }}">
                        <div class="col-md-10">
                            <div class="card-body">
                                <h5 class="card-title"><b>{{ post.title }}</b></h5>
                                <p class="card-text">{{ post.excerpt | truncate:200 "....." }}</p>
                            </div>
                        </div>
                    </a>
                </div>    
            </div>
        </div>
        {% endfor %}
        {% endfor %}
    </div>
</div>
{% include_relative _no-search-results.html %}

<script>
    window.guideEntries = [
        {% for post in site.posts %}
            {
                "id"       : "{{ post.title | strip_html | downcase | split: ' ' | join: '-' | append: '-card' }}",
                "title"    : "{{ post.title | strip_html | escape | downcase}}",
                "category" : "{{post.categories | join: ', ' | downcase}}",
                "excerpt" : "{{post.excerpt | strip_html | strip_newlines | escape | downcase}}",
                "content"  : {{ post.content | strip_html | strip_newlines | jsonify | downcase }},
                "tags"     : "{{ post.tags | join: ', ' }}"
            } {% unless forloop.last %},{% endunless %}
        {% endfor %}
    ];
</script>







