<div class="col-xs-12 col-sm-3 col-md-3 hidden-xs hidden-print">
  <img class="floating-img-infrastructure-in-a-day"
    src="/assets/img/infrastructure-cube-icons/infrastructure-in-a-day.png" style="width: 220px;" />
</div>
<div class="col-xs-12 col-sm-9 col-md-8 col-md-offset-1">
  <h1 style="margin-bottom: 15px">
    Your entire infrastructure.
    <br />
    Defined as code. In about a day.
  </h1>
  <div class="clearfix hidden-print">
    <div class="pull-left lead up-and-running-text">We get you running</div>
    <div class="pull-left lead up-and-running-text">on AWS &amp; GCP with</div>
    <div class="pull-left up-and-running-carousel">
      <div id="tech-carousel-text" class="carousel slide" data-ride="carousel" data-interval="4000">
        <div class="carousel-inner vertical">
          {% for tech in site.data.technologies %}
          <img src="{{ tech.logo }}" alt="{{ tech.name }}"
            class="img-responsive item{% if forloop.index0 == 0 %} active{% endif %}" />
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="pull-left lead up-and-running-text">and you get 100% of the code.</div>
  </div>
  <div class="home-page-cta" id="learn-more" hidden>
    <p class="hidden-print" style="margin-top: 30px;"><a href="#learn-more" class="btn btn-info" role="button"
      ga-on="click" ga-event-category="home" ga-event-action="learn-more">Learn More</a></p>
  </div>
  <div class="home-page-cta" id="get-a-demo" hidden>
    <p class="hidden-print" style="margin-top: 30px;"><a href="/contact" class="btn get-a-demo" role="button"
        ga-on="click" ga-event-category="home" ga-event-action="get-a-demo">Get a Demo</a></p>
  </div>
</div>
