---
layout: default
permalink: /
slug: index-page
footer_heading: Build your infrastructure now.
---

<div class="main">
    <div class="section section-hero">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3 hidden-xs">
                    <img class="floating-img-infrastructure-in-a-day" src="/assets/img/infrastructure-in-a-day.png" style="width: 220px;" />
                </div> <!-- col -->
                <div class="col-xs-12 col-sm-9 col-md-8 col-md-offset-1">
                  <h1>
                      Your entire infrastructure.
                      <br />
                      Defined as code. In about a day.
                  </h1>
                  <div class="clearfix">
                    <div class="pull-left lead" style="margin-right: 6px; margin-bottom: 0;">We get you up and running on AWS with</div>
                    <div id="tech-carousel-text" class="pull-left lead carousel slide" data-ride="carousel" data-interval="3000" style="margin-right: 6px; margin-bottom: 0;">
                      <div class="carousel-inner vertical">
                        {% for tech in site.data.technologies %}
                          <u class="item{% if forloop.index0 == 0 %} active{% endif %}">{{ tech.name }}.</u>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  <p class="lead">You get 100% of the code.</p>
                  <p><a href="/how-it-works" class="btn btn-info" role="button">How it Works</a></p>
                </div> <!-- col -->
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- section-hero -->

    <div class="section section-blue section-sub-hero">
        <div class="container">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2 col-sm-9 col-sm-offset-3">
                    <div class="row row-partners row-center-vertically-sm">
                        <div class="col-xs-12 col-sm-5 col-partner-hashicorp">
                            <img src="/assets/img/logos-technologies/logo-hashicorp.png" width="239" />
                        </div> <!-- col -->
                        <div class="col-xs-12 col-sm-6 col-sm-offset-1 col-partner-experts">
                            <div class="row">
                              <div id="tech-carousel" class="col-xs-12 col-sm-5 carousel slide" data-ride="carousel" data-interval="3000">
                                <div class="carousel-inner vertical">
                                  {% for tech in site.data.technologies %}
                                    <img src="{{ tech.logo }}" alt="{{ tech.name }}" class="item{% if forloop.index0 == 0 %} active{% endif %}" />
                                  {% endfor %}
                                </div>
                              </div>
                              <div class="col-xs-12 col-sm-2" style="line-height: 45px; font-size: 35px">
                                +
                              </div>
                              <div id="cloud-carousel" class="col-xs-12 col-sm-5 carousel slide" data-ride="carousel" data-interval="12000">
                                <div class="carousel-inner vertical">
                                  {% for cloud in site.data.clouds %}
                                    <img src="{{ cloud.logo }}" alt="{{ cloud.name }}" class="item{% if forloop.index0 == 0 %} active{% endif %}" width="132"/>
                                  {% endfor %}
                                </div> <!-- col -->
                              </div> <!-- col -->

                            </div> <!-- row -->
                        </div> <!-- col -->
                    </div> <!-- row -->
                </div> <!-- col -->
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- section-blue -->

    <div class="section section-dark">
        <div class="container">

            <div class="row row-design-stack">
                <div class="col-xs-8 col-xs-offset-2 col-sm-5 col-sm-offset-0 col-md-6 col-diagram">
                    <canvas
                        id="dottedLine"
                        class="hidden-xs hidden-sm"
                        width="2"
                        height="200px"
                        style="
                            position: absolute;
                            top: -190px;
                            left: 166px;
                        "
                    >
                    </canvas>
                    <img src="/assets/img/infrastructure-design-your-stack.png" width="379px" style="margin-left: 3px;" />
                </div> <!-- col -->
                <div class="col-xs-12 col-sm-7 col-md-6 col-description">
                    <h2>Design your entire tech stack.</h2>
                    <p>Select the infrastructure you want from our library of battle-tested, reusable infrastructure code. Docker or Packer? MySQL or Postgres? Jenkins or CircleCI? You tell us, and we will deploy it into your AWS account and give you 100% of the code, all in about a day.</p>
                    <p><a href="/reference-architecture" class="btn btn-primary" role="button">Learn More</a></p>
                </div> <!-- col -->
            </div> <!-- row-design-stack -->

            <div class="row row-expert-support">
                <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-push-7 col-sm-offset-0 col-md-6 col-md-push-6 col-diagram">
                    <img src="/assets/img/infrastructure-expert-support.png" width="418px" />
                </div> <!-- col -->
                <div class="col-xs-12 col-sm-7 col-sm-pull-5 col-md-6 col-md-pull-6 col-description">
                    <h2>Get expert support.</h2>
                    <p>We’ve helped dozens of companies just like yours build reliable, secure, scalable infrastructure. Contact our engineers at any time for guidance, best practices, or troubleshooting. We wrote <a href="http://www.terraformupandrunning.com" target="_blank">the book on Terraform</a> and <a href="https://www.airpair.com/aws/posts/building-a-scalable-web-app-on-amazon-web-services-p1" target="_blank">the definitive guide to AWS</a>, so you’re in good hands.</p>
                    <p><a href="/subscriptions" class="btn btn-primary" role="button">Subscriptions</a></p>
                </div> <!-- col -->
            </div> <!-- row-expert-support -->

            <div class="row row-automatic-updates">
                <div class="col-xs-8 col-xs-offset-2 col-sm-5 col-sm-offset-0 col-md-6 col-diagram">
                    <img src="/assets/img/infrastructure-auto-updates.png" width="297px" />
                </div> <!-- col -->
                <div class="col-xs-12 col-sm-7 col-md-6 col-description">
                    <h2>Get automatic updates.</h2>
                    <p>When AWS, Terraform, Docker, and everyone else release updates, we update our Infrastructure Packages to reflect the latest best practices. With Gruntwork Patcher<sup>(beta)</sup>, we can automatically patch your code and submit a pull request, ensuring your infrastructure is always up-to-date.</p>
                    <p><a href="/contact" class="btn btn-primary" role="button">Request Access</a></p>
                </div> <!-- col -->
            </div> <!-- row-automatic-updates -->

        </div> <!-- container -->
    </div> <!-- section-dark -->

    <div class="section section-blue">
        <div class="container">

            <div class="row row-community">
                <div class="col-xs-12">
                    <h2>Meet the Gruntwork Community.</h2>
                </div> <!-- col -->
                <div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0" style="margin-top: 25px;">
                    <div class="row thumbnail-group thumbnail-group-clients">
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="thumbnail">
                                <img src="/assets/img/logos-clients/logo-bind.png" alt="Bind Logo" width="119px">
                            </div>
                        </div> <!-- col -->
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="thumbnail">
                                <img src="/assets/img/logos-clients/logo-gridpoint.png" alt="Gridpoint Logo" width="119px">
                            </div>
                        </div> <!-- col -->
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="thumbnail">
                                <img src="/assets/img/logos-clients/logo-intel.png" alt="Intel Logo" width="119px">
                            </div>
                        </div> <!-- col -->
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="thumbnail">
                                <img src="/assets/img/logos-clients/logo-tidal-migration.png" alt="Tidal Migration Logo" width="119px">
                            </div>
                        </div> <!-- col -->
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="thumbnail">
                                <img src="/assets/img/logos-clients/logo-quid.png" alt="Quid Logo" width="119px">
                            </div>
                        </div> <!-- col -->
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="thumbnail">
                                <img src="/assets/img/logos-clients/logo-early-warning.png" alt="Early Warning Logo" width="119px">
                            </div>
                        </div> <!-- col -->
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="thumbnail">
                                <img src="/assets/img/logos-clients/logo-fluo.png" alt="Fluo Logo" width="119px">
                            </div>
                        </div> <!-- col -->
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="thumbnail">
                                <img src="/assets/img/logos-clients/logo-commonplace.png" alt="Commonplace Logo" width="119px">
                            </div>
                        </div> <!-- col -->
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="thumbnail">
                                <img src="/assets/img/logos-clients/logo-jumio.png" alt="Jumio Logo" width="119px">
                            </div>
                        </div> <!-- col -->
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="thumbnail">
                                <img src="/assets/img/logos-clients/logo-bolste.png" alt="Bolste Logo" width="119px">
                            </div>
                        </div> <!-- col -->
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="thumbnail">
                                <img src="/assets/img/logos-clients/logo-iwoca.png" alt="Iwoca Logo" width="119px">
                            </div>
                        </div> <!-- col -->
                        <div class="col-xs-6 col-sm-3 col-md-2">
                            <div class="thumbnail">
                                <img src="/assets/img/logos-clients/logo-healthline.png" alt="Healthline Logo" width="119px">
                            </div>
                        </div> <!-- col -->
                    </div> <!-- row -->

                    <p><a href="/whos-using-it">See their results <i class="fa fa-fw fa-caret-right"></i></a></p>
                </div> <!-- col -->
            </div> <!-- row -->

        </div> <!-- container -->
    </div> <!-- section-blue -->
</div> <!-- main -->
