<div>
  <div class="section section-footer-content">
    <div class="container">
      <div class="row row-call-to-action">
        <div class="col-xs-12 text-center">
          <h2 class="h1 no-anchor">{{ page.footer.heading }}</h2>
          <p style="margin-top: -30px">{{ page.footer.body }}</p>
          <p><a href="pricing" class="btn btn-info" role="button" ga-on="click" ga-event-category="{{ page.path | slugify }}" ga-event-action="footer-cta">{{ page.footer.cta }}</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
