{% for item in page.how_it_works %}
  <div class="row">
    <div class="{% if item.image_side == "left" %}col-xs-8 col-xs-offset-2 col-sm-5 col-sm-offset-0 col-md-6 col-diagram hidden-print{% else %}col-xs-10 col-xs-offset-1 col-sm-5 col-sm-push-7 col-sm-offset-0 col-md-6 col-md-push-6 col-diagram{% endif %}">
      <img src="{{ item.image }}" width="{{ item.image_width }}" style="margin-left: 3px;"/>
    </div>
    <div class="{% if item.image_side == "left" %}col-xs-12 col-sm-7 col-md-6 col-description{% else %}col-xs-12 col-sm-7 col-sm-pull-5 col-md-6 col-md-pull-6 col-description{% endif %}">
      <h2>{{ item.heading }}</h2>
      <p>{{ item.body }}</p>
    </div>
  </div>
{% endfor %}
