<h2>What's in the Library?</h2>
<p>
  The Infrastructure as Code Library consists of 40+ GitHub repos, some open
  source, some private, each of which contains reusable, battle-tested
  infrastructure code for AWS, GCP, and Azure, written in Terraform, Go, Bash,
  and Python. Check out
  <a
    href="/guides/foundations/how-to-use-gruntwork-infrastructure-as-code-library/"
    target="_blank"
    >How to use the Gruntwork Infrastructure as Code Library</a
  >
  to see how it all works.
</p>
{% include_relative _search.html %} {% include_relative _library-table.html %}
{% include_relative _no-results.html %} {% include_relative _modals.html %}
