---
layout: default
title: Infrastructure as Code Library
excerpt: A collection of over 300,0000 lines of reusable, battle-tested, production-ready infrastructure code.
permalink: /infrastructure-as-code-library/
slug: gruntwork-library
footer_heading: Ready to hand off the Gruntwork?
redirect_from:
  - /infrastructure/
  - /gruntwork-library/
---

<div class="main">
  <div class="section section-hero">
    {% include_relative _hero.html %}
  </div>
  <div class="section section-dark">
    <div class="container">
      {% include_relative _sub-hero.html %}
      <div class="row row-library">
        <div class="col-xs-12">
          {% include_relative _modal.html %}
          {% include_relative _library.html %}
          {% include_relative _process.html %}
        </div>
      </div>
    </div>
  </div>
</div>
