# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

# Jekyll
_site/
.sass-cache/
.jekyll-metadata

# OS X
.DS_Store
.AppleDouble
.LSOverride

# Vagrant
.vagrant

# IntelliJ
*.iml

# webpack
assets/css/*.css
assets/js/*.js
assets/fonts/*.woff
assets/fonts/*.woff2
assets/fonts/*.svg
assets/fonts/*.eot
assets/fonts/*.ttf
