version: '3'

services:
  web:
    build: .
    volumes:
      # Bind mount the working dir so the app reloads automatically every time you make a change
      # Note that we use 'delegated' to improve perf on OSX: https://docs.docker.com/docker-for-mac/osxfs-caching/     
      - .:/src:delegated
      # Bind a Docker-only volume to the generated _site folder to make it clear we don't need to sync that folder
      # back to the host OS. That makes Jekyll in Docker work much faster. 
      - generated_site:/src/_site
    ports:
      - "4000:4000"
    environment:
      - JEKYLL_ENV=development
      # Pass your AWS credentials as env vars through to the Docker container for uploading the website to S3
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - AWS_SESSION_TOKEN

volumes:
  generated_site:
