---
layout: default
title: Gruntwork IaC Library for Azure
permalink: /gruntwork-for-azure/
slug: gruntwork-for-azure
custom_js:
  - contact
use_recaptcha: true
---

<div class="main gruntwork-for-azure">
  <div class="section section-hero">
    {% include_relative _hero.html %}
  </div>
  <div class="section section-dark">
    <div class="container">
      {% include_relative _gruntwork-for-azure.html %}
      <div class="row row-form">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          {% include_relative _form.html %}
        </div>
      </div>
    </div>
  </div>
</div>
