---
layout: default
title: Reference Architecture
excerpt: An opinionated, end-to-end tech stack built on top of the Infrastructure as Code Library that we deploy into your AWS accounts in about a day.
permalink: /reference-architecture/
slug: reference-architecture
footer_heading: Talk with our team of DevOps experts now!
redirect_from:
  - /stacks/
  - /usage-patterns-library/
  - /initial-setup/
---

<div class="main">
  <div class="section section-hero section-hero-with-button">
    {% include_relative _hero.html %}
  </div>
  <div class="section section-dark">
    <div class="container">
      {% include_relative _sub-hero.html %} {% include_relative
      _whats-included.html %} {% include_relative _pricing.html %}
    </div>
  </div>
</div>
