---
layout: default
title: Gruntwork Reference Architecture
excerpt: "The Reference Architecture is an opinionated way to assemble the code from the Gruntwork Library into an end-to-end tech stack that has just about all the infrastructure a tpyical team needs."
permalink: /reference-architecture/
slug: reference-architecture
footer_heading: Design your architecture now!
---

<div class="main">
    <div class="section section-hero">
      {% include_relative _hero.html %}
    </div>
    <div class="section section-dark">
        <div class="container">
          {% include_relative _sub-hero.html %}
          {% include_relative _whats-included.html %}
          {% include_relative _process.html %}
        </div>
    </div>
</div>
