<div class="row row-page-header">
  <div class="col-xs-12">
    <h2>Features</h2>
    {% for feature in site.data.landing-zone-features %}
      <div class="row row-features-group">
        <div class="col-xs-12 col-sm-2 col-md-2">
          <img class="feature-image" src="{{ feature.url }}" alt="feature-icon" />
        </div>
        <div class="col-xs-12 col-sm-10 col-md-10">
          <h3>{{ feature.title }}</h3>
          <p>{{ feature.description }}</p>
          {% if feature.description_assets %}
            <div class="feature-description-assets">
              <img class="feature-description-image hidden-xs" src="{{ feature.description_assets }}" alt="feature-description-image" />
              <img class="feature-description-image hidden-sm hidden-md hidden-lg" src="{{ feature.description_assets_mobile }}" alt="feature-description-image" />
            </div>
          {% endif %}
          {% if feature.precode %}
            <div class="feature-precode">{{ feature.precode }}</div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
