{% for item in page.how_it_works %}
  <div class="row">
    {% if item.precode %}
      <div class="item-precode {% if item.image_side == "left" %}col-xs-12 col-sm-7 col-md-6 col-description{% else %}col-xs-12 col-sm-7 col-sm-pull-5 col-md-6 col-md-pull-6 col-description{% endif %}">
        {{ item.precode }}
      </div>
    {% endif %}
    {% if item.tab_block %}
      <div class="{% if item.image_side == "left" %}col-xs-8 col-xs-offset-2 col-sm-5 col-sm-offset-0 col-md-6 col-diagram hidden-print{% else %}col-xs-10 col-xs-offset-1 col-sm-5 col-sm-push-7 col-sm-offset-0 col-md-6 col-md-push-6 col-diagram{% endif %}">
        <div class="tab_block">
          {% for tab in site.data.heroku-landing-page-tabs-images %}
          <div class="tab">
            <button class="{% if forloop.first %}active tablinks{% else %}tablinks{% endif %}" onclick="openTab(event, '{{tab.id}}')">{{ tab.title }}</button>
          </div>
          {% endfor %}
        </div>
        <div class="content">
          {% for tab in site.data.heroku-landing-page-tabs-images %}
          <div id="{{tab.id}}" class="{% if forloop.first %}first_tabcontent tabcontent{% else %}tabcontent{% endif %}">
            <img src="{{tab.content}}"/>
          </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    {% if item.tab_code_preview %}
      <div class="{% if item.image_side == "left" %}col-xs-8 col-xs-offset-2 col-sm-5 col-sm-offset-0 col-md-6 col-diagram hidden-print{% else %}col-xs-10 col-xs-offset-1 col-sm-5 col-sm-push-7 col-sm-offset-0 col-md-6 col-md-push-6 col-diagram{% endif %}">
        <div class="tab_block">
          {% for tab in site.data.heroku-landing-page-tabs-code %}
            <div class="tab">
              <button class="{% if forloop.first %}active tablinks_code{% else %}tablinks_code{% endif %}" onclick="openCodeTab(event, '{{tab.id}}')">{{ tab.title }}</button>
            </div>
          {% endfor %}
        </div>
        <div class="content">
          {% for tab in site.data.heroku-landing-page-tabs-code %}
          <div id="{{tab.id}}" class="item-precode {% if forloop.first %}first_tabcontent_code tabcontent_code{% else %}tabcontent_code{% endif %}">
              {{ tab.content }}
          </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    {% if item.image %}
      <div class="{% if item.image_side == "left" %}col-xs-8 col-xs-offset-2 col-sm-5 col-sm-offset-0 col-md-6 col-diagram hidden-print{% else %}col-xs-10 col-xs-offset-1 col-sm-5 col-sm-push-7 col-sm-offset-0 col-md-6 col-md-push-6 col-diagram{% endif %}">
        <img src="{{ item.image }}" width="{{ item.image_width }}" style="margin-left: 3px;"/>
      </div>
    {% endif %}
    <div class="{% if item.image_side == "left" %}col-xs-12 col-sm-7 col-md-6 col-description{% else %}col-xs-12 col-sm-7 col-sm-pull-5 col-md-6 col-md-pull-6 col-description{% endif %}">
      <h2>{{ item.heading }}</h2>
      <p>{{ item.body }}</p>
    </div>
  </div>
{% endfor %}

<style>
  .tab_block {
    width: 100%;
    display: inline-table;
    max-width: 500px;
  }

  .tab {
    overflow: hidden;
    background-color: #13cfe7;
    display: table-cell;
    width: auto;
    color: white;
  }

  .tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: 100%;
    color: white;
  }

  .tab button:hover {
    background-color: #06a2ff;
  }

  .tab button.active {
    background-color: #06a2ff;
  }

  .tabcontent, .first_tabcontent, .first_tabcontent_code {
    border-top: none;
  }

  .tabcontent, .tabcontent_code {
    display: none;
  }

  .first_tabcontent, .first_tabcontent_code {
    display: block;
  }

  .first_tablinks, .first_tablinks_code {
    background-color: #06a2ff !important;
  }

  .row .item-precode {
    position: relative;
  }

  .row .item-precode figcaption {
    position: absolute;
    top: -15px;
    left: 15px;
    background-color: #ee4f5d;
    border-radius: 4px;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.7;
    letter-spacing: 1px;
    padding: 0 10px;
  }

  pre[class*="language-"] {
    font-size: 11px;
  }
</style>

<script>
  function openTab(evt, tabName) {
    $('.tabcontent').hide(); // hide all tab content
    $('.tablinks').removeClass('active'); // ensure all links are inactive
    $('#' + tabName).show();
    $(evt.currentTarget).addClass('active'); // mark the current tab as active
  }

  function openCodeTab(evt, tabName) {
    $('.tabcontent_code').hide(); // hide all tab content
    $('.tablinks_code').removeClass('active'); // ensure all links are inactive
    $('#' + tabName).show();
    $(evt.currentTarget).addClass('active'); // mark the current tab as active
  }
</script>
