---
layout: landing-hipaa
type: landing-hipaa
slug: index-page

alternate_cta_link: /hipaa-compliance-on-aws/pricing

title: Why use Gruntwork?
excerpt: Over the past five years we’ve helped hundreds of companies and thousands of developers to prod faster
  and easier — often in about a day. See how Gruntwork can save you time and money compared to common alternatives.
permalink: /hipaa-compliance-on-aws/why-gruntwork/
redirect_from:
  - /hipaa-cloud-compliance/why-gruntwork/
  - /hipaa-compliance/why-gruntwork/

hero:
  image: /assets/img/infrastructure-cube-icons/infrastructure-in-a-day.png
  cta: Request early access
  logos:
    - /assets/img/logos-technologies/partner_logo_aws.png
    - /assets/img/logos-compliance/cis.png
    - /assets/img/logos-compliance/hipaa.png

footer:
  heading: Go live with Gruntwork HIPAA Cloud!
  body: |
    Request early access to receive exclusive benefits and discounts!
    <ul class="check-list check-white" style="text-align: left; display: inline-block;"><li><span class="help-text light" title="" data-toggle="tooltip" data-original-title="You’ll be the first to gain access to the solution once it’s ready"> Pre-release HIPAA-Compliant Infrastructure </span> </li><li><span class="help-text light" title="" data-toggle="tooltip" data-original-title="Early adopters will receive the solution at a major discount!"> Early adopter discount</span> </li><li><span class="help-text light" title="" data-toggle="tooltip" data-original-title="We’ll work with you to ensure the solution meets your organization’s requirements"> Influence the product direction</span> </li><li><span class="help-text light" title="" data-toggle="tooltip" data-original-title="We’ll go through the audit with you, implementing any technical changes indicated by the auditor"> Audit support</span> </li></ul>
  cta: Request early access
---

<div class="main sub-page">
  <div class="section section-hero">
    <div class="container">
      <div class="row">{% include_relative _slim-hero.html %}</div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="row row-community">
        {% include_relative _diy-or-gruntwork-table.html %}
      </div>
    </div>
  </div>
</div>
