<div class="row">
    <div class="center">
        <div class="col-md-3">
            <div class="center">
                <h2 >Comments </h2>
            </div>
            <div class="center">
                <a href="#" class="sm-icon fa fa-facebook"></a>
                <a href="#" class="sm-icon fa fa-reddit"></a>
                <a href="#" class="sm-icon fa fa-linkedin"></a>
                <a href="#" class="sm-icon fa fa-twitter"></a>
                <a href="#" class="sm-icon fa fa-yahoo"></a>
            </div>
        </div>
    </div>
    <script src="https://utteranc.es/client.js"
        repo="hngerebara/test"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
    </script>
</div>




