<footer id="footer" class="container-fluid footer">
  <div class="container">
    <div class="footer__header">
      <h1 class="footer__heading">Take the grunt work out of DevOps.</h1>
      <a href="" class="link-btn">Contact us</a>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-3 footer-menu">
        <p class="footer-menu__heading">Products & Services</p>
        <a
          href=""
          class="footer-menu__link">
          Infrastructure Packages
        </a>
        <a
          href=""
          class="footer-menu__link">
          Stacks
        </a>
        <a
          href=""
          class="footer-menu__link">
          Consulting & Training
        </a>
        <a
          href=""
          class="footer-menu__link">
          Support Plans
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 footer-menu">
        <p class="footer-menu__heading">Gruntwork</p>
        <a
          href=""
          class="footer-menu__link">
          About
        </a>
        <a
          href=""
          class="footer-menu__link">
          Clients
        </a>
        <a
          href=""
          class="footer-menu__link">
          Blog
        </a>
        <a
          href=""
          class="footer-menu__link">
          Partners
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 footer-menu">
        <p class="footer-menu__heading">Support</p>
        <a
          href=""
          class="footer-menu__link">
          Community
        </a>
        <a
          href=""
          class="footer-menu__link">
          Documentation
        </a>
        <a
          href=""
          class="footer-menu__link">
          Tutorials
        </a>
        <a
          href=""
          class="footer-menu__link">
          Submit
          a Ticket
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 footer-menu">
        <p class="footer-menu__heading">Connect</p>
        <a
          href=""
          class="footer-menu__link">
          Github
        </a>
        <a
          href=""
          class="footer-menu__link">
          Twitter
        </a>
        <a
          href=""
          class="footer-menu__link">
          LinkedIn
        </a>
        <a
          href=""
          class="footer-menu__link">
          Newsletter
        </a>
      </div>
    </div>
    <div class="copyright">
      © 2017 Gruntwork, LLC. All rights reserved.
    </div>
  </div>
</footer>
