<section id="get-in-touch" class="wrapper style1 fade-up">
  <div class="inner">
    <h2>Get in touch</h2>
    <p>Want to work with us? Got a question?</p>
    <div class="split style1">
      <section>
        <form method="post" action="#">
          <div class="field half first">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" />
          </div>
          <div class="field half">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" />
          </div>
          <div class="field">
            <label for="message">Message</label>
            <textarea name="message" id="message" rows="5"></textarea>
          </div>
          <ul class="actions">
            <li><a href="" class="button submit">Send Message</a></li>
          </ul>
        </form>
      </section>
      <section>
        <ul class="contact">
          <li>
            <h3>Email</h3>
            <a href="mailto:{{ site.contact.email }}">{{ site.contact.email }}</a>
          </li>
          <li>
            <h3>Social</h3>
            <ul class="icons">
              <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
              <li><a href="#" class="fa-linkedin"><span class="label">LinkedIn</span></a></li>
              <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
              <li><a href="#" class="fa-google-plus"><span class="label">Google</span></a></li>
              <li><a href="#" class="fa-github"><span class="label">GitHub</span></a></li>
            </ul>
          </li>
        </ul>
      </section>
    </div>
  </div>
</section>