<section id="intro" class="wrapper style1 fullscreen fade-up">
  <div class="inner">
    <div class="clearfix">
      <div class="center">
        {% include logo.html %}
        <h1>Gruntwork</h1>
      </div>
      <div>
        <p>
          Get up and running on AWS with world-class infrastructure and DevOps practices in about 2 weeks.
          You focus on your product. We'll take care of the grunt work.
        </p>
        <div class="center">
          <ul class="actions">
            <li><a href="#what-we-do" class="button scrolly" data-event-category="Internal Link" data-event-action="click">Learn more</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>