<section id="intro" class="wrapper style1 fullscreen fade-up">
  <div class="inner mx-auto">
    <div>
      <div class="center">
        <img src="/assets/img/logo/hardhat-monster-logo-white-medium.png" alt="Gruntwork">
        <h1>Gruntwork</h1>
      </div>
      <div>
        <p>
          Get up and running on AWS with world-class infrastructure and DevOps practices in about 2 weeks. You
          focus on your product. We'll take care of the Gruntwork.
        </p>
      </div>
      <div class="center">
        <ul class="actions">
          <li><a href="#what-we-do" class="button scrolly">Learn more</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>