<header class="header">
    <nav class="navbar navbar-default">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><strong>Gruntwork</strong>.io</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/how-it-works">How it Works</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Products <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                        <ul class="dropdown-menu dropdown-menu-left" role="menu">
                            <li><a href="/subscriptions">Subscriptions</a></li>
                            <li><a href="/reference-architecture">Reference Architecture</a></li>
                            <li><a href="/training">Training</a></li>
                        </ul>
                    </li>
                    <li><a href="/customers">Customers</a></li>
                    <li><a href="/pricing">Pricing</a></li>
                    <li><a href="/contact" class="btn btn-info" role="button">Get Started</a></li>
                </ul>
            </div> <!-- navbar-collapse -->
        </div> <!-- container -->
    </nav>
</header>
