<header class="navigation">
  <div class="navigation__logo">
    <a href="#" class="logo-text">Gruntwork</a>
  </div>
  <div class="navigation__menu">
    <nav class="navigation__container">
      <input type="checkbox" id="nav" /><label for="nav"></label>
      <ul class="list-inline">
        <li>
          <a href="#" class="navigation__menu-link">Products & Services</a>
          <ul class="list-unstyled">
            <li><a href="#" class="navigation__menu-link">Infrastructure Packages</a></li>
            <li><a href="#" class="navigation__menu-link">Stacks</a></li>
            <li><a href="#" class="navigation__menu-link">Consulting & Training</a></li>
            <li><a href="#" class="navigation__menu-link">Support Plans</a></li>
          </ul>
        </li>
        <li class="active"><a href="#" class="navigation__menu-link">How it works</a></li>
        <li><a href="#" class="navigation__menu-link">Clients</a></li>
        <li><a href="#" class="navigation__menu-link">About</a></li>
        <li><a href="#" class="navigation__menu-link navigation__menu-link--emphasis">Contact us</a></li>
      </ul>
    </nav>
  </div>
</header>
