<div class="row">
    <div class="guides-newsletter center">
        <div class="col-md-8 col-xs-12 modal-box text-center">
            <img src="/assets/img/guides/layout/img-newsletter.svg" alt="newsletter_image" class="img-center"><br>
            <label>Newsletter</label>
            <p>Subscribe to the Gruntwork Newsletter to get notified when updates and new guides are released. No spam. Ever.</p>
            <form  id="guides-newsletter-form"class="col-sm-10 col-sm-offset-1 col-xs-12" method="post" action="//gruntwork.us13.list-manage.com/subscribe/post?u=8ccaad0747ac13944cf318e0f&amp;id=786bd365d1" target="_blank">
                <div class="center">
                    <input type="email" name="EMAIL" class="email form-control guides-input-box" id="guides-subscribe-email" placeholder="Your Email Address">
                    <input type="submit" class="btn btn-primary" value="Subscribe">
                </div>
            </form>
        </div>
    </div>
</div>
