<div class="guides-section-white">
    <div class="row text-center">
        <div class="col-md-6 col-md-offset-3 newsletter" >
            <img src="/assets/img/guides/img-newsletter.png" alt="newsletter_image" class="img-center"><br>
            <label>Newsletter</label>
            <p>Subscribe to the Gruntwork Newsletter to get notified when updates and new guides are released. No spam. Ever.</p>
            <form id="newsletter-form" class="col-xs-10 col-xs-offset-1" method="post" >
                <div class="input-group">
                    <input type="text" id="email" class="form-control guides-input-box" placeholder="Your Email Address">
                    <div class="input-group-btn">
                        <div class="btn-group" role="group"> 
                            <button type="button" id="newsletter-subscribe" class="btn btn-primary">
                                Subscribe
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Newsletter success Modal -->
{% include newsletter-modal.html %}