<div class="modal fade" id="newsletter-success" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-center">
            <div class="modal-body">
                <img src="/assets/img/guides/layout/img-newsletter.svg" alt="newsletter_image" /><br />
                <label class="modal-title" id="newsletterModalLabel">Success! You’re signed up. </label>
                <p>You signed up for our newsletter </p>
                <button type="button" class="btn btn-secondary" onclick="window.history.pushState({path: window.location.pathname },'',window.location.pathname)" data-dismiss="modal">Got it</button>
            </div>
        </div>
    </div>
</div>
