{% for package in site.data.packages %}
  {% capture id %}package-{{ package.title | downcase | replace:' ','-' }}{% endcapture %}
  <div class="mb2 packages">
    <a href="#{{ id }}" id="{{ id }}" class="block clearfix border bg-white px2 py1 js-expand">
      {% if package.image %}
        {% include image.html path=package.image class="col header-line-height" %}
      {% else %}
        <i class="fa fa-{{ package.fa_icon }} fa-fw col color-accent3 header-line-height"></i>
      {% endif %}
      <h3 class="ml1 mb0 col color-accent3">
        {{ package.title }}
      </h3>
      <i class="fa fa-chevron-down right color-accent3 header-line-height js-{{ id }}-collapsed"></i>
      <i class="fa fa-chevron-up right color-accent3 header-line-height initially-hidden js-{{ id }}-collapsed"></i>
    </a>
    <div class="collapsed p2 bg-transparent-white border border-transparent-white initially-hidden js-{{ id }}-collapsed">
      <p class="h4 mb0">
        {{ package.description }}
      </p>
      {% if package.docs_url %}
        <p class="h4 mt2 mb0">Documentation: <a href="{{ package.docs_url }}" target="_blank">{{ package.docs_url }}</a></p>
      {% endif %}
    </div>
  </div>
{% endfor %}