<script src="/assets/js/dependencies.js"></script>
<!--[if lte IE 8]><script src="/assets/js/respond.1.4.2.min.js"></script><![endif]-->
<script src="/assets/js/main.js"></script>
<script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', 'UA-76462621-1', 'auto');
  ga('require', 'autotrack');
  ga('send', 'pageview');
</script>
<script async src="https://www.google-analytics.com/analytics.js"></script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/autotrack/0.6.5/autotrack.js"></script>
