<div id="gruntyCookie" style="display:none">
  <p>By using this website you agree to our <a href="/cookie-policy/">cookie policy</a></p><button id="cookieModalClose" class="btn btn-primary">OK</button>
</div>
<script>window.pricing = {{ site.data.pricing | jsonify }}</script>
<script src="{{ site.assets_base_url }}js/main.js"></script>
{% if page.custom_js %}
  {% for js_file in page.custom_js %}
  <script src='/assets/js/{{ js_file }}.js' type="text/javascript"></script>
  {% endfor %}
{% endif %}
{% if site.ga_tracker %}

<script>
  window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
  ga('create', '{{ site.ga_tracker }}', 'auto');
  ga('require', 'eventTracker');
  ga('require', 'maxScrollTracker');
  ga('require', 'outboundFormTracker');
  ga('require', 'outboundLinkTracker');
  ga('send', 'pageview');
</script>
<script async src="https://www.google-analytics.com/analytics.js"></script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/autotrack/2.4.1/autotrack.js"></script>
<!-- Hotjar Tracking Code for gruntwork.io -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:974926,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
{% endif %}
