<section id="sidebar">
  <div class="inner">
    <nav>
      <ul>
        <li><a href="#intro" data-event-category="Internal Link" data-event-action="click">Welcome</a></li>
        <li><a href="#what-we-do" data-event-category="Internal Link" data-event-action="click">What we do</a></li>
        <li><a href="#our-clients" data-event-category="Internal Link" data-event-action="click">Our clients</a></li>
        <li><a href="#who-we-are" data-event-category="Internal Link" data-event-action="click">Who we are</a></li>
        <li><a href="#get-in-touch" data-event-category="Internal Link" data-event-action="click">Get in touch</a></li>
        <li><a href="#blog" data-event-category="Internal Link" data-event-action="click">Blog</a></li>
      </ul>
    </nav>
  </div>
</section>