<table class="table table-striped">
  <thead>
  <tr>
    <th></th>
    {% for plan in site.data.plans %}
      <th>{{ plan.name }}</th>
    {% endfor %}
  </tr>
  </thead>
  <tbody>
  <tr>
    <th>Support Hours</th>
    {% for plan in site.data.plans %}
      <td>{{ plan.support_hours }}</td>
    {% endfor %}
  </tr>
  <tr>
    <th>Support Availability</th>
    {% for plan in site.data.plans %}
    <td>{{ plan.support_availability }}</td>
    {% endfor %}
  </tr>
  <tr>
    <th>After-Hours Support</th>
    {% for plan in site.data.plans %}
      <td>{{ plan.after_hour_support }}</td>
    {% endfor %}
  </tr>
  <tr>
    <th>Reponse Time</th>
    {% for plan in site.data.plans %}
      <td>{{ plan.response_time }}</td>
    {% endfor %}
  </tr>
  <tr>
    <th>Email Support</th>
    {% for plan in site.data.plans %}
      <td>{{ plan.email_support }}</td>
    {% endfor %}
  </tr>
  <tr>
    <th>Phone/Video Chat Support</th>
    {% for plan in site.data.plans %}
      <td>{{ plan.phone_video_support }}</td>
    {% endfor %}
  </tr>
  <tr>
    <th>Slack Support</th>
    {% for plan in site.data.plans %}
      <td>{{ plan.slack_support }}</td>
    {% endfor %}
  </tr>
  <tr>
    <th>Automated Infra Updates</th>
    {% for plan in site.data.plans %}
      <td>{{ plan.automated_infra_updates }}</td>
    {% endfor %}
  </tr>
  <tr>
    <th>Access to the Gruntwork Library</th>
    {% for plan in site.data.plans %}
      <td>Yes</td>
    {% endfor %}
  </tr>
  <tr>
    <th>Security Alerts</th>
    {% for plan in site.data.plans %}
      <td>Yes</td>
    {% endfor %}
  </tr>
  <tr>
    <th>Newsletter</th>
    {% for plan in site.data.plans %}
      <td>Yes</td>
    {% endfor %}
  </tr>
  {% if include.show_price %}
    <tr>
      <th>Price</th>
      {% for plan in site.data.plans %}
        <td>{{ plan.price }}</td>
      {% endfor %}
    </tr>
  {% endif %}
  </tbody>
</table>
