<div class="panel panel-default panel-dark">
  <div class="panel-body text-center">
    <h3 style="margin-bottom: 10px;">{{ include.content.title }}</h3>
    <p class="big-price"><span>$</span>{{ include.content.price[include.tab] }}</p>
    <h6 class="help-block" style="margin-bottom: 0;">{{ include.content.details }}{% if include.tooltip %} <abbr title="A user is any human or machine user that makes use of Gruntwork's services" data-toggle="tooltip" style="border: 0 none;"><i class="fa fa-question-circle" aria-hidden="true"></i></abbr>{% endif %}</h6>
    <p class="text-muted small">{{ include.content.description }}</p>
    <p style="margin-bottom: 10px;"><a href="/contact" class="btn btn-info" role="button">Get Started</a></p>
    {% comment %}<p class="text-muted small">Annual contract, billed monthly.</p>{% endcomment %}
  </div>
</div>
