<p>
  Gruntwork Packages define
  <a href="https://en.wikipedia.org/wiki/Infrastructure_as_Code" target="_blank">infrastructure-as-code</a>
  for use with <a href="https://aws.amazon.com/" target="_blank">AWS</a>
  using <a href="https://www.terraform.io/" target="_blank">Terraform</a>,
  <a href="https://www.docker.com/" target="_blank">Docker</a>,
  <a href="https://www.packer.io/" target="_blank">Packer</a>, and
  <a href="https://golang.org/" target="_blank">Go</a>.
</p>
<p>
  Gruntwork Packages work with:
</p>
<section class="clearfix">
  {% for technology in site.data.technologies %}
    {% capture image_path %}technologies/small/{{ technology.logo }}{% endcapture %}
    <div class="col col-4 sm-col-3 md-col-2 pr1 pb1 align-center">
      {% include image.html path=image_path alt=image.name class="valign-middle rounded bg-white p1" %}
    </div>
  {% endfor %}
</section>
<p class="mt2">
  Using a technology that's not listed here? <a href="mailto:{{ site.data.contact.email.url }}">Contact us</a> to see if we support it!
</p>