<section id="what-we-do" class="wrapper style3 fade-up">
  <div class="inner">
    <h2>What we do</h2>
    <p>
      At Gruntwork, we've taken the thousands of hours we spent building infrastructure on Amazon Web Services (AWS)
      and condensed all that experience and code into pre-assembled <strong>Infrastructure Packages</strong>. An
      Infrastructure Package is a reusable, battle-tested, documented, configurable, best-practices definition of a
      piece of infrastructure (for all the details, see
      <a href="#TODO!!" target="_blank">Gruntwork Infrastructure Packages: Control Your DevOps Code without Having to
      Write Most of It</a>).
    </p>
    <p>
      The Infrastructure Packages we have available are:
    </p>
    {% include packages.html %}
    <h2 class="mt4">
      About Gruntwork Infrastructure Packages
    </h2>
    <p class="mb2">
      Gruntwork Infrastructure Packages are:
    </p>
    <ul>
      {% for feature in site.data.package_features %}
        <li class="">
          <strong>{{ feature.label }}</strong>:
          {{ feature.description }}
        </li>
      {% endfor %}
    </ul>
    <div class="center mt4">
      <ul class="actions">
        <li><a href="#our-clients" class="button scrolly" data-event-category="Internal Link" data-event-action="click">Who's using Gruntwork Infrastructure Packages?</a></li>
      </ul>
    </div>
  </div>
</section>
