<section id="what-we-do" class="wrapper style3 fade-up">
  <div class="inner">
    <h2>What we do</h2>
    <p>
      At Gruntwork, we've taken the thousands of hours we spent building infrastructure on Amazon Web Services (AWS)
      and condensed all that experience and code into pre-assembled <strong>Infrastructure Packages</strong>. An
      Infrastructure Package is a reusable, battle-tested, documented, configurable, best-practices definition of a
      piece of infrastructure.
    </p>
    <h3 class="h2" id="packages">Infrastructure Packages</h3>
    <p>
      Here are the Infrastructure Packages we have available (click on a package to see its description and
      documentation):
    </p>
    {% include packages.html %}
    <h3 class="mt4 h2">
      Infrastructure Packages Features
    </h3>
    {% include features.html %}
    <h3 class="mt4 h2">
      Infrastructure Package Technologies
    </h3>
    {% include technologies.html %}
  </div>
</section>
