<section id="what-we-do" class="wrapper style3 fade-up">
  <div class="inner">
    <h2>What we do</h2>
    <p>
      At Gruntwork, we've taken the thousands of hours we spent building infrastructure on AWS for and condensed all
      that experience and code into <strong>pre-built packages</strong> that we offer to clients. These packages are:
    </p>
    <ul>
      <li>
        <strong>Proven.</strong> Take a look at the list of <a href="#our-clients" class="scrolly">clients using
        Gruntwork packages in production</a>. Instead of wasting months reinventing the wheel and hacking things
        together with duct tape and glue, take advantage of infrastructure that has been assembled by experts, follows
        best practices, and has proven itself in the real world.
      </li>
      <li>
        <strong>Tested.</strong> Each package goes through a series of automated tests before release. Each release
        follows SemVer principles.
      </li>
      <li>
        <strong>Documented.</strong> Each package comes with thorough documentation on how to use it. We also offer
        training on DevOps technologies and best practices for your team.
      </li>
      <li>
        <strong>Customizable.</strong> We work with your company to adapt the packages to your needs. We get most
        clients up and running on AWS in about 2 weeks.
      </li>
      <li>
        <strong>Supported.</strong> We offer a subscription service to on-going bug fixes and security updates for your
        packages, as well as access to all new packages that we develop.
      </li>
      <li>
        <strong>Yours.</strong> The code for all the packages lives in <em>your</em> codebase, so you can use and
        modify it however you want, forever. There is no vendor lock-in, no hidden fees, and no incomprehensible magic.
      </li>
    </ul>
    <p>
      Some of our most popular packages are:
    </p>
    <div class="features">
      {% for package in site.data.packages %}
        <section>
          <div class="clearfix">
            <i class="icon major {{ package.icon }} col"></i>
            <h3 class="col ml1">{{ package.title }}</h3>
          </div>
          <p>{{ package.description }}</p>
        </section>
      {% endfor %}
    </div>
  </div>
</section>
