<section id="who-we-are" class="wrapper style2 spotlights">
  <div class="inner">
    <h2>Who we are</h2>
    <div>
      We are a team of software engineers with expertise in DevOps, system architecture, scalability, software delivery,
      security, Amazon Web Services, and more. Our mission is to make it an order of magnitude easier to understand,
      develop, and deploy software. In just a couple weeks, we can get you up and running on AWS with world-class
      infrastructure and DevOps practices. We take care of all the "undifferentiated heavy lifting" so that your team
      can focus on the products and services unique to your company.
    </div>
  </div>
  <section>
    <a href="http://www.ybrikman.com/?ref=gruntwork-bio" target="_blank" class="image bg-cover">
      {% include image.html path="team/yevgeniy-brikman.jpg" alt="Yevgeniy Brikman" class="col-12 bg-cover" %}
    </a>
    <div class="content">
      <div class="inner">
        <h2>Yevgeniy (Jim) Brikman</h2>
        <p>
          Yevgeniy (Jim) Brikman is a co-founder of Gruntwork. He is the author of "Hello, Startup", a 600-page book on
          building products, technologies, and teams rated 4.9 / 5 stars on Amazon with over 20 reviews. Jim has more
          than a decade of experience building infrastructure and products, serving hundreds of millions of users, at
          LinkedIn, TripAdvisor, Cisco Systems, and Thomson Financial. He's also active in the open source community,
          maintains a popular blog, and has given talks at conferences all over the world.
        </p>
      </div>
    </div>
  </section>
  <section>
    <a href="https://joshpadnick.com/" target="_blank" class="image bg-cover">
      {% include image.html path="team/josh-padnick.jpg" alt="Josh Padnick" class="col-12 bg-cover" %}
    </a>
    <div class="content">
      <div class="inner">
        <h2>Josh Padnick</h2>
        <p>
          Josh Padnick is a co-founder of Gruntwork. He published a 12,000+ word guide to building scalable web apps
          on AWS which garnered 500+ upvotes on Hacker News, has presented on AWS and DevOps at numerous conferences
          and meetups, and built apps on AWS for 100,000+ users. Previously, he founded Omedix, a healthcare IT company
          that serves over 2,500 physicians nationwide.
        </p>
      </div>
    </div>
  </section>
  <section>
    <a href="{{ site.url }}" target="_blank" class="image">
      {% include logo.html class="col-12 bg-cover" %}
    </a>
    <div class="content">
      <div class="inner">
        <h2>The Gruntwork story</h2>
        <p>
          Gruntwork originally started out as two companies, Atomic Squirrel, founded by Jim, and Phoenix DevOps,
          founded by Josh. Jim and Josh met in 2015, realized they were working towards the same vision, and began
          working together. In 2016, after working with a number of clients and building up a library of reusable
          scripts, templates, and best practices, they merged the two companies together into Gruntwork.
        </p>
      </div>
    </div>
  </section>
</section>
