<section id="who-we-are" class="wrapper style2 spotlights">
  <section>
    <a href="http://www.ybrikman.com/?ref=atomic-squirrel-bio" class="image bg-cover" target="_blank">
      <img src="/assets/img/yevgeniy-brikman.jpg" alt="Yevgeniy Brikman" data-position="center center" />
    </a>
    <div class="content">
      <div class="inner">
        <h2>Yevgeniy (Jim) Brikman</h2>
        <p>
          <a href="http://www.ybrikman.com/?ref=atomic-squirrel-bio" target="_blank">Yevgeniy (Jim) Brikman</a> is the
          founder of <a href="{{ site.url }}">Gruntwork</a> and
          <a href="http://www.atomic-squirrel.net/?ref=gruntwork-bio" target="_blank">Atomic Squirrel</a>. He is the
          author of <a href="http://www.hello-startup.net/?ref=gruntwork-bio" target="_blank">Hello, Startup</a>, a
          comprehensive guide to building products, technologies, and teams in a startup environment. Jim has more than
          a decade of experience building infrastructure and products at LinkedIn, TripAdvisor, Cisco Systems, and
          Thomson Financial. He's also active in the
          <a href="https://github.com/brikis98/" target="_blank">open source community</a>,
          maintains a
          <a href="http://www.ybrikman.com/writing/?ref=gruntwork-bio" target="_blank">popular blog</a>,
          and has given
          <a href="http://www.ybrikman.com/speaking/?ref=gruntwork-bio" target="_blank">talks</a>
          at conferences all over the world. See
          <a href="http://www.ybrikman.com/?ref=gruntwork-bio">ybrikman.com</a>
          for more info.
        </p>
      </div>
    </div>
  </section>
  <section>
    <a href="https://joshpadnick.com/" class="image bg-cover" target="_blank">
      <img src="/assets/img/josh-padnick.jpg" alt="Josh Padnick" data-position="top center" />
    </a>
    <div class="content">
      <div class="inner">
        <h2>Josh Padnick</h2>
        <p>
          <a href="https://joshpadnick.com/" target="_blank">Josh Padnick</a> is the founder of
          <a href="{{ site.url }}">Gruntwork</a> and <a href="https://omedix.com/" target="_blank">Omedix</a>, and is a
          professional DevOps + AWS Consultant. He has helped a wide range of software teams to achieve DevOps success,
          including Intel, Infusionsoft, American Bible Society, and many others. He recently published a
          <a href="https://www.airpair.com/aws/posts/building-a-scalable-web-app-on-amazon-web-services-p1" target="_blank">12,000+ Word Guide to Building Scalable Web Apps on AWS</a>
          which garnered 500+ upvotes on Hacker News, has hosted 150+ websites on AWS, and built cloud apps on AWS for
          100,000+ users. See <a href="https://joshpadnick.com/" target="_blank">JoshPadnick.com</a> for more info.
        </p>
      </div>
    </div>
  </section>
  <section>
    <a href="{{ site.url }}" class="image" target="_blank">
      <img src="/assets/img/logo/hardhat-monster-logo-white-medium.png" alt="Gruntwork" data-position="center center">
    </a>
    <div class="content">
      <div class="inner">
        <h2>About Gruntwork</h2>
        <p>
          Gruntwork originally started out as two companies,
          <a href="http://www.atomic-squirrel.net/ref=gruntwork-what-we-do" target="_blank">Atomic Squirrel</a>, founded
          by Jim, and <a href="http://phoenixdevops.com/" target="_blank">Phoenix DevOps</a>, founded by Josh. Jim and
          Josh met in 2015, realized they were working towards the same vision, and began working together. In 2016,
          after working with a number of clients and building up a library of reusable scripts, templates, and best
          practices, they merged the two companies together into Gruntwork.
        </p>
        <p>
          Gruntwork's mission is to make it an order of magnitude easier to understand, develop, and deploy software.
          We do that by taking care of all the "undifferentiated heavy lifting" so that your team can focus on the
          products and services that are unique to your company.
        </p>
      </div>
    </div>
  </section>
</section>