<tr>
  <td style="width: 25%">&nbsp;</td>
  {% for pricing in page.pricing %}
  <td
    style="
      width: 25%;
      border-left: 1px solid #194c5f;
      border-right: 1px solid #194c5f;
      background-color: #252e3a
    "
    class="text-center"
  >
    <hr />
    {% if pricing.price == "Contact Us" %}
    <p class="h1 enterprise-h1">Contact Us</p>
    {% else %}
    <p class="big-price"><span>$</span>{{ pricing.price }}</p>
    <p class="help-block" style="margin-top: -9px">per month</p>
    {% endif %}
  </td>
  {% endfor %}
</tr>
<tr>
  <td style="width: 25%">&nbsp;</td>
  {% for pricing in page.pricing %}
  <td
    style="
      width: 25%;
      border-left: 1px solid #194c5f;
      border-right: 1px solid #194c5f;
      background-color: #252e3a;
    "
    class="text-center"
  >
    <p><a id="pricing-cta-aws" class="btn btn-info pricing-ctas" href="{{ page.permalink }}contact/?selection={{ pricing.title | slugify }}" ga-on="click" ga-event-category="{{ page.path | slugify }}" ga-event-action="select-cta">Request Access</a></p>
    <p class="text-muted small">
      <em>
        {% if pricing.private_beta %}
        Currently in private beta.<br />
        {% endif %}
        Annual subscription.
      </em>
    </p>
  </td>
  {% endfor %}
</tr>
