---
layout: landing
type: landing
slug: index-page

title: Amazon EKS for Enterprise Early Access
excerpt: Sign up now for early access to Amazon EKS for Enterprise! Early access subscribers will receive exclusive benefits and a significantly reduced subscription price.
permalink: /eks-for-enterprise/pricing/

categories:
  - title: Feature
    features:
      - name: IaC Library
        description: Every Amazon EKS for Enterprise subscription also includes complete access to the Gruntwork Infrastructure as Code Library.
        plans: ["Standard", "Early Access"]
      - name: Reference Architecture
        description: Optionally, you can run enterprise-grade EKS clusters on the Gruntwork Reference Architecture, an end-to-end tech stack, controlled entirely as code, deployed directly to your AWS accounts.
        available: now
        plans: ["Standard", "Early Access"]
      - name: CIS Benchmark
        description: Optionally, entirely Amazon EKS clusters that have been hardened according to the CIS Benchmark for Kubernetes and CIS Benchmark for Amazon EKS, all defined as Terraform code.
        plans: ["Standard", "Early Access"]
      - name: Service Mesh
        description: "Deploy and configure a service mesh technology of your choice to enable service-to-service communication with security, flexibility, and observability. Examples: Istio, Consul Connect, AWS App Mesh."
        plans: ["Standard", "Early Access"]
      - name: Kubernetes Native CI/CD
        description: "Deploy your apps using GitOps practices with Kubernetes native tooling. Employ techniques such as canary deployments, feature flags, and staggered deployments, with built-in notifications and alerts. Examples: Flux, Argo CD."
        plans: ["Standard", "Early Access"]
      - name: Self-service Dashboard
        description: "Have your team deploy apps using self-service dashboards that track deployment progress and provide error messages right in the UI. Examples: Argo CD Dashboard, Lens."
        plans: ["Standard", "Early Access"]
      - name: Metrics Aggregation
        description: "Instrument your apps and ship metrics to metrics aggregation services. Query metrics along multiple dimensions and create dashboards to view app behavior. Examples: Prometheus, Datadog, CloudWatch."
        plans: ["Standard", "Early Access"]
      - name: Log Aggregation
        description: "Ship all container logs to a central location. Query, inspect, and stream all logs from a single location. Examples: Datadog, Elastic Stack, CloudWatch."
        plans: ["Standard", "Early Access"]
      - name: Pluggable deployment strategies
        description: Deploy your apps using a variety of industry standard deployment techniques, including canary releases and blue/green deploys. Institute automatic rollbacks in the event of a deployment failure or error condition.
        plans: ["Standard", "Early Access"]
      - name: Cloud-native sample apps
        description: "A complete sample application demonstrating how to deploy and optimize various applications.  Examples: Spring boot, Ruby on Rails, Django."
        plans: ["Standard", "Early Access"]
      - name: Prioritized access
        description: As an early access subscriber, you will have prioritized access to specific tools and technologies. Gruntwork will work with you to ensure your chosen tools are supported first.
        plans: ["Early Access"]
  - title: Support
    features:
      - name: Community forum
        description: Access to a community Slack channel where Gruntwork customers can ask for assistance from other community members and Gruntwork engineers
        plans: ["Standard", "Early Access"]
      - name: Private shared Slack Channel
        description: A dedicated Slack channel for fast, private access to support from Gruntwork engineers
        plans: ["Early Access"]
      - name: SLA on response times
        description: Gruntwork will provide SLAs to guarantee you the fastest support possible
        plans: ["Early Access"]

pricing:
  - title: Standard
    description: Wait until Gruntwork Enterprise EKS is generally available (GA)
    disabled_price: "9,950"
    price_styles: "color: red; text-decoration: line-through;"
    image_styles: "max-width: 150px; margin-top: 18px;"

  - title: Early Access
    description: Sign up for early access to Gruntwork Enterprise EKS now!
    price: "5,950"
    image: /assets/img/grunty-enterprise-logo@2x.png
    image_styles: "max-width: 150px; margin-top: 10px"
---

<div class="main page-pricing">
  <div class="section page-pricing-header">
    {% include_relative _hero.html %}
  </div>
  <div class="section-dark">
    <div class="container">
      {% include_relative _plans.html %}
      {% include_relative _benefits.html %}
    </div>
  </div>
</div>
