---
layout: landing
type: landing
slug: index-page

title: Pick a plan
excerpt: Pick the plan just right for your team.
permalink: /eks-for-enterprise/pricing/

categories:
  - title: EKS
    features:
      - name: Control plane
        description: Support for configuring, deploying, and managing the EKS control plane.
        plans: ["Standard", "Enterprise"]
      - name: Worker nodes
        description: "Support for deploying any of the three worker node types: self-managed ASG, EKS Managed Node Groups, and Fargate."
        plans: ["Standard", "Enterprise"]
      - name: Core services
        description: Suite of core Kubernetes applications every EKS cluster should have, including AWS LoadBalancer controller, external-dns, cluster-autoscaler, and more.
        plans: ["Standard", "Enterprise"]
      - name: Standard CI/CD
        description: Support for setting up an infrastructure CI/CD pipeline using traditional CI services (e.g., Jenkins, CircleCI, GitLab CI, etc).
        plans: ["Standard", "Enterprise"]
      - name: Standard monitoring
        description: Support for metric and log aggregation to AWS CloudWatch.
        plans: ["Standard", "Enterprise"]
      - name: Standard deployment models
        description: Support for rolling deployments where a configurable number of service Pods are replaced at a time.
        plans: ["Standard", "Enterprise"]
      - name: Standard networking
        description: Support for AWS VPC based networking for Kubernetes Pods.
        plans: ["Standard", "Enterprise"]
      - name: Standard auto scaling
        description: Support for EKS worker node auto scaling throught the Kubernetes cluster-autoscaler.
        plans: ["Standard", "Enterprise"]
      - name: Enterprise CI/CD
        description: Support for CI/CD workflows using Kubernetes native services such as Argo CD and Flux.
        plans: ["Enterprise"]
      - name: Enterprise monitoring
        description: Support for metric and log aggregation through various 3rd party and in-cluster options, such as DataDog, Prometheus, Grafana, Elastic Stack, etc.
        plans: ["Enterprise"]
      - name: Enterprise deployment models
        description: Support for wide range of deployment models including canary, blue/green, automatic rollbacks, etc.
        plans: ["Enterprise"]
      - name: Enterprise networking
        description: Support for wide range of Pod networking options including Calico and Service Mesh.
        plans: ["Enterprise"]
      - name: Enterprise auto scaling
        description: Support for configuring and managing vertical and horizontal Pod auto scaling. Customized cluster auto-scaling based on server metrics.
        plans: ["Enterprise"]
      - name: Self-service UI
        description: Friendly developer interface for managing and deploying application services on to the EKS cluster using a self-service dashboard such as Argo CD and Lens.
        plans: ["Enterprise"]
  - title: Security
    features:
      - name: Server hardening
        description: Implement security best practices on servers. Includes streamlined support for OS hardening, SSH key management via IAM, fail2ban, NTP, and more.
        plans: ["Standard", "Enterprise"]
      - name: Sealed Secrets
        description: Manage Kubernetes secrets as code by sealing them in your repositories with AWS KMS encryption.
        plans: ["Standard", "Enterprise"]
      - name: Authentication and Authorization
        description: AWS IAM based authentication to Kubernetes API with RBAC role mapping support.
        plans: ["Standard", "Enterprise"]
      - name: Container Security Scanning
        description: Security scanning for container images through AWS ECR.
        plans: ["Standard", "Enterprise"]
      - name: Standard encryption
        description: Support for end to end encryption through self-signed certificates managed with in-cluster (through cert-manager) and out-of-cluster (through CLI tools) management.
        plans: ["Standard", "Enterprise"]
      - name: Enterprise encryption
        description: Support for end to end encryption with mutual TLS auth through service meshes.
        plans: ["Enterprise"]
      - name: Service communication ACLs
        description: Support for cross service ACL support through service meshes and Network Security Policies.
        plans: ["Enterprise"]
      - name: OPA policies
        description: Support for enforcing organization governance and compliance through Open Policy Agent.
        plans: ["Enterprise"]
      - name: Harbor registry
        description: Deploy a hardened, trusted, private registry service for serving Container Images and Helm Charts with OPA policy enforcement and advanced security scanning.
        plans: ["Enterprise"]
      - name: EKS hardening
        description: Harden your EKS cluster with industry best practices through Network and Pod Security Policies.
        plans: ["Enterprise"]
  - title: Compliance standards
    features:
      - name: AWS Well-Architected
        description: Deploy infrastructure that follows AWS guidelines with latest industry best practices.
        plans: ["Standard", "Enterprise"]
      - name: CIS AWS Foundations Benchmark
        description: Deploy infrastructure that is compliant out-of-the-box with the CIS AWS Foundations Benchmark. The CIS AWS Foundations Benchmark is an objective, consensus-driven guideline for establishing secure infrastructure on AWS.
        plans: ["Enterprise"]
      - name: CIS EKS Benchmark
        description: Deploy EKS clusters that are compliant out-of-the-box with the CIS EKS Benchmark. The CIS EKS Benchmark is an objective, consensus-driven guideline for establishing a secure EKS cluster.
        plans: ["Enterprise"]
  - title: Other infrastructure
    features:
      - name: IaC Library
        description: Access a collection of over 300,000 lines of reusable, battle-tested, production-ready infrastructure code for AWS.
        plans: ["Standard", "Enterprise"]
      - name: Reference Architecture
        description: Deploy an opinionated, end-to-end tech stack built on top of the Infrastructure as Code Library into your AWS accounts in about one day.
        plans: ["Standard", "Enterprise"]
  - title: Support
    features:
      - name: DevOps Training Library
        description: Library of video training courses that teach a variety of DevOps topics, such as infrastructure as code, Terraform, Docker, Packer, AWS, GCP, security, and more.
        plans: ["Standard", "Enterprise"]
      - name: Commercial maintenance and support
        description: All infrastructure modules receive continuous updates that are commercially maintained by a team of DevOps experts.
        plans: ["Standard", "Enterprise"]
      - name: Community forum
        description: Access to a community Slack channel where Gruntwork customers can ask for assistance from other community members and Gruntwork engineers
        plans: ["Standard", "Enterprise"]
      - name: Private shared Slack Channel
        description: A dedicated Slack channel for fast, private access to support from Gruntwork engineers
        plans: ["Enterprise"]
      - name: SLA on response times
        description: Gruntwork will provide SLAs to guarantee you the fastest support possible
        plans: ["Enterprise"]
      - name: Prioritized bug fixes
        description: Gruntwork engineers will prioritize your bug fixes
        plans: ["Enterprise"]
  - title: Limits
    features:
      - name: Users
        description: The number of users you can have on this plan. A user is a human or machine that accesses the Gruntwork code repos, training materials, or support services.
        values:
          Standard: 20
          Enterprise: Unlimited


pricing:
  - title: Standard
    description: For startups and small businesses planning on running a few apps.
    price: "795"
    image: /assets/img/grunty-pro@2x.png
    image_styles: "max-width: 150px; margin-top: 18px;"

  - title: Enterprise
    description: For larger businesses and enterprises looking to run many apps.
    price: "Contact Us"
    image: /assets/img/grunty-enterprise-logo@2x.png
    image_styles: "max-width: 150px; margin-top: 10px"
    private_beta: true

faq:
  - question: Is an annual subscription required?
    answer: |
      <p>
        Gruntwork Enterprise EKS requires an annual subscription, though we can bill you either annually or monthly. Why an annual subscription? We give you access to all the code to run your infrastructure on day 1, and we let you keep that code even if you cancel. If we didn't have the annual subscription requirement, customers could sign up for one day, get access to all the code, and cancel immediately.
        </p>
      <p>
        However, we offer a 30-day money back guarantee, so if for any reason you're not happy after signing up, we'll let you out of the annual subscription and refund 100% of your money in the first 30 days.
      </p>

  - question: What if I want to cancel my Gruntwork Subscription?
    answer: |
      <p>
        We offer a 30-day money-back guarantee. You can try out Gruntwork Enterprise EKS, and if you're not happy for any reason, you can cancel within the first 30 days, and we'll let you out of the annual subscription and refund 100% of your money.
      </p>
      <p>
        Note that if you cancel in the first 30 days, you lose the license to the code in the Infrastructure as Code Library, so you must stop using it and delete any references to it; on the other hand, if you do stick with the annual subscription, and cancel after at least one year, you can keep using all the code you had been using up to that point.
      </p>

  - question: What if I am already a Gruntwork customer?
    answer: |
      <p>
        If you are already a subscriber to Gruntwork for AWS, you already have the same level of access as Gruntwork Standard. You can contact us using the form above to inquire about upgrading to Gruntwork Enterprise to get early access to Gruntwork Enterprise EKS features. Be sure to mention that you are a current subscriber on the contact form!
      </p>

  - question: What happens to my code if I cancel my subscription?
    answer: |
      <p>
        If you cancel within the first 30 days, we'll refund 100% of your money and let you out of the annual subscription, but you lose the license to the code in the Infrastructure as Code Library, so you must stop using it and delete all copies of the code.
      </p>
      <p>
        If, however, you remain a subscriber for at least 12 months, the license allows you to fork and modify the code and create derivative works as much as you want, and even if you cancel your subscription, you can keep using all the code you had been using up to that point. We recommend that prior to canceling, you make copies of all the repos in the Infrastructure as Code Library into your own version control system. After you cancel your Gruntwork Subscription, you'll no longer have access to the customer portal UI, or any of the updates, additions, and fixes we make to the Infrastructure as Code Library, support from the Gruntwork team, security alerts, and any other subscription benefits. However, your infrastructure will continue to work just fine and you'll still have all the code you had been using up to that point.
      </p>

  - question: How does the private beta work?
    answer: |
      <p>
        We are currently testing this product out on an invite-only basis with select customers. If you're interested in joining the beta, please request access, and we'll get in touch when the product is available to you!
      </p>

  - question: What's a user?
    answer: |
      <p>
        A user is any human or machine that makes use of Gruntwork's services, including using the Gruntwork Customer
        Portal, accessing code from the Infrastructure as Code Library, or submitting requests to support.
      </p>

---

<div class="main page-pricing">
  <div class="section page-pricing-header">
    {% include_relative _hero.html %}
  </div>
  <div class="section-dark">
    <div class="container">
      {% include_relative _plans.html %}
      {% include_relative _benefits.html %}
      {% include_relative _faq.html %}
    </div>
  </div>
</div>
