.promo {
  @include make-row();

  /* @see http://stackoverflow.com/a/25517025/1955940 */

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.promo__narrow {
  @include make-sm-column(5);
}
.promo__wide {
  @include make-sm-column(7);
}

.promo__narrow--reverse {
  @include make-sm-column(5);
  @include make-sm-column-push(7);
}
.promo__wide--reverse {
  @include make-sm-column(7);
  @include make-sm-column-pull(5);
}

.promo__img {
  width: 120%;
  display: block;
  margin: 0 auto;

  @media (max-width: 767px) {
    width: 100%
  }
  @media (min-width: 768px) {
    margin-left: -50px;
  }
}

.promo__wide--reverse,
.promo__narrow--reverse,
.promo__narrow,
.promo__wide {
  margin-top: 50px;
  margin-bottom: 50px;
}

.promo__list {
  font-weight: lighter;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 30px;
}

.promo__text {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.promo__cta {
  font-weight: bold;
  font-size: 14px;
}

.promo__heading {
  font-family: 'Dosis';
  font-size: 32px;
  font-weight: lighter;
  margin-bottom: 10px;
  line-height: 40px;
}

.tech-list {
  margin-top: 80px;
}
.tech-list__item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.hero {
  @extend .row;

  @media (min-width: 1200px) {
    .heading__lead {
      white-space: nowrap;
      margin: 0;
    }
  }
}
.hero-cta {
  @include make-sm-column(12);
  padding: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}
.hero__left {
  @include make-sm-column(5);
  margin-top: 50px;
}
.hero__right {
  @include make-sm-column(7);
  text-align: right;
}

.hero__img {
  @media (min-width: 768px) {
    margin-right: -18%;
    display: inline;
  }
}

.help {
  @include make-row();
}
.help__container,
.case-studies__container,
.posts__container {
  margin-top: 50px;
}
.case-studies__container {
  text-align: left;
}
.case-study__link {
  font-size: 16px;
}
.help,
.posts,
.case-studies {
  text-align: center;
  margin-top: 100px;
}

.partners {
  @include make-row();
  text-align: center;
  margin-top: 70px;
  margin-bottom: 100px;
}

.partners__item {
  @include make-sm-column(6);
  @include make-sm-column-offset(3);
  margin-top: 20px;
  padding: 20px;
  border-right: 1px solid rgba(255,255,255,0.5);

  &:last-child {
    border: none;
  }
}
.img-placeholder {
  text-align: center;
}

.posts__container {
  @include make-row();

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    /* Safari fix !?!? */
    &:before {
      display: initial;
    }
  }
}
.post {
  @include make-sm-column(6);

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  text-align: left;
  margin-top: 40px;
  margin-bottom: 20px;
}

.post__title {
  font-family: 'Dosis';
  font-weight: lighter;
  font-size: 26px;
  margin-bottom: 5px;
  color: white;

  &:hover {
    text-decoration: underline;
    color: inherit;
  }
}

.post__body {
  color: rgba(255,255,255,0.5);
  flex: 1;
  margin-bottom: 10px;
}

.post__date {
  font-size: 15px;
  margin-bottom: 10px;
}

.post__link {
  font-size: 16px;
}
