@import "../bootstrap/less/bootstrap.less";


.checkout-page-header {
  text-align: center;
  background: linear-gradient(to bottom, #1a232d, #2e3b4a);
  padding-bottom: 60px;
}

.checkout-help-notification {
  width: 103%;
  margin-left: -.8em;
}

.checkout-panel {
  .checkout-panel-left {
    .sub-panel {
      background-color: #1D252F;
      line-height: 1;
      width: 110%;
      margin-left: -23px;

      @media (max-width: @screen-md-max) {
        width: 105%;
        margin-left: -15px;
      }

      @media (max-width: @screen-sm-max) {
        width: 100%;
        margin-left: 0px;
      }

      .addon-amount {
        font-size: 66px;
        font-weight: bold;
      }
      .addon-duration {
        margin-top: -25px;
        color: white;
        font-size: 14px;
      }
      .addon-type {
        font-size: 36px;
      }

      hr {
        border: 2px solid #194c5f;
      }
    }
  }
}
