.page-pricing {

  .page-pricing-header {
    text-align: center;
    background: linear-gradient(to bottom, #1a232d, #2e3b4a);
  }

  // The description of under the plan name
  .plans-heading {
    p.description {
      font-size: 1.7rem;
      @extend .margin-bottom-none;
    }
  }

  // Logo above standard pricing plan
  .gw-sprite-standard {
    background-image: url(/assets/img/aws-logo@2x.png);
    background-size: 108px 100px;
    background-position: 36px 0;
    background-repeat: no-repeat;
    width: 180px;
    height: 100px;
  }

  .enterprise-h1 {
    margin-top: 32px;
    font-weight: bold;
  }

  // Pro Support
  .pro-support {
    ul.check-list {
      text-align: left;
    }
  }

  .refarch-contact-ctas {
    margin-top: 20px;
  }

  .btn.pricing-ctas {
    min-width: 180px;
  }
}

.need-help-text {
  display: inline;
  margin-right: .7em;
}

.need-help-button {
  margin-bottom: .6em;
}

@media (max-width: $screen-xs-max) {
  .need-help-button {
    margin: 2em;
  }
}

.pricing-steps {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  counter-reset: item;
  padding: 0;

  li::before {
    content: counter(item) " ";
    border: 1.5px solid;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: .5em;
  }
  li {
    margin: .8em;
    counter-increment: item;
    font-weight: 700;
  }
  // Style for "Select Plan" step on pricing page
  .current-step::before {
    border: none;
    color: #06a2ff;
    background-color: white;
  }
  .current-step-icon, .completed-step-icon {
    color: #06a2ff;
  }
  // Style for "Select Plan" step on checkout page
  .completed-step::before {
    border: none;
    content: '\f00c';
    font-family: FontAwesome;
    font-size: .8em;
    color: white;
    background-color: #06a2ff;
  }
}
