//@import "../bootstrap/stylesheets/bootstrap";

.page-pricing {

  .page-pricing-header {
    text-align: center;
    background: linear-gradient(to bottom, #1a232d, #2e3b4a);
  }

  // The description of under "Gruntwork for AWS" or "Gruntwork for GCP"
  .plans-heading {
    p.description {
      font-size: 1.7rem;
      @extend .margin-bottom-none;

      // Add the position property so that #gcp-new has an element to be positioned relative to. This property has no
      // effect on this element itself.
      position: relative;

      #aws-plan {
        margin-top:48px;
      }
    }
  }

  // Center the "New" badge just above the text and below the GCP logo
  #gcp-new {
    position: absolute;
    left: 50%;
    bottom: -29px;
    transform: translateX(-50%);
  }

  // Center the "Special Pricing" badge just above the GCP price
  #gcp-special-pricing {
    font-size: 1.3rem;
    margin-top: -13px;
  }

  // GCP and AWS Logos above pricing plans
  .gw-sprite-gcp {
    background-image: url(/assets/img/gcp-logo@2x.png);
    background-size: 120px 100px;
    background-position: 30px -5px;
    background-repeat: no-repeat;
    width: 180px;
    height: 100px;
  }

  .gw-sprite-aws {
    background-image: url(/assets/img/aws-logo@2x.png);
    background-size: 108px 100px;
    background-position: 36px 0;
    background-repeat: no-repeat;
    width: 180px;
    height: 100px;
  }

  .enterprise-h1 {
    margin-top: 12px;
  }

  // Pro Support
  .pro-support {
    ul.check-list {
      text-align: left;
    }
  }

  // Houston
  .houston-features {
    min-height: 316px;
  }

  .pricing-help-notification {
    width: 103%;
    margin-left: -.8em;
  }

  .refarch-contact-ctas {
    margin-top: 20px;
  }
}

.need-help-text {
  display: inline;
  margin-right: .7em;
}

.need-help-button {
  margin-bottom: .6em;
}

.pricing-steps {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  counter-reset: item;

  li::before {
    content: counter(item) " ";
    border: 1.5px solid;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: .5em;
  }
  li {
    margin: .8em;
    counter-increment: item;
    font-weight: 700;
  }
  // Style for "Select Plan" step on pricing page
  .current-step::before {
    border: none;
    color: #06a2ff;
    background-color: white;
  }
  .current-step-icon, .completed-step-icon {
    color: #06a2ff;
  }
  // Style for "Select Plan" step on checkout page
  .completed-step::before {
    border: none;
    content: '\f00c';
    font-family: FontAwesome;
    font-size: .8em;
    color: white;
    background-color: #06a2ff;
  }
}
