.page-pricing {

  .pricing-table {
    ul {
      padding: 0;
      margin: 0;
      position: relative;
      .sticky-li {
        position: sticky;
        top: 0;
        background-color: #1d252e;
      }

      li {
        padding: 12px 16px;
        border-radius: 6px;
        &:nth-child(even) {
          background: #222932;
        }

        .badge {
          background-color: #2B3745;
          border-radius: 5px;
          padding: 4px 8px;
          color: #bfbfbf;
          font-weight: 400;
        }
      }
    }
  }

  .page-pricing-header {
    text-align: center;
    margin-bottom: -30px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .grid-item-center {
      display: grid;
      align-items: center;
      justify-content: center;
      vertical-align: middle;
    }

    label {
      color: #bfbfbf;
      margin-bottom: 0;
    }

    &.grid-vertical-center {
      align-items: center;
      vertical-align: middle;
    }

    @media screen and (max-width: $screen-md) {
      .light {
        font-size: 16px;
      }
      
      &.pricing-card-wrapper {
        grid-template-columns: 1fr 1fr;
        .empty-grid-col {
          display: none;
        }
      }
    }

    @media screen and (max-width: $screen-sm) {
      grid-template-columns: 1fr 1.15fr .85fr;
      .light {
        font-size: 14px;
        line-height: 20px;
      }
    }

    @media screen and (max-width: 590px) {
      &.pricing-card-wrapper {
        grid-template-columns: 1fr;
        .empty-grid-col {
          display: none;
        }

        .pricing-card {
          margin-bottom: 16px;
          .small {
            font-size: 12px;
          }

          .flex-middle {
            width: 100%;
            justify-content: stretch;
          }
          
          form, button, .btn {
            width: 100%;
            max-width: 100%;
          }
        }
      }
    }
  }

  .pricing-row {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    .help-block {
      margin-bottom: 9px;

      @media screen and (max-width: $screen-sm) {
        margin-bottom: 7px;
      }
    
      @media screen and (max-width: 590px) {
        margin-bottom: 5px;
      }
    }
  }

  .plans-heading {
    padding: 0 12px;
    h2 {
      margin-bottom: 18px;
      font-size: 36px;

      @media screen and (max-width: $screen-md) {
        font-size: 24px;
      }

      @media screen and (max-width: $screen-sm) {
        font-size: 20px;
      }

      @media screen and (max-width: $screen-xs) {
        font-size: 16px;
      }
    }
  }

  .plans-features {
    hr {
      margin: 0;
      border-color: #1A4C60;
      &.with-margin {
        margin: 18px 0 12px;
      }
    }

    .pricing-checkbox-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: left;
      input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 17px; /* Adjust the size of the checkbox */
        height: 17px; /* Adjust the size of the checkbox */
        border: 1px solid #284B5D; /* Default border color */
        border-radius: 3px;
        outline: none;
        margin-right: 12px;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 10px; /* Adjust the size of the custom checkmark */
          height: 10px; /* Adjust the size of the custom checkmark */
          background-image: url("/assets/img/custom-checkmark.svg"); /* Replace with the path to your custom checkmark image */
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          opacity: 0;
        }

        &:checked {
          background-color: #03C5E7;
          border-color: #03C5E7;

          &::before {
            opacity: 1;
          }
        }
      }

      @media screen and (min-width: $screen-sm) {
        min-width: 170px;
      }

      @media screen and (max-width: 628px) {
        min-width: auto;
        flex-direction: column;
        input {
          margin-right: 0;
          margin-bottom: 4px;
        }
      }
    }

    .pricing-checkbox-wrapper-auto {
      @media screen and (min-width: $screen-sm) {
        min-width: auto;
      }
    }
  }

  .gw-pricing {
    position: relative;

    @media screen and (max-width: $screen-sm) {
      .plans-heading {
        background-color: #1d252e;
        position: sticky;
        top: -26px;
        z-index: 1;
      }
    }
  }

  .pricing-help-notification {
    margin: 80px 0;
  }

  .list-price-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  .popular-badge {
    position: absolute;
    right: -24px;
    top: -8px;
    padding: 4px 8px;
    line-height: normal;
    font-weight: 700;
    border: 1px solid #1A4C60;
    border-radius: 4px;

    @media screen and (max-width: $screen-md) {
      font-size: 16px;
      right: -32px;
    }

    @media screen and (max-width: $screen-sm) {
      position: static;
      font-size: 14px;
      margin-bottom: 10px;
    }
  }

  .pricing-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    background-color: #222932;
    border-radius: 6px;
    &.pricing-card-with-image {
      flex-direction: row;
      align-items: stretch;
      @media screen and (max-width: $screen-sm) {
        flex-direction: column;
        padding: 16px;
        border: 1px solid #1A4C60;
      }

      .pricing-card-image {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 34px;
        padding: 88px 44px;
        border-radius: 10px;
        background: #1C2129;
        img {
          object-fit: contain;
        }

        @media screen and (max-width: $screen-sm) {
          width: 100px;
          padding: 0;
          background-color: transparent;
          margin-right: 0;
        }
      }
    }

    .row-reverse-mobile {
      display: flex;
      flex-direction: column;
    }

    form {
      margin-bottom: 15px;
    }

    .annual-contract-p {
      max-width: 30ch;
    }

    @media screen and (max-width: $screen-sm) {
      .annual-contract-p {
        max-width: 28ch;
      }
    }

    @media screen and (max-width: 590px) {
      margin-right: 0!important; // Needs to override element style
      margin-left: 0!important; // Needs to override element style

      .annual-contract-p {
        max-width: 100%;
      }

      form {
        margin-bottom: 6px;
      }

      .row-reverse-mobile {
        flex-direction: column-reverse;
      }
    }
  }

  // Logo above standard pricing plan
  .gw-sprite-standard {
    background-image: url(/assets/img/grunty-pricing.png);
    background-size: 75%;
    background-position: bottom center;
    background-repeat: no-repeat;
    width: 250px;
    height: 180px;
    margin: auto;
    z-index: 2;
    position: relative;
  }

  // Pro Support
  .pro-support {
    ul.check-list {
      text-align: left;
    }
  }

  .refarch-contact-ctas {
    margin-top: 20px;
  }

  .btn.pricing-ctas {
    min-width: 180px;
  }

  @media screen and (max-width: $screen-sm) {
    .plans-wrapper {
      padding: 0;
    }
    .medium-price {
      font-size: 24px;
    }
  }

  @media screen and (min-width: 590px) {
    .hide-above-screen-sm {
      display: none;
    }
  }

  @media screen and (max-width: 590px) {
    .medium-price {
      font-size: 18px;
    }

    .hide-on-screen-sm {
      display: none;
    }
  }
}

.need-help-text {
  display: inline;
  margin-right: .7em;
}

.need-help-button {
  margin-bottom: .6em;
}

@media (max-width: $screen-xs-max) {
  .need-help-button {
    margin: 2em;
  }
}

.pricing-steps {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  counter-reset: item;
  padding: 0;

  li::before {
    content: counter(item) " ";
    border: 1.5px solid;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: .5em;
  }
  li {
    margin: .8em;
    counter-increment: item;
    font-weight: 700;
  }
  // Style for "Select Plan" step on pricing page
  .current-step::before {
    border: none;
    color: #06a2ff;
    background-color: white;
  }
  .current-step-icon, .completed-step-icon {
    color: #06a2ff;
  }
  // Style for "Select Plan" step on checkout page
  .completed-step::before {
    border: none;
    content: '\f00c';
    font-family: FontAwesome;
    font-size: .8em;
    color: white;
    background-color: #06a2ff;
  }
}

#add-ons-table td {
  padding: 0px 15px;
}

.table-tooltip {
  z-index: 90;
  min-width: 200px;
  display: none;
  position: absolute;
  bottom: 120%;
  left: 30%;
  transform: translateX(-50%);
  font-size: $font-size-small;
  border-radius: 8px;
  transition: all ease;
  @media screen and (max-width: $screen-sm)  {
    font-size: 14px;
    left: 70%;
    min-width: 150px;
  }

  &::after {
    content: url(/assets/img/vector-tooltip.png);
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    @media screen and (max-width: $screen-sm)  {
      bottom: -10px;
    }
  }
}

span.light {
  position: relative;
}

.grid-container {
  position: relative;
  margin-bottom: 1px;
}

.highlight {
  border: transparent 1px solid;
}

.grid-container.highlight:hover {
  border: #1A4C60 1px solid;
  transition: all ease;
}

.grid-container.highlight:hover span{
  transition: all ease;
  color: white;
}