{% if pass == "yes" %}
<img
  style="max-width: 40px; margin: 10px"
  src="/assets/img/table-icons/green-check.png"
/><br>Available now
{% elsif pass == "soon" %}
<img
  style="max-width: 40px; margin: 10px"
  src="/assets/img/table-icons/dotted-check.png"
/><br>Coming soon
{% elsif pass == "no" %}
<img
  style="max-width: 40px; margin: 10px"
  src="/assets/img/table-icons/red-cross.png"
/><br>Not included
{% else %}
<img
  style="max-width: 40px; margin: 10px"
  src="/assets/img/table-icons/red-cross.png"
/><br>{{ pass }}
{% endif %}
