<h2>Why use Gruntwork?</h2>
<p>
  For five years now we've been helping hundreds of customers get to prod faster
  and easier - in about a day. Here's a rundown of how Gruntwork compares to the
  two most common alternatives you may consider: doing it yourself or hiring a
  consultant:
</p>
<style>
  #hipaa.table tr:nth-child(odd) td:last-child {
    background-color: rgb(31, 59, 82);
  }
  #hipaa.table tr:nth-child(even) td:last-child {
    background-color: rgb(23, 51, 77);
  }
</style>
<div class="table-responsive">
  <table class="table table-striped" id="hipaa">
    <thead>
      <tr>
        <th></th>
        <th>Do it yourself</th>
        <th>Consultant</th>
        <th>Gruntwork</th>
      </tr>
    </thead>
    <tbody>
      {% for package in site.data.hipaa-diy-or-gruntwork %} {% capture id %}{{
      package.requirement | replace: " ", "_" | replace: ")", "_" | replace:
      "(", "_" }}" class="table-clickable-row" data-toggle="modal"
      data-target="#modal-{{ package.name | replace: " ", "_" | replace: "(",
      "_" | replace: ")", "_" }}{% endcapture %}
      <tr>
        <td style="width: 25%; color: white">{{ package.item}}</td>
        <td>{{ package.build_it_yourself }}</td>
        <td>
          <!-- Consultant -->
          {{ package.consultant }}
          <!-- End of Consultant  -->
        </td>
        <td>
          <!-- Gruntwork -->
          {{ package.gruntwork }}
          <!-- Gruntwork -->
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
