<h2>We did the heavy lifting for you</h2>
<p>Achieve HIPAA compliance out-of-the-box, so you can go live in fractions of the time with Gruntwork's world-class, production-grade infrastructure.</p>
<style>
  #hipaa.table tr:nth-child(odd) td:last-child {
    background-color: rgb(31, 59, 82);
  }
  #hipaa.table tr:nth-child(even) td:last-child {
    background-color: rgb(23, 51, 77);
  }
</style>
<table class="table table-striped" id="hipaa">
  <thead>
    <tr>
      <th>Requirements</th>
      <th>Description</th>
      <th>DIY</th>
      <th>Base</th>
      <th>CIS</th>
      <th>HIPAA</th>
    </tr>
  </thead>
  <tbody>
    {% for package in site.data.hipaa %} {% capture id %}{{ package.requirement
    | replace: " ", "_" | replace: ")", "_" | replace: "(", "_" }}"
    class="table-clickable-row" data-toggle="modal" data-target="#modal-{{
    package.name | replace: " ", "_" | replace: "(", "_" | replace: ")", "_"
    }}{% endcapture %}
    <tr>
      <td style="width:25%; color:white">{{ package.requirement }}</td>
      <td >{{ package.description | truncate: 100 }}</td>
      <td>
        <!-- Do it yourself -->
        {% assign pass = package.build_it_yourself %} {% assign time =
        package.build_it_yourself_time %} {% include_relative
        _yes-no-table-cell.html pass = pass time = time %}
        <!-- End Do it yourself -->
      </td>
      <td>
        <!-- Ref Arch Base -->
        {% assign pass = package.ref_arch_base %} {% assign time =
        package.ref_arch_base_time %} {% include_relative
        _yes-no-table-cell.html pass = pass time = time %}
        <!-- End Ref Arch Base -->
      </td>
      <td>
        <!-- Ref Arch CIS -->
        {% assign pass = package.ref_arch_cis %} {% assign time =
        package.ref_arch_cis_time %} {% include_relative _yes-no-table-cell.html
        pass = pass time = time %}
        <!-- End Ref Arch CIS -->
      </td>
      <td>
        <!-- Ref Arch HIPAA -->
        {% assign pass = package.ref_arch_hipaa %} {% assign time =
        package.ref_arch_hipaa_time %} {% include_relative
        _yes-no-table-cell.html pass = pass time = time %}
        <!-- End Ref Arch HIPAA -->
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
