<h2>What's included</h2>
<div class="col-xs-12">
    {% for item in page.whats_included %}
    <div class="row row-features-group">
        <div style="border: 1px solid #194c5f; background-color: #242e3b; padding: 15px 20px; margin-bottom:20px;">
            <h3>{{ item.heading }}</h3>
            <h6>Requirement {{ item.req }}</h6>
            <p>{{ item.body }}</p>
            <p>
                <!-- Availability -->
                {% assign pass = item.available %} {% include_relative
                _availability-table-cell.html pass = pass %}
                <!-- End Availability -->
            </p>
        </div>
    </div>
    {% endfor %}
</div>