<h2>What you get</h2>
<p>
  We're hard at working building the fastest way to launch certified,
  HIPAA-compliant cloud infrastructure and applications on AWS.
</p>
<h3>Production-grade infrastructure</h3>
<p>The solution includes:</p>
<ul>
  <li>
    Multi-account Landing Zone (CloudTrail, AWS Config, GuardDuty, IAM Roles)
  </li>
  <li>VPCs</li>
  <li>Orchestration</li>
  <li>Data Storage (RDS, ElastiCache, ElasticSearch)</li>
  <li>CI / CD (CircleCI, Jenkins, GitLab)</li>
</ul>

<h3>100% customizable</h3>
<p>
  Gruntwork's HIPAA-compliant infrastructure and application templates are 100%
  managed as code and therefore fully customizable.
</p>
<h3>Always up to date</h3>
<p>
  In addition, your infrastructure is commerically maintained and supported, so
  we keep you always up to date with:
</p>

<ul>
  <li>The latest compliance requirements</li>
  <li>Security patches</li>
  <li>DevOps best practices</li>
</ul>

<p>
  In addition to IaC (Infrastructure as Code), we'll also publish our
  HIPAA-compliant app scaffolds that you can quickly adapt to your own needs.
  Initially, we'll publish a Node.js application, but will eventually add
  support for Python, Golang, and more.
</p>

<h2>What will you get if you sign up for early access?</h2>
<p>
  By supporting this initiative and signing up for early access, you'll get all
  of our HIPAA-compliant infrastructure as code and app scaffolds as soon as
  they are ready, but for half the price!
</p>

<h2>What will it cost?</h2>
<p>
  When Gruntwork HIPAA-compliant IaC and Apps is launched, the monthly
  subscription will be $9950. However, early backers who sign up now will
  receive all our HIPAA-compliant offerings for the flat rate of $4950 - the
  same price as our standard Reference Architecture!
</p>

<h2>Why sign up early?</h2>
<h4>
  We'll get you in prod now, and patch your infrastructure to use our
  HIPAA-compliant code as soon as it's ready
</h4>
<p>
  By signing up now for early access, you'll receive the Gruntwork CIS Reference
  Architecture immediately. Our CIS Reference Architecture is composed of
  battle-tested infrastructure as code that is also compliant with the CIS
  benchmarks. Our CIS-compliant Reference Architecture already satisfies many
  HIPAA requirements. In addition, once we've completed our HIPAA-compliant
  infrastructure and apps - you'll be the first to gain access to it.
</p>
<p>
  Receive our world-class support in upgrading your CIS-compliant architecture
  to full HIPAA-compliance. We'll be publishing a thorougly-tested migration
  guide with migration scripts, code snippets, and direct assistance via Slack,
  Github issues and discussions, and Zoom calls.
</p>
<h4>
  Be an early backer to help bring HIPAA-compliance to all Gruntwork users
  faster
</h4>
<p>
  Your support means the world to us, and will allow us to provide the best
  possible experience around launching HIPAA-compliant code - that all Gruntwork
  users can benefit from.
</p>
