<div class="row row-page-header">
  <div class="col-xs-12">
    <h2>Compliance in days, not months</h2>
    <p>
      The <a href="https://www.cisecurity.org/benchmark/amazon_web_services/">CIS AWS Foundations Benchmark</a> is an
      objective, consensus-driven guideline for establishing secure infrastructure on AWS. Gruntwork's
      production-grade, battle-tested infrastructure as code modules are built for compliance. Leverage them to achieve compliance with the Benchmark quickly and repeatably, avoiding the burden of a complex, drawn-out compliance project.
    </p>
    <p class="alert" style="border: 1px solid #194c5f; background-color: #242e3b;">
      <strong>Get a Detailed Walkthrough for compliance with the AWS Foundations Benchmark</strong><br>
      See our guide:
      <a href="http://gruntwork.io/guides/compliance/how-to-achieve-cis-benchmark-compliance/">How to achieve compliance with the CIS AWS Foundations Benchmark</a>.
    </p>
    <div class="text-center ref-arch" style="margin-top: 30px">
      <a href="/assets/img/cis-compliance/cis-foundations-benchmark-architecture.png" title="Click to see the full size image" target="_blank">
        <img src="/assets/img/cis-compliance/cis-foundations-benchmark-architecture.png" alt="CIS Compliance">
      </a>
      <small class="text-muted">An AWS account configured for compliance with the AWS CIS Foundations Benchmark.</small>
    </div>
    {% include_relative _how-it-works.html %}
    <h2>CIS AWS Foundations Benchmark Compliance Features</h2>
    <div class="row" style="margin-top: 50px; display: flex; flex-wrap: wrap;">
      {% for feature in site.data.cis-features %}
      <div class="col-xs-6 col-md-4" style="margin-bottom:20px;">
        <div class="row" style="display: flex; flex-wrap: wrap;">
          <div class="col-xs-12 col-sm-4 hidden-print" style="padding-right: 0; padding-left: 0;">
            <img src="/assets/img/reference-architecture-icons/reference-architecture-feature-{{ forloop.index }}.png" alt="{{ feature.title }}" style="max-width: 105px;" />
          </div>
          <div class="col-xs-12 col-sm-8" style="line-height: 1.4;">
            <h4 class="h6 text-bold" style="margin: 5px 0 5px 0">{{ feature.title }}</h4>
            <p>{{ feature.description }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
