<div class="row row-page-header">
    <div class="col-xs-12">
      <h2 class="no-anchor">What's included</h2>
      <p>The Reference Architecture includes:</p>
      <div class="panel-group" id="ref-arch-accordion" role="tablist" aria-multiselectable="true">
        {% include_relative _panel.html id="infrastructure" title="Infrastructure" features=site.data.cis-compliance.infrastructure expanded="false" %}
        {% include_relative _panel.html id="configuration" title="Configuration" features=site.data.cis-compliance.configuration expanded="false" %}
        {% include_relative _panel.html id="design" title="Design" features=site.data.cis-compliance.design expanded="false" %}
      </div>
      <p class="text-muted"><em>
         Read our blog post <a href="https://blog.gruntwork.io/how-to-build-an-end-to-end-production-grade-architecture-on-aws-part-1-eae8eeb41fec">How to Build an End to End Production-Grade Architecture on AWS</a> for an overview of what is included.
      </em></p>
    </div>
  </div>
  