---
layout: default
title: Privacy Policy
modified_date: September 20, 2018
permalink: /privacy-policy/
slug: privacy-policy
---

<div class="main">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>{{ page.title }}</h1>
          <p><em>Last Updated: {{ page.modified_date }}</em></p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          {% for answer in site.data.privacy-policy %}
            {% if answer.question != nil %}
                <h2>{{ answer.question }}</h2>
            {% endif %}
            {% for step in answer.items %}
              {% if step.title != nil %}
                <h3>{{ step.title }}</h3>
              {% endif %}
              <div>
                {{ step.ans }}
              </div>
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
