---
layout: landing
type: landing
slug: index-page

title: Enterprise app deployments in about a day
excerpt: Deploy enterprise apps using hardened, flexible, production-grade Amazon EKS clusters in your own AWS accounts, and manage 100% of your infrastructure using code, all in ~1 day. <b>Join now for special early access pricing!</b>
permalink: /eks-for-enterprise/
custom_js:
- prism
prism_css: /assets/css/prism-landing-zone.css

hero:
  image: /assets/img/infrastructure-cube-icons/infrastructure-in-a-day.png
  cta: Request early access!
  logos:
  - /assets/img/logos-technologies/partner_logo_aws.png
  - /assets/img/logos-technologies/partner_logo_kubernetes.png
  - /assets/img/logos-technologies/partner_logo_terraform.png

how_it_works:
  - heading: "Robust security, designed for the enterprise"
    image: /assets/img/landing-page-enterprise/kube-bench.png
    image_width: 379px
    image_side: right
    body: |
      Our enterprise-grade EKS clusters, provisioned using Terraform, meet the <a href="https://aws.amazon.com/blogs/containers/introducing-cis-amazon-eks-benchmark/">CIS Amazon EKS Benchmark</a>. Restrict pods using <a href="https://kubernetes.io/docs/concepts/security/pod-security-standards/">pod security standards</a>, rely on the <a href="https://istio.io/latest/">Istio service mesh</a> for traffic management, security capabilities and observability features, and use fine-grained authentication with IAM roles. 
    logos:
      - title: CIS
        src: /assets/img/logos-compliance/cis-benchmark.png
      - title: Istio
        src: /assets/img/logos-technologies/logo-istio.png

  - heading: "Managed as code"
    precode: |
      <figure><figcaption>.circleci/config.yml</figcaption>
        <pre>
            <code class="language-yml">
              workflows:
                test-build-push-deploy:
                  jobs:
                    - run_tests
                    - build_docker_image:
                        requires:
                          - run_tests
                    - push_docker_image:
                        requires:
                          - build_docker_image
                    - deploy_docker_image_to_staging:
                        requires:
                          - push_docker_image_to_ecr
                        filters:
                          branches:
                            only: staging
                    - deploy_docker_image_to_production:
                        requires:
                          - push_docker_image_to_ecr
                        filters:
                          branches:
                            only: main
            </code>
          </pre>
        </figure>
    image_side: left
    body: |
      Everything is built with code. Use our battle-tested Terraform modules for control plane and infrastructure management. Practice GitOps using Flux for continuous delivery to EKS clusters. Choose from a variety of deployment patterns, including canaries, blue/green, and automatic rollbacks.
    logos:
      - title: Terraform
        src: /assets/img/logos-technologies/logo-terraform.png
      - title: Flux
        src: /assets/img/logos-technologies/logo-flux.png

  - heading: "Get up and running fast"
    tab_block: site.data.heroku-landing-page-tabs-images
    image_side: right
    body: |
      Manage your EKS clusters with <a href="https://k8slens.dev/"></a>Lens, the Kubernetes IDE. Learn from our collection of reference application templates, including common enterprise application frameworks like Spring Boot. Reuse our Helm charts and get help Dockerizing your app.
    logos:
      - title: Lens
        src: /assets/img/logos-technologies/logo-lens.png
      - title: Spring Boot
        src: /assets/img/logos-technologies/logo-spring-boot.png

  - heading: "Operate with confidence"
    tab_code_preview: site.data.heroku-landing-page-tabs-code
    image_side: left
    body: |
      Gruntwork enterprise EKS support includes powerful observability patterns, including dashboards for key metrics and cluster data, one-click access to containers, and multiple options for centralized logging.
    logos:
      - title: Prometheus
        src: /assets/img/logos-technologies/logo-prometheus.png

  - heading: "Commercially maintained and supported"
    image: /assets/img/landing-heroku-page/grunty-free-step-5.png
    image_width: 250px
    image_side: right
    body: |
      Enjoy ongoing updates from Gruntwork, including updates to the latest releases of Kubernetes, Terraform, Docker, and other tooling within days or weeks. Our engineers are there to help when your team has questions about how something works.

footer:
  heading: The EKS experience you've been waiting for
  body: |
    <ul class="check-list" style="display: inline-block; text-align: left; margin-top: 10px; margin-bottom: 0">
      <li>The power, security, and flexibility of EKS.</li>
      <li>The control and scalability you expect from AWS.</li>
      <li>The production-grade code you expect from Gruntwork.</li>
    </ul>
  cta: Request early access!
---

<div class="main">
  <div class="section section-hero">
    <div class="container">
      <div class="row">
        {% include_relative _hero.html %}
      </div>
    </div>
  </div>
  <div class="section section-blue section-sub-hero">
    <div class="container">
      <div class="row">
        {% include_relative _sub-hero.html %}
      </div>
    </div>
  </div>
  <div id="how-it-works" class="section section-dark">
    <div class="container">
      {% include_relative _how-it-works.html %}
    </div>
  </div>
  <div class="section section-blue">
    <div class="container">
      <div class="row row-community">
        {% include_relative _social-proof.html %}
      </div>
    </div>
  </div>
</div>
