---
layout: landing
type: landing
slug: index-page

title: Amazon EKS for the enterprise. In about a day.
excerpt: The secure, enterprise-grade, CIS-compliant Kubernetes cluster your ops team wants, with the seamless CI / CD and self-service experience your dev team wants. 100% managed as code and ready in ~1 day. <b>Join now for early access pricing!</b>
permalink: /eks-for-enterprise/
custom_js:
- prism
prism_css: /assets/css/prism-landing-zone.css

technologies:
- name: Spring Boot
  logo: /assets/img/logos-technologies/logo-spring-boot.png
- name: Ruby on Rails
  logo: /assets/img/logos-technologies/logo-rails.png

hero:
  image: /assets/img/infrastructure-cube-icons/infrastructure-in-a-day.png
  cta: Request early access
  logos:
  - /assets/img/logos-technologies/partner_logo_aws.png
  - /assets/img/logos-technologies/logo-eks.png
  - /assets/img/logos-technologies/partner_logo_kubernetes.png
  - /assets/img/logos-technologies/partner_logo_terraform.png

how_it_works:
  - heading: "Step 1: Configure your EKS cluster"
    tab_code_preview: eks-configure
    image_side: right
    body: |
      Pick and choose the technologies that you want included in your custom EKS cluster. We support a wide range of
      popular configurations that include:
      <ul>
          <li>Service meshes (Istio, Consul connect, AWS App Mesh)</li>
          <li>K8S-native CI/CD (Argo CD, Flux)</li>
          <li>Self-service Dashboards (Argo CD Dashboard, Lens)</li>
          <li>Metric Aggregation (Prometheus, Datadog, CloudWatch)
          <li>Log Aggregation (Elastic Stack, Datadog, CloudWatch Logs)</li>
          <li>And more (cluster-autoscaler, Sealed Secrets, Harbor, Open Policy Agent, etc)</li>
      </ul>
      On top of that, all our enterprise-grade EKS clusters are hardened to meet 100% of the
      <a href="https://aws.amazon.com/blogs/containers/introducing-cis-amazon-eks-benchmark/">CIS Amazon EKS Benchmark</a>
      requirements, regardless of the chosen technologies.
    logos:
      - title: CIS
        src: /assets/img/logos-compliance/cis-benchmark.png
      - title: Istio
        src: /assets/img/logos-technologies/logo-istio.svg
      - title: Argo CD
        src: /assets/img/logos-technologies/logo-argo.png
      - title: Flux
        src: /assets/img/logos-technologies/logo-flux.png

  - heading: "Step 2: Generate Code"
    tab_code_preview: eks-generatecode
    image_side: left
    body: |
      Gruntwork takes your requested configuration and generates Terraform code for deploying your EKS cluster in a
      repository of your choice. We support integrating with GitHub, GitLab, and BitBucket. Rely on battle-tested
      infrastructure code that has been proven in production at hundreds of companies and is maintained and supported by
      DevOps experts. The code we deliver is 100% owned by you - use it as is, or customize to your needs.
    logos:
      - title: GitHub
        src: /assets/img/landing-heroku-page/github-icon.png
      - title: GitLab
        src: /assets/img/landing-heroku-page/gitlab-icon.png
      - title: BitBucket
        src: /assets/img/landing-heroku-page/bitbucket-icon.png

  - heading: "Step 3: Deploy your EKS cluster"
    image: TODO_SOME_WIREFRAME_WITH_DEPLOYMENT_UI
    image_side: right
    body: |
      Use our self-service user interface to deploy the generated code automatically without installing anything on our
      machine. Link your AWS accounts in a secure interface relying on AWS IAM Roles, and revoke at the end of the
      deployment. Or manually deploy everything from your own machines using Packer, Docker, and Terraform without
      sharing any credentials.
    logos:
      - title: Terraform
        src: /assets/img/landing-heroku-page/terraform-icon.png
      - title: Docker
        src: /assets/img/landing-heroku-page/docker-icon.png
      - title: Packer
        src: /assets/img/landing-heroku-page/packer-icon.png

  - heading: "Step 4: Configure your apps"
    image: /assets/img/landing-page-enterprise/sample-app-clip.gif
    image_side: left
    body: |
      Use Gruntwork tools to optimize your enterprise apps for EKS. Update all your apps with cloud-native best practices for
      packaging, monitoring, logging, service discovery, secrets management, schema migrations, and more. Or customize
      the optimizations yourself using Gruntwork sample apps as a template. We support common enterprise languages and
      frameworks:
      <ul>
          <li>Java: Spring Boot, Quarkus</li>
          <li>Ruby: Ruby on Rails, Sinatra</li>
          <li>Python: Django, Flask</li>
          <li>Node.js: Express.js, Next.js</li>
      </ul>
    logos:
      - title: Spring Boot
        src: /assets/img/logos-technologies/logo-spring-boot.png
      - title: Rails
        src: /assets/img/logos-technologies/logo-rails.png
      - title: Django
        src: /assets/img/logos-technologies/logo-django.png
      - title: Express
        src: /assets/img/logos-technologies/logo-express.png

  - heading: "Step 5: Deploy your apps"
    image: /assets/img/landing-heroku-page/github-step-1.png
    image_side: right
    body: |
      Connect your Git repo to automatically register, migrate, and deploy your apps using a friendly UI. Gruntwork
      Enterprise EKS supports various deployment strategies out of the box: including canary, blue/green deployments,
      <ul>
          <li>Canary</li>
          <li>Blue/Green</li>
          <li>Automatic rollbacks</li>
          <li>Security scans</li>
          <li>CI/CD workflows</li>
          <li>GitOps workflows</li>
      </ul>
      Regardless of deployment strategy and configuration, enforce your organization governance policies on artifacts
      using Open Policy Agent and Harbor.
    logos:
      - title: Argo CD
        src: /assets/img/logos-technologies/logo-argo.png
      - title: Lens
        src: /assets/img/logos-technologies/logo-lens.png
      - title: Harbor
        src: /assets/img/logos-technologies/logo-harbor.png
      - title: Open Policy Agent
        src: /assets/img/logos-technologies/logo-opa.png

  - heading: "Step 6: Monitor your apps"
    tab_code_preview: eks-app-monitor
    image_side: left
    body: |
      Monitor your deployment and troubleshoot errors right in the UI. Review deployment progress, error messages,
      and key metrics in the self-service dashboard. Use powerful observability tools to manage your apps, including
      dashboards for container metrics, cluster data, one-click access to containers, and multiple options for
      centralized logging.
    logos:
      - title: Prometheus
        src: /assets/img/logos-technologies/logo-prometheus.png
      - title: Elastic Stack
        src: /assets/img/logos-technologies/logo-elastic.png
      - title: Datadog
        src: /assets/img/logos-technologies/logo-datadog-white.png

  - heading: "Step 7: Stay up to date"
    image: /assets/img/landing-heroku-page/grunty-free-step-5.png
    image_width: 250px
    image_side: right
    body: |
      Use Gruntwork Patcher<!-- TODO: link to patcher page --> to stay up to date automactically:
      <ul>
          <li>Automatically update your Terraform code to the latest module versions</li>
          <li>Validate all updates with automated tests</li>
          <li>Manage your updates in a dedicated UI console</li>
          <li>Automatically update your Terraform and Terragrunt code to the latest syntax and versions</li>
      </ul>
      Gruntwork also publishes regular guides and blog posts to help educate you on the latest trends and updates in
      DevOps.

conclusion:
  heading: The enterprise EKS experience you've been looking for.
  body: |
    <ul class="check-list" style="display: inline-block; text-align: left; margin-top: 10px; margin-bottom: 0">
      <li>The power, security, and flexibility of Kubernetes.</li>
      <li>The control and scalability you expect from AWS.</li>
      <li>The production-grade code you expect from Gruntwork.</li>
    </ul>
  cta: Request early access
---

<div class="main">
  <div class="section section-hero">
    <div class="container">
      <div class="row">
        {% include_relative _hero.html %}
      </div>
    </div>
  </div>
  <div class="section section-blue section-sub-hero">
    <div class="container">
      <div class="row">
        {% include_relative _sub-hero.html %}
      </div>
    </div>
  </div>
  <div id="how-it-works" class="section section-dark">
    <div class="container">
      {% include_relative _how-it-works.html %}
    </div>
  </div>
  <div class="row row-call-to-action">
    <div class="col-xs-12 text-center">
      <h2 style="padding-top: 30px" class="h1 no-anchor">{{ page.conclusion.heading }}</h2>
      <p style="margin-top: -30px">{{ page.conclusion.body }}</p>
      <p>
        <a {% if page.alternate_cta_link %} href="{{ page.alternate_cta_link }}" {% else %}
          href="{{ page.permalink }}pricing/" {% endif %}class="btn btn-info" role="button" ga-on="click"
          ga-event-category="{{ page.path | slugify }}" ga-event-action="conclusion-cta">{{ page.conclusion.cta }}</a>
      </p>
    </div>
  </div>
  <div class="section section-blue">
    <div class="container">
      <div class="row row-community">
        {% include_relative _social-proof.html %}
      </div>
    </div>
  </div>
</div>
