<div class="panel panel-default panel-light pricing-help-notification" style="margin-top: 100px">
  <div class="panel-body">
    <h1 style="text-align: center;">
      Request early access.
    </h1>
    <hr>
    <div id="error-message"></div>
    <form
      id="contact-form"
      method="post"
      target="_blank"
      action="https://api.formbucket.com/f/buk_Sob79fnmX3Qdvd7tAxS9GiON"
    >
      <input
        type="hidden"
        name="_subject"
        id="_subject"
        value="New contact form submission for landing page {{ site.url }}{{ page.url }}"
      />
      <input type="hidden" name="_next" id="_next" value="{{ site.url }}{{ page.url }}thank-you" />
      <input type="hidden" name="hello_gruntwork" value=""/>
      <input type="hidden" name="_landing-page" value="{{ site.url }}{{ page.url }}" />
      <input type="text" name="_gotcha" style="display:none" />
      {% include_relative _input-text.html id="contact-name" label="Name" required=true placeholder="Jon Doe" %}
      {% include_relative _input-text.html id="contact-email" label="Email" required=true placeholder="jon@acme.com" type="email" %}
      {% include_relative _input-text.html id="contact-company" label="Company" required=true placeholder="Acme, Inc." %}
      <div class="form-group">
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <label>Which plan are you interested in?</label>
          </div>
          <div class="col-xs-12 col-md-8">
            {% include_relative _input-radio.html name="interested-plan" id="plan-standard" value="Standard" %}
            {% include_relative _input-radio.html name="interested-plan" id="plan-enterprise" value="Enterprise" %}
            {% include_relative _input-hidden.html id="user-utc-timezone-offset" %}
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <label>Which features are you interested in?</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <label>Service Mesh</label>
          </div>
          <div class="col-xs-12 col-md-8">
            {% include_relative _input-checkbox.html name="interested-feature-service-mesh" id="istio" value="Istio" %}
            {% include_relative _input-checkbox.html name="interested-feature-service-mesh" id="consul-connect" value="Consul Connect" %}
            {% include_relative _input-checkbox.html name="interested-feature-service-mesh" id="aws-app-mesh" value="AWS App Mesh" %}
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <label>CI/CD</label>
          </div>
          <div class="col-xs-12 col-md-8">
            {% include_relative _input-checkbox.html name="interested-feature-cicd" id="argo" value="Argo CD" %}
            {% include_relative _input-checkbox.html name="interested-feature-cicd" id="flux" value="Flux" %}
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <label>Self-service Dashboard</label>
          </div>
          <div class="col-xs-12 col-md-8">
            {% include_relative _input-checkbox.html name="interested-feature-self-service" id="argo-dash" value="Argo Dashboard" %}
            {% include_relative _input-checkbox.html name="interested-feature-self-service" id="flux-web" value="Flux Web UI" %}
            {% include_relative _input-checkbox.html name="interested-feature-self-service" id="lens" value="Lens" %}
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <label>Monitoring</label>
          </div>
          <div class="col-xs-12 col-md-8">
            {% include_relative _input-checkbox.html name="interested-feature-monitoring" id="cloudwatch" value="CloudWatch" %}
            {% include_relative _input-checkbox.html name="interested-feature-monitoring" id="prometheus" value="Prometheus / Grafana" %}
            {% include_relative _input-checkbox.html name="interested-feature-monitoring" id="datadog" value="Datadog" %}
            {% include_relative _input-checkbox.html name="interested-feature-monitoring" id="elastic" value="Elastic Stack" %}
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <label>App languages / frameworks</label>
          </div>
          <div class="col-xs-12 col-md-8">
            {% include_relative _input-checkbox.html name="interested-feature-app" id="spring-sample-app" value="Spring app" %}
            {% include_relative _input-checkbox.html name="interested-feature-app" id="rails-sample-app" value="Rails app" %}
            {% include_relative _input-checkbox.html name="interested-feature-app" id="django-sample-app" value="Django app" %}
            {% include_relative _input-checkbox.html name="interested-feature-app" id="nodejs-sample-app" value="Node.js app" %}
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <label>Security / Compliance</label>
          </div>
          <div class="col-xs-12 col-md-8">
            {% include_relative _input-checkbox.html name="interested-feature-security" id="cis-benchmark" value="CIS Benchmark" %}
            {% include_relative _input-checkbox.html name="interested-feature-security" id="harbor" value="Harbor Registry" %}
            {% include_relative _input-checkbox.html name="interested-feature-security" id="opa" value="Open Policy Agent" %}
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <label for="contact-message">Any comments or questions?</label>
          </div>
          <div class="col-xs-12 col-md-8">
            <textarea
              id="contact-message"
              name="contact-message"
              class="form-control"
              rows="3"
              required="required"
              placeholder="Enter a message"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="text-center">
        <br />
        <button
          type="submit"
          id="submit-button"
          class="btn btn-primary"
          ga-on="click"
          ga-event-category="{{ page.path | slugify }}"
          ga-event-action="join-waitlist-cta"
        >
          Submit
        </button>
      </div>
    </form>
    <script type="application/javascript">
      const urlParams = new URLSearchParams(window.location.search);
      const selection = urlParams.get('selection');
      if (selection) {
        const radio = document.getElementById('plan-' + selection);
        if (radio) {
          radio.checked = true;
        }
      }
    </script>
  </div>
</div>
