---
layout: default
title: Gruntwork | Subscriptions
excerpt: Become a Gruntwork Member.
permalink: /subscriptions
slug: subscriptions
footer_heading: Get started with your subscription today!
---

<div class="main">
    <div class="section section-hero">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1>Subscriptions</h1>
                </div> <!-- col -->
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- section-hero -->

    <div class="section section-dark">
        <div class="container">
            <div class="row row-page-header">
                <div class="col-xs-12">
                    <h2>A better way to manage your infrastructure.</h2>
                    <ul>
                        <li>Let Gruntwork handle updates to the generic components in your infrastructure.</li>
                        <li>Lean on Gruntwork engineers when you run into a tricky DevOps or AWS problem.</li>
                        <li>Use our automatic updates to keep your infrastructure code in line with the latest best practices.</li>
                    </ul>
                    <p>Enjoy these benefits by becoming a Gruntwork member.</p>
                </div> <!-- col -->
            </div> <!-- row-page-header -->

            <hr />

            <div class="row row-how-it-works">
                <div class="col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-0 col-md-2 col-diagram">
                    <img src="/assets/img/subscriptions-1.png" width="240" />
                </div> <!-- col -->
                <div class="col-xs-12 col-sm-9 col-md-10 col-explaination">
                    <h2>Get full access to the Gruntwork Library.</h2>
                    <p>Members receive full access to the Gruntwork Library, a collection of standalone modules maintained and supperted by Gruntwork. A module is a reusable, battle-tested solution to a common infrastructure problem, such as how to run a Docker Cluster or how to configure your Network Topology, written using a mixture of Terraform, Go, Bash, and Python.</p>
                    <p><a href="/gruntwork-library">Browse the Gruntwork Library</a></p>
                </div> <!-- col -->
            </div> <!-- row-how-it-works -->

            <div class="row row-how-it-works">
                <div class="col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-0 col-md-2 col-diagram">
                    <img src="/assets/img/subscriptions-2.png" width="240" />
                </div> <!-- col -->
                <div class="col-xs-12 col-sm-9 col-md-10 col-explaination">
                    <h2>Get Gruntwork Library updates.</h2>
                    <p>As a Gruntwork Member, you get access not only to all the Gruntwork Library modules we have today, but also additions, updates, and fixes we make the to the Gruntwork Library in the future, for the lifetime of your membership.</p>
                    <p>AWS, Terraform, Docker, and all other DevOps technologies are changing all the time. Keeeping up with all of this is the core of our business, and as we keep working new clients and keep improving our practices, we capture all of that work as new modules and versioned updates to existing modules. As a member, you can leverage all of this work with a simple version of number bump.</p>
                </div> <!-- col -->
            </div> <!-- row-how-it-works -->

            <div class="row row-how-it-works">
                <div class="col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-0 col-md-2 col-diagram">
                    <img src="/assets/img/subscriptions-3.png" width="240" />
                </div> <!-- col -->
                <div class="col-xs-12 col-sm-9 col-md-10 col-explaination">
                    <h2>Get automated infrastructure updates.<sup>(Beta)</sup></h2>
                    <p>One suprising truth we learned early on is that almost no one keeps their infrastructure up to date. Worse, as your infrastructure grows, it becomes exponentially more difficult. That’s why we created Gruntwork Patcher, a service that automatically scans your current infrastructure code, computes the delta between your current code and your desired update, and auto-generates the code updates, and auto-submits a Pull Request.</p>
                    <p class="text-muted"><em>Automated infrastructure updates are currently in beta and available upon request with certain limitations.</em></p>
                </div> <!-- col -->
            </div> <!-- row-how-it-works -->

            <div class="row row-how-it-works">
                <div class="col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-0 col-md-2 col-diagram">
                    <img src="/assets/img/subscriptions-4.png" width="240" />
                </div> <!-- col -->
                <div class="col-xs-12 col-sm-9 col-md-10 col-explaination">
                    <h2>Get support.</h2>
                    <p>As a subscriber, you get access to a team of DevOps experts for a tiny fraction of the cost of hiring a single DevOps engineer full time. We are here to help you with:</p>
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <ul>
                                <li>Questions</li>
                                <li>Troubleshooting</li>
                                <li>Code reviews</li>
                                <li>Design reviews</li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <ul>
                                <li>Bug fixes</li>
                                <li>Updating your existing infrastructure</li>
                                <li>Building a new infrastructure</li>
                                <li>Office hours</li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- col -->
            </div> <!-- row-how-it-works -->

            <div class="row row-how-it-works">
                <div class="col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-0 col-md-2 col-diagram">
                    <img src="/assets/img/subscriptions-5.png" width="240" />
                </div> <!-- col -->
                <div class="col-xs-12 col-sm-9 col-md-10 col-explaination">
                    <h2>Get access to the Gruntwork Community Forum.</h2>
                    <p>Members get access to the Gruntwork Community Forum where you can talk with the other Gruntwork customers. Since you are all using the same infrastructure, this is a great place to ask questions, discuss design decisions, and work together as a community to improve infrastructure and DevOps practices.</p>
                </div> <!-- col -->
            </div> <!-- row-how-it-works -->

            <div class="row row-how-it-works">
                <div class="col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-0 col-md-2 col-diagram">
                    <img src="/assets/img/subscriptions-6.png" width="240" />
                </div> <!-- col -->
                <div class="col-xs-12 col-sm-9 col-md-10 col-explaination">
                    <h2>Receive the Monthly Newsletter.</h2>
                    <p>We invite you to mentally check out from Terraform, AWS, and DevOps industry updates for one month at a time, until we send our Monthly Newsletter! It’s a description of all the updates we’ve made the last month, how to update your infrastructure to use them, as well as general news on what’s happening in the AWS, Terraform, and Gruntwork ecosystem.</p>
                </div> <!-- col -->
            </div> <!-- row-how-it-works -->

            <div class="row row-how-it-works">
                <div class="col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-0 col-md-2 col-diagram">
                    <img src="/assets/img/subscriptions-7.png" width="240" />
                </div> <!-- col -->
                <div class="col-xs-12 col-sm-9 col-md-10 col-explaination">
                    <h2>Receive security alerts.</h2>
                    <p>New security vulnerables are discovered all the time. Rarely does a month go by without at least one critical vulnerability being announced in OpenSSL, PHP, Jenkins, WordPress, or the Linux kernel. We monitor a number of security advisory lists and notify you immediately if any critical vulnerabilities are announced that may affect your infrastructure.</p>
                </div> <!-- col -->
            </div> <!-- row-how-it-works -->

            <div class="row row-page-header">
                <div class="col-xs-12">
                    <h2>Choose the right membership tier for your team.</h2>
                    <p>We offer three membership tiers. All memberships include the features listed above.</p>
                </div> <!-- col -->
            </div> <!-- row-page-header -->

            <hr />

            <div class="row row-pricing-table">
                <div class="col-xs-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                {% for plan in site.data.plans %}
                                    <th>{{ plan.name }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Support Hours</th>
                                {% for plan in site.data.plans %}
                                    <td>{{ plan.support_hours }}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <th>Support Availability</th>
                                {% for plan in site.data.plans %}
                                    <td>{{ plan.support_availability }}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <th>After-Hours Support</th>
                                {% for plan in site.data.plans %}
                                    <td>{{ plan.after_hour_support }}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <th>Reponse Time</th>
                                {% for plan in site.data.plans %}
                                    <td>{{ plan.response_time }}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <th>Email Support</th>
                                {% for plan in site.data.plans %}
                                    <td>{{ plan.email_support }}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <th>Phone/Video Chat Support</th>
                                {% for plan in site.data.plans %}
                                    <td>{{ plan.phone_video_support }}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <th>Slack Support</th>
                                {% for plan in site.data.plans %}
                                    <td>{{ plan.slack_support }}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <th>Automated Infra Updates</th>
                                {% for plan in site.data.plans %}
                                    <td>{{ plan.automated_infra_updates }}</td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <p><a href="/pricing" class="btn btn-primary" role="button">See Pricing</a></p>
                    </div>
                </div> <!-- col -->
            </div> <!-- row-pricing-table -->

        </div> <!-- container -->
    </div> <!-- section-hero -->
</div>
