<p>We know how much goes into deploying production-grade applications. That's why our reference applications directly address every major concern involved in
<a href="/devops-checklist/"
   >going to prod.</a></p>

  <style>
    #hipaa.table tr:nth-child(odd) td:last-child {
      background-color: rgb(31, 59, 82);
    }
    #hipaa.table tr:nth-child(even) td:last-child {
      background-color: rgb(23, 51, 77);
    }
  </style>
  <div class="table-responsive">
    <table class="table table-striped" id="hipaa">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Availability</th>
        </tr>
      </thead>
      <tbody>
        {% for feature in site.data.hipaa-apps.features %} {% capture id %}{{
        feature.title | replace: " ", "_" }}" class="table-clickable-row"
        data-toggle="modal" data-target="#modal-{{ feature.title | replace: " ",
        "_" }}{% endcapture %}
        <tr>
          <td style="width: 25%; color: white">{{ feature.title }}</td>
          <td>{{ feature.description }}</td>
          <td style="text-align: center">
            <!-- Availability -->
            {% assign pass = feature.available %} {% include_relative
            _availability-table-cell.html pass = pass %}
            <!-- End Availability -->
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <p>
      To learn about how a Gruntwork subscription compares to building it from
      scratch,
      <a href="/hipaa-compliance-on-aws/why-gruntwork#why-use-gruntwork"
        >check out our comparison chart</a
      >.
    </p>
  </div></a
>
