{% for item in page.infra_how_it_works %}
  <div class="row">
    {% if item.precode %}
      <div class="item_precode row-image-content {% if item.image_side == "left" %}col-xs-12 col-sm-7 col-md-6 col-description{% else %}col-xs-12 col-sm-7 col-sm-pull-5 col-md-6 col-md-pull-6 col-description{% endif %}">
        {{ item.precode }}
      </div>
    {% endif %}
        {% if item.tab_block %}
      <div id="infra-code-viewer" class="row-image-content {% if item.image_side == "left" %}col-xs-8 col-xs-offset-2 col-sm-5 col-sm-offset-0 col-md-6 col-diagram hidden-print{% else %}col-xs-10 col-xs-offset-1 col-sm-5 col-sm-push-7 col-sm-offset-0 col-md-6 col-md-push-6 col-diagram{% endif %}">
        <div class="tab_block">
          {% for tab in site.data.hipaa-landing-page-tabs-images %}
          <div class="tab">
            <button class="{% if forloop.first %}active tablinks{% else %}tablinks{% endif %}" onclick="openTab(event, '{{tab.id}}')">{{ tab.title }}</button>
          </div>
          {% endfor %}
        </div>
        <div class="tab_content">
          {% for tab in site.data.hipaa-landing-page-tabs-images %}
          <div id="{{tab.id}}" class="{% if forloop.first %}first_tabcontent tabcontent{% else %}tabcontent{% endif %}">
            <img src="{{tab.content}}"/>
          </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    {% if item.tab_code_preview %}
      <div id="infra-code-viewer" class="row-image-content {% if item.image_side == "left" %}col-xs-8 col-xs-offset-2 col-sm-5 col-sm-offset-0 col-md-6 col-diagram hidden-print{% else %}col-xs-10 col-xs-offset-1 col-sm-5 col-sm-push-7 col-sm-offset-0 col-md-6 col-md-push-6 col-diagram{% endif %}">
        <div class="tab_block">
          {% for tab in site.data.hipaa-landing-page-tabs-ref-arch-code %}
            <div class="tab code">
              <button class="{% if forloop.first %}active tablinks_code{% else %}tablinks_code{% endif %}" onclick="openCodeTab(event, '{{tab.id}}')">{{ tab.title }}</button>
            </div>
          {% endfor %}
        </div>
        <div style="height: 450px; overflow-y: scroll;"class="tab_code_content">
          {% for tab in site.data.hipaa-landing-page-tabs-ref-arch-code %}
          <div id="{{tab.id}}" class="item_precode {% if forloop.first %}first_tabcontent_code tabcontent_code{% else %}tabcontent_code{% endif %}">
              {{ tab.content }}
          </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
      {% if item.image %}
        <div class="{% if item.image_side == "left" %}col-xs-8 col-xs-offset-2 col-sm-5 col-sm-offset-0 col-md-6 col-diagram hidden-print{% else %}col-xs-10 col-xs-offset-1 col-sm-5 col-sm-push-7 col-sm-offset-0 col-md-6 col-md-push-6 col-diagram{% endif %}">
          <img src="{{ item.image }}" class="row_image_content" width="{{ item.image_width }}"/>
        </div>
      {% endif %}
      <div class="{% if item.image_side == "left" %}col-xs-12 col-sm-7 col-md-6 col-description{% else %}col-xs-12 col-sm-7 col-sm-pull-5 col-md-6 col-md-pull-6 col-description{% endif %}">
        <h2>{{ item.heading }}</h2>
        <p>{{ item.body }}</p>
      	{% if item.icon_row %}
	<div class="list-group">
		{% for icon in item.icon_row %}
		<img src="/assets/img/landing-page-hipaa/{{ icon }}.png">
		{% endfor %}
	</div>
    	{% endif %}
</div>
    </div>
{% endfor %}
