---
layout: default
type: landing
slug: technical-details

extra_nav_links:
  - name: Technical Details
    url: /hipaa-compliance-on-aws/technical-details
  - name: Why Gruntwork?
    url: /hipaa-compliance-on-aws/why-gruntwork

products_dropdown_links:
  - name: HIPAA-compliant Reference Architecture
    url: /hipaa-compliance-on-aws/bootstrap-your-app#hipaa-compliant-infra-at-a-glance
  - name: HIPAA-compliant Reference Application
    url: /hipaa-compliance-on-aws/bootstrap-your-app

alternate_cta_link: /hipaa-compliance-on-aws/pricing

title: HIPAA-compliant Reference Applications
excerpt: Build your apps on top of reference applications for your favorite languages and frameworks (e.g., Ruby on Rails, Express.js, Spring Boot) that are HIPAA compliant and follow cloud-native best practices out of the box.
permalink: /hipaa-compliance-on-aws/bootstrap-your-app/
redirect_from: /hipaa-cloud-compliance/bootstrap-your-app
custom_js:
  - prism
prism_css: /assets/css/prism-landing-zone.css
hero:
  image: /assets/img/infrastructure-cube-icons/infrastructure-in-a-day.png
  cta: Request early access
  logos:
    - /assets/img/logos-technologies/partner_logo_aws.png
    - /assets/img/logos-compliance/cis.png
    - /assets/img/logos-compliance/hipaa.png

how_it_works:
  - heading: Use your favorite languages
    tab_code_preview: site.data.hipaa-landing-page-tabs-code
    icon_row:
      - nodejs
      - java
      - gem
    image_side: right
    tab_block:
    body: |
      Reference applications for common languages and frameworks such as Node.js/Express, Java/Spring, and Ruby/Rails. <br><br>
      The reference apps show how to implement common HIPAA compliance requirements, such as encryption at rest, encryption in transit, secrets management, server hardening, and much more.<br>
      <br>The reference applications also show how to implement cloud-native best practices, such as service discovery, schema migrations, application configuration, packaging, and much       more.

  - heading: Run compliant apps in compliant Infrastructure
    image: /assets/img/hipaa/infrastructure-hipaa.png
    image_width: 350px
    image_side: left
    body: |
      The apps are designed to work seamlessly in our <a href="/reference-architecture">Reference Architecture.</a>

footer:
  heading: Go live with Gruntwork HIPAA Cloud!
  body: |
    Request early access to receive exclusive benefits and discounts!
    <ul class="check-list check-white" style="text-align: left; display: inline-block;"><li><span class="help-text light" title="" data-toggle="tooltip" data-original-title="You’ll be the first to gain access to the solution once it’s ready"> Pre-release HIPAA-Compliant Infrastructure </span> </li><li><span class="help-text light" title="" data-toggle="tooltip" data-original-title="Early adopters will receive the solution at a major discount!"> Early adopter discount</span> </li><li><span class="help-text light" title="" data-toggle="tooltip" data-original-title="We’ll work with you to ensure the solution meets your organization’s requirements"> Influence the product direction</span> </li><li><span class="help-text light" title="" data-toggle="tooltip" data-original-title="We’ll go through the audit with you, implementing any technical changes indicated by the auditor"> HITECH audit support</span> </li></ul>
  cta: Request early access

infra_how_it_works:
  - heading: End-to-end, opinionated architecture for AWS
    image: /assets/img/hipaa/infrastructure-hipaa.png
    image_side: right
    body: |
      The Reference Architecture is an opinionated, battle-tested, best-practices way to assemble the code from the <a href="/infrastructure-as-code-library"/>Infrastructure as Code Library</a>) into an end-to-end tech stack that includes just about everything you need: server cluster, load balancer, database, cache, network topology, monitoring, alerting, CI/CD, secrets management, VPN, and more (check out the <a href="/devops-checklist/">Production Readiness Checklist</a> to see what it takes to go to prod).

  - heading: Customizable
    image: /assets/img/hipaa/hipaa-sample-app.png
    image_side: left
    body: |
      You can choose from a variety of compute services, databases, VPNs, and more to customize the Reference Architecture to your exact specifications and technological preferences.

  - heading: Fully defined as code using Terraform, Docker, Packer
    tab_code_preview: site.data.hipaa-landing-page-tabs-ref-arch-code
    image_side: right
    body: |
      You keep and can modify 100% of the code to support any use case you might have.

  - heading: HIPAA-compliant out of the box
    image: /assets/img/hipaa/grunty-audit.png
    image_width: 350px
    image_side: left
    body: |
      We'll have our infrastructure and applications certified by a third party auditor to ensure HIPAA compliance, and pass all the best practices on to you.

  - heading: Gruntwork deploys it into your AWS accounts and gives you all of the code to manage it, in about 1 day
    image: /assets/img/hipaa/stay-up-to-date.png
    image_width: 500px
    image_side: right
    body: |
      Instead of spending months (or years) to re-invent the wheel, let us handle the Gruntwork for you, so you can focus on your core deliverables

categories:
  - title: Compute
    features:
      - name: Fargate
        description: Deploy your apps onto AWS Fargate, a serverless compute engine for containers.
        plans: ["Lite", "Pro", "Enterprise"]
      - name: Lambda
        description: Deploy your apps onto AWS Lambda, a serverless compute engine for functions.
        plans: ["Lite", "Pro", "Enterprise"]
      - name: EKS (Kubernetes)
        description: Deploy your apps onto Amazon Elastic Kubernetes Service (EKS).
        plans: ["Pro", "Enterprise"]
      - name: ECS
        description: Deploy your apps onto Amazon Elastic Container Service.
        plans: ["Pro", "Enterprise"]
      - name: EC2
        description: Deploy your apps onto EC2 Instances and Auto Scaling Groups.
        plans: ["Pro", "Enterprise"]
  - title: Data Storage
    features:
      - name: RDS Aurora Serverless
        description: Store data in Aurora Serverless, an on-demand, auto scaling relational database with PostgreSQL and MySQL compatibility.
        plans: ["Lite", "Pro", "Enterprise"]
      - name: ECR
        description: Store your Docker images in Amazon Elastic Container Registry (ECR).
        plans: ["Lite", "Pro", "Enterprise"]
      - name: RDS
        description: Store data in Amazon's Relational Database Service (RDS), which supports PostgreSQL, MySQL, SQL Server, MariaDB, Oracle, and Amazon Aurora.
        plans: ["Pro", "Enterprise"]
      - name: ElastiCache
        description: Use ElastiCache as a key-value store, with support for Redis and Memcached.
        plans: ["Pro", "Enterprise"]
      - name: Elasticsearch
        description: Use Amazon Elasticsearch to store logs and index text data.
        plans: ["Pro", "Enterprise"]
      - name: S3
        description: Store files and objects in Amazon's Simple Storage Service (S3).
        plans: ["Pro", "Enterprise"]
      - name: EFS
        description: Use Amazon's Elastic File System (EFS) as a network attached, shared file store (like NFS).
        plans: ["Pro", "Enterprise"]
      - name: SQS
        description: Use Amazon Simple Queue Service (SQS) as a message queue.
        plans: ["Pro", "Enterprise"]
      - name: SNS
        description: Use Amazon Simple Notification Service (SNS) as a pub/sub messaging system.
        plans: ["Pro", "Enterprise"]
      - name: Kinesis
        description: Stream data through Amazon Kinesis.
        plans: ["Pro", "Enterprise"]
  - title: Networking
    features:
      - name: ALB
        description: Distribute traffic across your apps using the Application Load Balancer (ALB). Supports HTTP, HTTPS, and WebSockets.
        plans: ["Lite", "Pro", "Enterprise"]
      - name: API Gateway
        description: Expose APIs and build fully serverless apps using API Gateway.
        plans: ["Lite", "Pro", "Enterprise"]
      - name: Default VPC
        description: Deploy all your AWS resources into the default Virtual Private Cloud (VPC).
        plans: ["Lite", "Pro", "Enterprise"]
      - name: Custom VPC
        description: Deploy all your AWS resources into a custom Virtual Private Cloud (VPC), which gives you a more secure, locked-down, logically isolated network.
        plans: ["Pro", "Enterprise"]
      - name: VPN
        description: Connect to your VPCs via a Virtual Private Network (VPN) powered by OpenVPN.
        plans: ["Pro", "Enterprise"]
      - name: SSH
        description: Connect to your EC2 instances over SSH. Use IAM Groups to manage access.
        plans: ["Pro", "Enterprise"]
      - name: NLB
        description: Distribute traffic across your apps using the Network Load Balancer (NLB). Supports TCP.
        plans: ["Pro", "Enterprise"]
      - name: CloudFront
        description: Deploy CloudFront as a Content Delivery Network (CDN).
        plans: ["Pro", "Enterprise"]
      - name: Service Mesh
        description: Deploy a Service Mesh such as Istio or Consul Connect to manage service discovery, service-to-service encryption, authentication, and authorization, traffic load balancing, access controls, rate limits, and more.
        plans: ["Enterprise"]
  - title: CI / CD
    features:
      - name: CodeDeploy
        description: Use Amazon CodeDeploy as your CI / CD server.
        plans: ["Lite", "Pro", "Enterprise"]
      - name: CircleCi
        description: Use CircleCi as your CI / CD server.
        plans: ["Pro", "Enterprise"]
      - name: Jenkins
        description: Use Jenkins as your CI / CD server.
        plans: ["Pro", "Enterprise"]
      - name: GitLab
        description: Use GitLab as your CI / CD server.
        plans: ["Pro", "Enterprise"]
  - title: Monitoring
    features:
      - name: CloudWatch
        description: Use Amazon CloudWatch to track metrics, create dashboards, aggregate log data, and configure alerts.
        plans: ["Lite", "Pro", "Enterprise"]
      - name: DataDog
        description: Use DataDog to track metrics, create dashboards, aggregate log data, and configure alerts.
        plans: ["Pro", "Enterprise"]
      - name: Prometheus and Grafana
        description: Use Prometheus and Grafana to track metrics and create dashboards
        plans: ["Enterprise"]
  - title: Landing Zone
    features:
      - name: CloudTrail
        description: Configure CloudTrail for audit logging across all your AWS accounts
        plans: ["Lite", "Pro", "Enterprise"]
      - name: Single AWS Account
        description: Run all your workloads in a single AWS account
        plans: ["Lite", "Pro", "Enterprise"]
      - name: Multiple AWS accounts
        description: Use AWS Organizations to set up and manage multiple AWS accounts
        plans: ["Pro", "Enterprise"]
      - name: AWS Config
        description: Configure AWS Config to audit and record configurations across all your AWS accounts
        plans: ["Pro", "Enterprise"]
      - name: Amazon GuardDuty
        description: Configure Amazon GuardDuty to automatically detect threats to your AWS accounts
        plans: ["Pro", "Enterprise"]
      - name: Amazon Macie
        description: Configure Amazon Macie to automatically protect sensitive data in your AWS accounts
        plans: ["Enterprise"]
      - name: SCPs
        description: Configure Service Control Policies (SCPs) as guard rails across all your AWS accounts.
        plans: ["Enterprise"]
  - title: Auth
    features:
      - name: IAM Users, Groups, Roles
        description: Use IAM Users, Groups, and Roles to manage authentication and authorization for your AWS accounts
        plans: ["Lite", "Pro", "Enterprise"]
      - name: ADFS, Google, Okta (SSO)
        description: Use AWS Single Sign On (SSO) to manage authentication and authorization for your AWS accounts with an existing identity provider, such as ADFS, Google, or Okta
        plans: ["Enterprise"]
  - title: Compliance
    features:
      - name: End-to-end encryption
        description: Encrypt all traffic in transit and at rest
        plans: ["Lite", "Pro", "Enterprise"]
      - name: Secrets Management
        description: Store secrets securely in AWS Secrets Manager
        plans: ["Lite", "Pro", "Enterprise"]
      - name: Server hardening
        description: Install server hardening tools such as fail2ban, ip-lockdown, auto-update, and anti-virus to protect your EC2 instances
        plans: ["Pro", "Enterprise"]
      - name: CIS Compliance
        description: Deploy infrastructure that is compliant out-of-the-box with the CIS AWS Foundations Benchmark.
        plans: ["Enterprise"]
  - title: Support
    features:
      - name: Documentation
        description: Use Gruntwork's deployment guides and reference documentation to get up and running
        plans: ["Lite", "Pro", "Enterprise"]
      - name: DevOps Training Library
        description: Learn DevOps fundamentals through a series of video courses
        plans: ["Lite", "Pro", "Enterprise"]
      - name: Community Support
        description: Get help from the Gruntwork community in an online Discussion Forum
        plans: ["Lite", "Pro", "Enterprise"]
      - name: Enterprise Support
        description: Get help directly from the Gruntwork team in a shared Slack channel with a strict SLA on response times.
        plans: ["Enterprise"]
      - name: Prioritized Bug Fixes
        description: Get a guaranteed SLA on bug fixes.
        plans: ["Enterprise"]
  - title: Limits
    features:
      - name: Apps
        description: The number of apps you can migrate and deploy on this plan
        values:
          Lite: 1
          Pro: 5
          Enterprise: Unlimited
      - name: Users
        description: The number of users you can have on this plan. A user is a human or machine that accesses the Gruntwork code repos, training materials, or support services.
        values:
          Lite: 1
          Pro: 10
          Enterprise: Unlimited

pricing:
  - title: Lite
    description: For solo devs, solopreneuers, and personal projects.
    price: Free
    image: /assets/img/grunty-free@2x.png
    image_styles: "max-width: 150px; margin-top: 18px"

  - title: Pro
    description: For startups and small businesses planning on running a few apps.
    price: "795"
    image: /assets/img/grunty-pro@2x.png
    image_styles: "max-width: 150px; margin-top: 18px"

  - title: Enterprise
    description: For larger businesses and enterprises looking to run many apps.
    price: Contact Us
    image: /assets/img/grunty-enterprise-heroku@2x.png
    image_styles: "max-width: 150px; margin-top: 18px"
---

<div class="main">
  <div class="section section-hero">
    <div class="container">
      <div class="row">{% include_relative _slim-hero.html %}</div>
    </div>
  </div>
  <div id="how-it-works" class="section section-dark">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a
          href="#"
          data-target="#reference-apps"
          aria-controls="reference-apps"
          role="tab"
          data-toggle="tab"
          >Reference Applications</a
        >
      </li>
      <li role="presentation">
        <a
          href="#"
          data-target="#reference-infra"
          aria-controls="reference-infra"
          role="tab"
          data-toggle="tab"
          >Reference Infrastructure</a
        >
      </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Reference Applications tab -->
      <div role="tabpanel" class="tab-pane active" id="reference-apps">
        <div class="container">{% include_relative _how-it-works.html %}</div>
        <div id="more-app-details" class="section section-dark">
          <div class="container">
            {% include_relative _app-more-details.html %}
          </div>
        </div>
      </div>
      <!-- Reference Infrastructure tab -->
      <div role="tabpanel" class="tab-pane" id="reference-infra">
        <div id="how-it-works" class="section section-dark">
          <div class="container">
            {% include_relative _infra-how-it-works.html %}
          </div>
        </div>
        <div id="more-infra-details" class="section section-dark">
          <div class="container">
            {% include_relative _infra-more-details.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="more-infra-details" class="section section-dark">
    <div class="container">{% include_relative _code-viewer-css-js.html %}</div>
  </div>
</div>
