<div id="pricing-faqs" class="row row-page-header">
  <div class="col-xs-12">
    <h2>Pricing FAQ's</h2>
    {% assign faq_length_half = page.faq.size | divided_by: 2 | plus: 1 %}
    <div class="row">
      <div class="col-md-6">
        {% for item in page.faq limit:faq_length_half %}
          <h4 id="{{ item.question | slugify }}">{{ item.question }}</h4>
          {{ item.answer }}
        {% endfor %}
      </div>
      <div class="col-md-6">
        {% for item in page.faq offset:faq_length_half %}
          <h4 id="{{ item.question | slugify }}">{{ item.question }}</h4>
          {{ item.answer }}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
