<table class="table table-condensed table-center" style="margin-top: 100px">
  <thead>
    <tr>
      <th style="width: 25%">&nbsp;</th>
      {% for pricing in page.pricing %}
        <th style="width: 25%; padding-bottom: 0">
          <img src="{{ pricing.image }}" style="{{ pricing.image_styles }}">
        </th>
      {% endfor %}
    </tr>
    <tr>
      <th style="width: 25%">&nbsp;</th>
      {% for pricing in page.pricing %}
        <th style="width: 25%; border-top: 1px solid #194c5f; border-left: 1px solid #194c5f; border-right: 1px solid #194c5f; background-color: #252e3a">
          <h3 class="h2 no-anchor margin-bottom-none">{{ pricing.title }}</h3>
        </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="width: 25%">&nbsp;</td>
      {% for pricing in page.pricing %}
        <td style="width: 25%; border-left: 1px solid #194c5f; border-right: 1px solid #194c5f; background-color: #252e3a; font-size: 1.7rem; color: #bfbfbf" class="text-center">
          {{ pricing.description }}
        </td>
      {% endfor %}
    </tr>
    <tr>
      <td style="width: 25%">&nbsp;</td>
      {% for pricing in page.pricing %}
        <td style="width: 25%; border-left: 1px solid #194c5f; border-right: 1px solid #194c5f; background-color: #252e3a" class="text-center">
          <hr>
          {% if pricing.price == "Contact Us" %}
            <p class="h1 enterprise-h1">Contact Us</p>
          {% elsif pricing.price == "Free" %}
            <p class="h1 enterprise-h1">Free</p>
          {% else %}
            <p class="big-price"><span>$</span>{{ pricing.price }}</p>
            <p class="help-block" style="margin-top:-9px;">per month</p>
          {% endif %}
        </td>
      {% endfor %}
    </tr>
    <tr>
      <td style="width: 25%">&nbsp;</td>
      {% for pricing in page.pricing %}
        <td style="width: 25%; border-left: 1px solid #194c5f; border-right: 1px solid #194c5f; background-color: #252e3a" class="text-center">
          {% if pricing.price == "Contact Us" %}
            <p><a class="btn btn-primary" href="{{ page.permalink }}contact/?selection={{ pricing.title | slugify }}">Contact Us</a></p>
            <p class="text-muted small">
              <em>Annual contract.<br />Billed monthly or annually.</em>
            </p>
          {% elsif pricing.price == "Free" %}
            <p><a id="pricing-cta-aws" class="btn btn-info pricing-ctas" href="{{ page.permalink }}contact/?selection={{ pricing.title | slugify }}" ga-on="click" ga-event-category="{{ page.path | slugify }}" ga-event-action="select-cta">Select</a></p>
            <p class="text-muted small">
              <em>Annual contract.<br />Billed monthly or annually.</em>
            </p>
          {% else %}
            <p><a id="pricing-cta-aws" class="btn btn-info pricing-ctas" href="{{ page.permalink }}contact/?selection={{ pricing.title | slugify }}" ga-on="click" ga-event-category="{{ page.path | slugify }}" ga-event-action="select-cta">Select</a></p>
            <p class="text-muted small"><em>Annual contract<br>Billed monthly or annually.</em></p>
          {% endif %}
        </td>
      {% endfor %}
    </tr>
    {% for category in page.categories %}
      <tr>
        <td style="text-align: left"><h3 class="margin-bottom-none">{{ category.title }}</h3></td>
        <td style="border-left: 1px solid #194c5f; border-right: 1px solid #194c5f; background-color: #252e3a"><hr style="margin-bottom: 10px"></td>
        <td style="border-left: 1px solid #194c5f; border-right: 1px solid #194c5f; background-color: #252e3a"><hr style="margin-bottom: 10px"></td>
        <td style="border-left: 1px solid #194c5f; border-right: 1px solid #194c5f; background-color: #252e3a"><hr style="margin-bottom: 10px"></td>
      </tr>
      {% assign is_last_category = forloop.last %}
      {% for feature in category.features %}
        <tr>
          <th><span class="help-text light" title="{{ feature.description }}" data-toggle="tooltip">{{ feature.name }}</span></th>
          <td style="border-left: 1px solid #194c5f; border-right: 1px solid #194c5f; background-color: #252e3a;{% if is_last_category and forloop.last %} border-bottom: 1px solid #194c5f{% endif %}">
            {% if feature.values %}
              <span style="color: white">{{ feature.values["Lite"] }}</span>
            {% elsif feature.plans contains "Lite" %}
              <i class="fa fa-check" style="color: #69ff66" aria-hidden="true"></i>
            {% else %}
              <i class="fa fa-times" style="color: #f92e64" aria-hidden="true"></i>
            {% endif %}
          </td>
          <td style="border-left: 1px solid #194c5f; border-right: 1px solid #194c5f; background-color: #252e3a;{% if is_last_category and forloop.last %} border-bottom: 1px solid #194c5f{% endif %}">
            {% if feature.values %}
              <span style="color: white">{{ feature.values["Pro"] }}</span>
            {% elsif feature.plans contains "Pro" %}
              <i class="fa fa-check" style="color: #69ff66" aria-hidden="true"></i>
            {% else %}
              <i class="fa fa-times" style="color: #f92e64" aria-hidden="true"></i>
            {% endif %}
          </td>
          <td style="border-left: 1px solid #194c5f; border-right: 1px solid #194c5f; background-color: #252e3a;{% if is_last_category and forloop.last %} border-bottom: 1px solid #194c5f{% endif %}">
            {% if feature.values %}
              <span style="color: white">{{ feature.values["Enterprise"] }}</span>
            {% elsif feature.plans contains "Enterprise" %}
              <i class="fa fa-check" style="color: #69ff66" aria-hidden="true"></i>
            {% else %}
              <i class="fa fa-times" style="color: #f92e64" aria-hidden="true"></i>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    {% endfor %}
  </tbody>
</table>
