---
layout: landing
type: landing
slug: index-page

title: Pricing
excerpt: Configure the plan just right for your team.
permalink: /migrate-from-heroku-to-aws/pricing/

categories:
  - title: Basics
    features:
      - name: Apps
        description: The number of apps you can migrate and deploy on this plan
        values:
          Lite: 1
          Pro: 5
          Enterprise: Unlimited
      - name: Users
        description: The number of users you can have on this plan. A user is a human or machine that accesses the Gruntwork code repos, training materials, or support services.
        values:
          Lite: 1
          Pro: 10
          Enterprise: Unlimited
      - name: Estimated AWS bill
        description: This is a rough estimate of your monthly AWS billing using the infrastructure included in this plan. This assumes you have access to the AWS Free Tier.
        values:
          Lite: $0/mo
          Pro: $500/mo and up
          Enterprise: $2,000/mo and up
  - title: Compute
    features:
      - name: Fargate
        description: Deploy your apps onto AWS Fargate, a serverless compute engine for containers.
        plans: ["Lite", "Pro", "Enterprise"]
      - name: Lambda
        description: Deploy your apps onto AWS Lambda, a serverless compute engine for functions.
        plans: ["Lite", "Pro", "Enterprise"]
      - name: EKS (Kubernetes)
        description: Deploy your apps onto Amazon Elastic Kubernetes Service (EKS).
        plans: ["Pro", "Enterprise"]
      - name: ECS
        description: Deploy your apps onto Amazon Elastic Container Service.
        plans: ["Pro", "Enterprise"]
      - name: EC2
        description: Deploy your apps onto EC2 Instances and Auto Scaling Groups.
        plans: ["Pro", "Enterprise"]
  - title: Data Storage
    features:
      - name: Aurora Serverless
        description: Store data in Aurora Serverless, an on-demand, auto scaling relational database with PostgreSQL and MySQL compatibility.
        plans: ["Lite", "Pro", "Enterprise"]
      - name: ECR
        description: Store your Docker images in Amazon Elastic Container Registry (ECR).
        plans: ["Lite", "Pro", "Enterprise"]
      - name: RDS
        description: Store data in Amazon's Relational Database Service (RDS), which supports PostgreSQL, MySQL, SQL Server, MariaDB, Oracle, and Amazon Aurora.
        plans: ["Pro", "Enterprise"]
      - name: ElastiCache
        description: Use ElastiCache as a key-value store, with support for Redis and Memcached.
        plans: ["Pro", "Enterprise"]
      - name: Elasticsearch
        description: Use Amazon Elasticsearch to store logs and index text data.
        plans: ["Pro", "Enterprise"]
      - name: S3
        description: Store files and objects in Amazon's Simple Storage Service (S3).
        plans: ["Pro", "Enterprise"]
      - name: EFS
        description: Use Amazon's Elastic File System (EFS) as a network attached, shared file store (like NFS).
        plans: ["Pro", "Enterprise"]
      - name: SQS
        description: Use Amazon Simple Queue Service (SQS) as a message queue.
        plans: ["Pro", "Enterprise"]
      - name: SNS
        description: Use Amazon Simple Notification Service (SNS) as a pub/sub messaging system.
        plans: ["Pro", "Enterprise"]
      - name: Kinesis
        description: Stream data through Amazon Kinesis.
        plans: ["Pro", "Enterprise"]
  - title: Networking
    features:
      - name: ALB
        description: Distribute traffic across your apps using the Application Load Balancer (ALB). Supports HTTP, HTTPS, and WebSockets.
        plans: ["Lite", "Pro", "Enterprise"]
      - name: API Gateway
        description: Expose APIs and build fully serverless apps using API Gateway.
        plans: ["Lite", "Pro", "Enterprise"]
      - name: VPC
        description: Deploy all your AWS resources in logically isolated networks called Virtual Private Clouds (VPCs).
        plans: ["Pro", "Enterprise"]
      - name: VPN
        description: Connect to your VPCs via a Virtual Private Network (VPN) powered by OpenVPN.
        plans: ["Pro", "Enterprise"]
      - name: SSH
        description: Connect to your EC2 instances over SSH. Use IAM Groups to manage access.
        plans: ["Pro", "Enterprise"]
      - name: NLB
        description: Distribute traffic across your apps using the Network Load Balancer (NLB). Supports TCP.
        plans: ["Pro", "Enterprise"]
      - name: CloudFront
        description: Deploy CloudFront as a Content Delivery Network (CDN).
        plans: ["Pro", "Enterprise"]
      - name: Service Mesh
        description: Deploy a Service Mesh such as Istio or Consul Connect to manage service discovery, service-to-service encryption, authentication, and authorization, traffic load balancing, access controls, rate limits, and more.
        plans: ["Enterprise"]
  - title: CI / CD
    features:
      - name: CodeDeploy
        description: Use Amazon CodeDeploy as your CI / CD server.
        plans: ["Lite", "Pro", "Enterprise"]
      - name: CircleCi
        description: Use CircleCi as your CI / CD server.
        plans: ["Pro", "Enterprise"]
      - name: Jenkins
        description: Use Jenkins as your CI / CD server.
        plans: ["Pro", "Enterprise"]
      - name: GitLab
        description: Use GitLab as your CI / CD server.
        plans: ["Pro", "Enterprise"]
  - title: Monitoring
    features:
      - name: CloudWatch
        description: Use Amazon CloudWatch to track metrics, create dashboards, aggregate log data, and configure alerts.
        plans: ["Lite", "Pro", "Enterprise"]
      - name: DataDog
        description: Use DataDog to track metrics, create dashboards, aggregate log data, and configure alerts.
        plans: ["Pro", "Enterprise"]
      - name: Prometheus and Grafana
        description: Use Prometheus and Grafana to track metrics and create dashboards
        plans: ["Enterprise"]
  - title: Landing Zone
    features:
      - name: Single AWS Account
        description: Run all your workloads in a single AWS account
        plans: ["Lite", "Pro", "Enterprise"]
      - name: CloudTrail
        description: Configure CloudTrail for audit logging across all your AWS accounts
        plans: ["Lite", "Pro", "Enterprise"]
      - name: Multiple AWS accounts
        description: Use AWS Organizations to set up and manage multiple AWS accounts
        plans: ["Pro", "Enterprise"]
      - name: AWS Config
        description: Configure AWS Config to audit and record configurations across all your AWS accounts
        plans: ["Pro", "Enterprise"]
      - name: Amazon GuardDuty
        description: Configure Amazon GuardDuty to automatically detect threats to your AWS accounts
        plans: ["Pro", "Enterprise"]
      - name: Amazon Macie
        description: Configure Amazon Mazie to automatically protect sensitive data in your AWS accounts
        plans: ["Enterprise"]
      - name: SCPs
        description: Configure Service Control Policies (SCPs) as guard rails across all your AWS accounts.
        plans: ["Enterprise"]
  - title: Security
    features:
      - name: IAM Users, Groups, Roles
        description: Use IAM Users, Groups, and Roles for authentication and authorization
        plans: ["Lite", "Pro", "Enterprise"]
      - name: End-to-end encryption
        description: Encrypt all traffic in transit and at rest
        plans: ["Lite", "Pro", "Enterprise"]
      - name: Secrets Management
        description: Store secrets securely in AWS Secrets Manager
        plans: ["Lite", "Pro", "Enterprise"]
      - name: Server hardening
        description: Install server hardening tools such as fail2ban, ip-lockdown, auto-update, and anti-virus to protect your EC2 instances
        plans: ["Pro", "Enterprise"]
      - name: CIS Compliance
        description: Deploy infrastructure that is compliant out-of-the-box with the CIS AWS Foundations Benchmark.
        plans: ["Enterprise"]
  - title: Support
    features:
      - name: Documentation
        description: Use Gruntwork's deployment guides and reference documentation to get up and running
        plans: ["Lite", "Pro", "Enterprise"]
      - name: DevOps Training Library
        description: Learn DevOps fundamentals through a series of video courses
        plans: ["Lite", "Pro", "Enterprise"]
      - name: Community Support
        description: Get help from the Gruntwork community in an online Discussion Forum
        plans: ["Lite", "Pro", "Enterprise"]
      - name: Enterprise Support
        description: Get help directly from the Gruntwork team in a shared Slack channel with a strict SLA on response times.
        plans: ["Enterprise"]
      - name: Prioritized Bug Fixes
        description: Get a guaranteed SLA on bug fixes.
        plans: ["Enterprise"]

pricing:
  - title: Lite
    description: For solopreneuers and personal projects.
    price: Free
    image: /assets/img/grunty-free@2x.png
    image_styles: "max-width: 150px; margin-top: 18px"

  - title: Pro
    description: For startups, small businesses planning on running a few apps.
    price: "795"
    image: /assets/img/grunty-pro@2x.png
    image_styles: "max-width: 150px; margin-top: 18px"

  - title: Enterprise
    description: For larger businesses and enterprises looking to run many apps.
    price: Contact Us
    image: /assets/img/grunty-enterprise-heroku@2x.png
    image_styles: "max-width: 150px; margin-top: 18px"
---

<div class="main page-pricing">
  <div class="section page-pricing-header">
    {% include_relative _hero.html %}
  </div>
  <div class="section-dark">
    <div class="container">
      {% include_relative _plans.html %}
    </div>
  </div>
</div>
