---
layout: landing
type: landing
slug: index-page

title: Pricing
excerpt: Configure the plan just right for your team.
permalink: /migrate-from-heroku-to-aws/pricing/

pricing:
  - title: Free
    description: For solopreneuers and personal projects.
    price: Free
    image: /assets/img/grunty-free@2x.png
    image_styles: "max-width: 150px; margin-top: 18px"
    features:
      - name: 1 App
        description: An app is a single service that you want to migrate from Heroku to AWS. This plan allows you to migrate & run only one app. For more apps, please see the other plans.
      - name: Single AWS Account
        description: You can only migrate to a single AWS account with this plan. For multi-account setup, please refer to the Enterprise plan.
      - name: 1 User
        description: A user is a human or machine that accesses the Gruntwork code repos, training materials, or support services. For more than 10 users, see Gruntwork Enterprise.
      - name: Gruntwork Lite Stack
        description: You get access to the Gruntwork Lite Stack, which includes modules for services such as ECS Fargate, ALB, ECR and Aurora Serverless.
      - name: Access to Docs
        description: This plan gets you access to all the modules documentation and any production guides for free. For access to the DevOps Training Library, see the Enterprise plan.
      - name: $0 USD estimated AWS costs*
        description: This plan is eligible for the AWS Free Tier. Please contact us for more information.

  - title: Pro
    description: For startups, small businesses planning on running a few apps.
    price: "495"
    image: /assets/img/grunty-pro@2x.png
    image_styles: "max-width: 150px; margin-top: 18px"
    features:
      - name: Up to 10 Apps
        description: An app is a single service that you want to migrate from Heroku to AWS. This plan allows you to migrate & run up to 10 apps. For more, please see the Enterprise plan.
      - name: Single AWS Account
        description: You can only migrate to a single AWS account with this plan. For multi-account setup, please refer to the Enterprise plan.
      - name: Up to 10 Users
        description: A user is a human or machine that accesses the Gruntwork code repos, training materials, or support services. For more than 10 users, see Gruntwork Enterprise.
      - name: Gruntwork Pro Stack
        description: You get access to the Gruntwork Pro Stack, which includes modules from the Gruntwork Lite Stack, and RDS, ElastiCache, Elasticsearch.
      - name: Access to Docs
        description: This plan gets you access to all the modules documentation and any production guides for free. For access to the DevOps Training Library, see the Enterprise plan.
      - name: Community Support
        description: Community Support is included with this plan. For faster response times, support via email, and private Slack chat, see the Enterprise plan.
      - name: Contact us for estimated AWS costs*
        description: This plan may incur costs in AWS. Please contact us for more information.

  - title: Enterprise
    description: For larger businesses and enterprises looking to run many apps.
    price: Contact Us
    image: /assets/img/grunty-enterprise-heroku@2x.png
    image_styles: "max-width: 150px; margin-top: 18px"
    features:
      - name: Unlimited Apps
        description: An app is a single service that you want to migrate from Heroku to AWS. This plan allows you to migrate & run as many apps as you need.
      - name: Multiple AWS Accounts
        description: You can migrate & run your apps in as many AWS account as you need.
      - name: Unlimited Users
        description: Your subscription includes support for unlimited users.
      - name: Gruntwork Enterprise Stack
        description: You get unlimited access to the Gruntwork Enterprise Stack, which includes 350,000+ lines of reusable, battle-tested, production-ready infrastructure code.
      - name: Access to DevOps Training Library & Docs
        description: Learn DevOps fundamentals with our online video courses designed specially for aspiring DevOps Engineers.
      - name: Enterprise Support
        description: Gruntwork engineers will usually respond to private chat questions quickly, but no later than 4 business hours after we receive your request.
      - name: Prioritized Bug Fixes
        description: We will begin work on any bugs you identify in the Infrastructure as Code Library as quickly as we can, but no later than 2 days after you request it.
      - name: Contact us for estimated AWS costs
        description: This plan may incur costs in AWS. Please contact us for more information.

---

<div class="main page-pricing">
  <div class="section page-pricing-header">
    {% include_relative _hero.html %}
  </div>
  <div class="section-dark">
    <div class="container">
      {% include_relative _plans.html %}
    </div>
  </div>
</div>
