.about-us {
  margin-top: 100px;
}
.team-member {
  @include make-row();
  padding-top: 30px;
  padding-bottom: 30px;

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.team-member__avatar {
  @include make-sm-column(4);

  padding-bottom: 20px;

  &--reverse {
    @include make-sm-column(4);
    @extend .col-sm-push-8;
  }
}
.team-member__text {
  @include make-sm-column(8);

  &--reverse {
    @include make-sm-column(8);
    @extend .col-sm-pull-4;
  }
}
.avatar {
  @extend .img-responsive;

  border-radius: 50%;
  margin: 0 auto;
  display: block;
}
