.client {
  @include make-row();

  @media (min-width: $screen-sm) {
    display: flex;
    align-items: center;
  }

  padding-top: 30px;
  padding-bottom: 30px;
}

.client__image {
  @include make-sm-column(3);

  &--reverse {
    @include make-sm-column(3);
    @extend .col-sm-push-9;
  }
}

.client__text {
  @include make-sm-column(9);

  &--reverse {
    @include make-sm-column(9);
    @extend .col-sm-pull-3;
  }
}

.paragraph-light {
  color: rgba(255, 255, 255, 0.5);
}

.client__heading {
  margin-bottom: 10px;
}

.permalink {
  width: 15px;
  height: 15px;
  background-image: url(../images/permalink.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
}
