
.contact {
  margin-top: 100px;
}

.contact-form {
  margin-top: 50px;
}

.submit-btn {
  @extend .link-btn;

  margin-top: 70px;
  background: linear-gradient(90deg, $blue, $cyan);
  color: white;
}

.social-links {
  @extend .list-inline;
  margin-top: 20px;
}
.social-links__link {
  padding-left: 5px;
  padding-right: 5px;
}
.social-links__img {
  width: 40px;
}
.thanks-container {
  background-image: url(../images/thanks-background.svg), url(../images/letter.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  width: 100%;
  height: 400px;
  position: relative;

  p {
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 60%;
    text-align: center;

    @media (max-width: $screen-sm-max) {
      width: 100%;
    }
  }
}
