
.contact {
  margin-top: 100px;
}

.contact-form {
  margin-top: 50px;
}

.submit-btn {
  @extend .link-btn;

  margin-top: 70px;
  background: linear-gradient(90deg, $blue, $cyan);
  color: white;
}

.social-links {
  @extend .list-inline;
  margin-top: 20px;
}
.social-links__link {
  color: white;
  font-size: 40px;
  padding-left: 5px;
  padding-right: 5px;
}
.social-links__link.icon-github:hover {color:#28a745;}
.social-links__link.icon-facebook:hover {color:#3b5998;}
.social-links__link.icon-twitter:hover {color:#55acee;}
.social-links__link.icon-linkedin:hover {color:#007bb5;}
.social-links__link.icon-envelop:hover {color:#ff6600;}
.social-links__img {
  width: 40px;
}
.thanks-container {
  background-image: url(../images/thanks-background.svg), url(../images/letter.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  width: 100%;
  height: 400px;
  position: relative;

  p {
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 60%;
    text-align: center;

    @media (max-width: $screen-sm-max) {
      width: 100%;
    }
  }
}

.package-info {
  display: inline-block;
  background: url(../images/info.svg);
  width: 22px;
  height: 22px;
  line-height: 30px;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;

  &:hover {
    background: url(../images/info-white.svg)
  }

  &:hover .package-info-text {
    display: block;
  }
}

.package-info-text {
  position: absolute;
  display: none;
  font-size: 17px;
  text-transform: none;
  bottom: 40px;
  left: -136px;
  width: 300px;
  line-height: 20px;
  background: white;
  color: black;
  border-radius: 5px;
  padding: 20px;
  z-index: 99999;

  p {
    margin-top: 20px;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: calc(50% - 10px);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
  }
}
