.infrastructure {
  margin-top: 100px;
}

.package-container {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 15px;
  background-image: linear-gradient(rgba(49, 52, 78, 0.5), #161D26);
  border: 1px solid rgba(100, 100, 100, 0.6);

  opacity: 0.6;

  &:hover,
  &.open {
    opacity: 1;
  }

  @media (max-width: $screen-sm-max) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.package {
  @include make-row()
}
.package-text {
  @include make-md-column(10);
}
.package-action {
  @include make-md-column(2);
  text-align: center;
}
.package__cta {
  @extend .link-bordered;
  @extend .link-bordered--upper;
  margin: 20px;
}
.package__title {
  font-weight: bold;
  line-height: 30px;
}
.package__text {
  color: rgba(255,255,255,0.75);
  line-height: 25px;
  max-height: 50px;
  overflow: hidden;
  transition: all 0.1s;
  position: relative;

  .open & {
    margin-top: 20px;
  }
}
.package__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(transparent, #161D26);
  transition: all 0.1s;

  .open & {
    background: none;
  }
}
.package__link {
  margin-top: 20px;
}
.package__image {
  float: left;
  margin: 20px;

  @media (max-width: $screen-sm-max) {
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.technologies {
  margin-top: 50px;
  text-align: center;
}
.technologies-list {
  @extend .list-inline;
  margin-top: 30px;

  .technologies-list__item {
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px solid rgba(255,255,255, 0.2);
    width: 153px;
    vertical-align: middle;
    margin-top: 20px;

    &:last-child {
      border: none;
    }

    @media (max-width: $screen-sm-max) {
      border: none;
    }

  }
}

.technologies__header {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;

  span {
    background: #161D26;
    padding: 0;
    margin: 0;
    padding-left: 10px;
  }

  &:before {
    content: '';
    position: absolute;
    height: 1px;
    background: rgba(255,255,255, 0.2);
    top: 10px;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -99999;
  }
}

.technologies-list__item-text {
  font-size: 13px;
  margin-top: 15px;
  text-transform: uppercase;

  &--fade {
    color: rgba(255,255,255, 0.6);
  }
}
