.plans {
  margin-top: 100px;
}
.plans-table {
  @include make-row();

  text-align: center;
  background: #161D26;
}
.plans-table__item {
  @extend .list-unstyled;
  @include make-sm-column(12);
  @include make-md-column(4);
  @include make-lg-column(3);
  padding: 0;
  border-right: 1px solid rgba(255,255,255,0.2);

  &:first-child {
    padding-left: 30px;
  }
  &:last-child {
    border-right: none;
    padding-right: 30px;

    @media (max-width: $screen-sm-max) {
      padding-right: 0;
    }
  }

  li {
    line-height: 50px;
    font-size: 15px;
    position: relative;

    &:nth-child(2n+2) {
      background: rgba(255,255,255,0.06)
    }

    &:last-child {
      background: none;
      border: none;
    }
  }

  &.first {
    @extend .hidden-xs;
    @extend .hidden-sm;
    @extend .hidden-md;

    li {
      text-align: left;
      font-size: 13px;
      text-transform: uppercase;
      color: rgba(255,255,255,0.5);
      padding-left: 15px;
    }
  }

  .plan-mobile-label {
    @extend .visible-xs-inline-block;
    @extend .visible-sm-inline-block;
    @extend .visible-md-inline-block;
    color: rgba(255,255,255,0.5);
  }

  @media (max-width: $screen-lg) {
    margin-top: 100px;
    border: none;
  }
}
.plan-mobile-label,
.plan-mobile-value {
  @media (max-width: $screen-md) {
    @include make-xs-column(6);
  }
}

.plan-mobile-container {
  @include make-row();
}

.plan-heading {
  font-family: 'Dosis';
  font-size: 22px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    height: 100px;
  }
}

.plan-cta {
  @extend .link-btn;

  background: white;
  margin-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

.plan-info {
  @extend .pull-right;

  background: url(../images/info.svg);
  width: 22px;
  height: 22px;
  margin-top: 10px;
  margin-right: 10px;

  &:hover {
    background: url(../images/info-white.svg)
  }

  &:hover + .plan-info-text {
    display: block;
  }
}

.plan-info-text {
  position: absolute;
  display: none;
  font-size: 17px;
  text-transform: none;
  bottom: 60px;
  right: calc(50% - 280px);
  width: 300px;
  line-height: 20px;
  background: white;
  color: black;
  border-radius: 5px;
  padding: 20px;
  z-index: 99999;

  p {
    margin-top: 20px;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: calc(50% - 10px);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
  }
}
