---
layout: default
title: Pre-assembled Stacks | Gruntwork
excerpt: Reusable, battle-tested, production-ready solutions for common infrastructure problems.
permalink: /infrastructure.html
slug: infra-page
---

<section class="infrastructure">
  <header class="heading heading--center">
    <h1 class="heading__lead">Infrastructure Packages</h1>
    <h2 class="heading__text">
      Reusable, battle-tested, production-ready solutions for common infrastructure problems.
    </h2>
    <section class="section text-center">
      <img src="/assets/img/em-boxes.svg" alt="Placeholder boxes">
    </section>
  </header>
  <section class="section">
    <h2 class="heading__title">What’s an infrastructure package?</h2>
    <p>
      At <b>Gruntwork</b>, we’ve taken the thousands of hours we spent building infrastructure on Amazon Web Services (AWS) and condensed all that experience and code into pre-assembled Infrastructure Packages. Each Package is a reusable, tested, documented, configurable, best-practices definition of a piece of Infrastructure, written using a combination of Terraform, Go, and Bash, and proven in production at a number of companies.
    </p>
  </section>
  <section class="section">
    <h2 class="heading__title">Features</h2>
    <div class="icons-stack text-center">
      <div class="icons-stack__item grid-item grid-item--top-left">
        <img class="icons-stack__item-icon" src="/assets/img/book.svg" alt="Gruntwork feature">
        <p class="icons-stack__item-text">We give you 100% of the source code.</p>
      </div>
      <div class="icons-stack__item grid-item grid-item--top">
        <img class="icons-stack__item-icon" src="/assets/img/gift.svg" alt="Gruntwork feature">
        <p class="icons-stack__item-text">Every Package is backed by a suite of automated tests.</p>
      </div>
      <div class="icons-stack__item grid-item grid-item--top-right">
        <img class="icons-stack__item-icon" src="/assets/img/sync.svg" alt="Gruntwork feature">
        <p class="icons-stack__item-text">Commercially supported by Gruntwork, with regular updates, maintenance, patches, and new features.</p>
      </div>
      <div class="icons-stack__item grid-item grid-item--bottom-left">
        <img class="icons-stack__item-icon" src="/assets/img/badge.svg" alt="Gruntwork feature">
        <p class="icons-stack__item-text">Thoroughly documented and commented.</p>
      </div>
      <div class="icons-stack__item grid-item grid-item--bottom">
        <img class="icons-stack__item-icon" src="/assets/img/uptick.svg" alt="Gruntwork feature">
        <p class="icons-stack__item-text">Proven in production across many Gruntwork customers.</p>
      </div>
      <div class="icons-stack__item grid-item grid-item--bottom-right">
        <img class="icons-stack__item-icon" src="/assets/img/icons/boxes.svg" alt="Gruntwork feature">
        <p class="icons-stack__item-text">Customizable, configurable, and composable, so you can build your infrastructure how you want.</p>
      </div>
    </div>
  </section>
  <section class="section text-center">
    <img src="/assets/img/em-boxes.svg" alt="Placeholder boxes">
  </section>
  <section class="section">
    <h2 class="heading__title">Available infrastructure packages</h2>
    <div class="packages">
      {% for package in site.data.packages %}
        <div class="package-container">
          <div class="package__overlay"></div>
          <div class="package">
            <div class="package-text">
              <img src="/assets/img/blue-box.svg" alt="Placeholder box" class="package__image">
              <div class="package__title">{{package.name}}</div>
              <div class="package__text">
                {{package.description}}
                <div class="package__link">
                  <a target="blank" href="{{ package.docs_url }}" class="link-bordered">Documentation</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
  <section class="cta-container">
    <a href="/contact" class="link-btn"><div class="purple-red-gradient">Request a quote for the packages</div></a>
  </section>
  <section class="section">
    <h2 class="heading__title">Technologies We Support</h2>
    {% for tech in site.data.technologies %}
      <div class="technologies">
        <div class="technologies__header"><span>{{tech.name}}<span></div>
        <ul class="technologies-list">
        {% for item in tech.items %}
          <li class="technologies-list__item">
            <img data-src="/assets/img/technologies/grayscale/{{item.image}}" alt="{{item.text}}" class="lazyload">
            <div class="technologies-list__item-text {% if item.soon %}technologies-list__item-text--fade{% endif %}">
              {{item.text}}
            </div>
          </li>
        {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </section>
</section>
