@font-face {
	font-family: 'Galano Grotesque';
	src: url('../fonts/GalanoGrotesque-Regular.eot');
	src: url('../fonts/GalanoGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GalanoGrotesque-Regular.woff2') format('woff2'),
		url('../fonts/GalanoGrotesque-Regular.woff') format('woff'),
		url('../fonts/GalanoGrotesque-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Galano Grotesque';
	src: url('../fonts/GalanoGrotesque-Bold.eot');
	src: url('../fonts/GalanoGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GalanoGrotesque-Bold.woff2') format('woff2'),
		url('../fonts/GalanoGrotesque-Bold.woff') format('woff'),
		url('../fonts/GalanoGrotesque-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Dosis';
	src: url('../fonts/Dosis-Light.eot');
	src: url('../fonts/Dosis-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Dosis-Light.woff2') format('woff2'),
		url('../fonts/Dosis-Light.woff') format('woff'),
		url('../fonts/Dosis-Light.ttf') format('truetype');
	font-weight: lighter;
	font-style: normal;
}

@font-face {
	font-family: 'Adelle Sans';
	src: url('../fonts/AdelleSans-Regular.eot');
	src: url('../fonts/AdelleSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AdelleSans-Regular.woff2') format('woff2'),
		url('../fonts/AdelleSans-Regular.woff') format('woff'),
		url('../fonts/AdelleSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Adelle Sans';
	src: url('../fonts/AdelleSans-Bold.eot');
	src: url('../fonts/AdelleSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AdelleSans-Bold.woff2') format('woff2'),
		url('../fonts/AdelleSans-Bold.woff') format('woff'),
		url('../fonts/AdelleSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Adelle Sans';
	src: url('../fonts/AdelleSans-Light.eot');
	src: url('../fonts/AdelleSans-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AdelleSans-Light.woff2') format('woff2'),
		url('../fonts/AdelleSans-Light.woff') format('woff'),
		url('../fonts/AdelleSans-Light.ttf') format('truetype');
	font-weight: lighter;
	font-style: normal;
}
