.spotlights {
  > section {
    > .image {
      background-size: auto;
      background-repeat: no-repeat;

      &.bg-cover {
        background-size: cover;
      }
    }
  }
}

#intro .inner, #our-clients .inner {
  max-width: 50em;
}