.spotlights {
  > section {
    > .image {
      background-size: auto;
      background-repeat: no-repeat;

      &.bg-cover {
        background-size: cover;
      }
    }
  }
}

#intro .inner {
  max-width: 52em;
}

#our-clients .inner {
  .client-logo {
    width: 300px;
    height: 225px;
  }

  @include breakpoint(small) {
    .client-logo {
      width: 125px;
      height: 90px;

      img {
        max-width: 90px;
        max-height: 60px;
      }
    }

  }
}