a:hover {
  border-bottom: dotted 1px _palette(fg-bold);
  text-decoration: none;
}

a.image:hover {
  border-bottom: none;
}

a.no-border, a.no-border:hover {
  border: none;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  border: none;

  &:hover {
    border-bottom: dotted 1px _palette(fg-bold);
    text-decoration: none;
  }
}