/* @see https://codepen.io/andreasstorm/pen/lriga?editors=1100 */

.navigation {
  @extend .container;
	padding-top: 40px;
}

.navigation__logo {
  @include make-sm-column(4);
}

.navigation__menu {
  @include make-sm-column(8);

	  max-width: 1000px;
	  margin: 0 auto;
	  padding: 0px 20px;
	  position: relative;
}

.navigation__container > ul {
  	@extend .pull-right;
}

.navigation__container > ul > li {
  	text-align: center;
	  line-height: 60px;
	  margin-left: 10px;
	  margin-right: 10px;
}

.logo-text {
    font-family: 'Galano Grotesque';
    font-size: 35px;
    font-weight: bold;
    color: white;
}

.navigation__menu-link {
    font-family: 'Adelle Sans';
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
		transition: all 0.3s;
}

.navigation__menu-link:hover {
	text-decoration: none;
}

.navigation__menu-link--emphasis {
	color: white;
	padding: 10px 30px 8px;
	line-height: 20px;
	box-shadow: 0 0 22px 0 rgba(0,0,0,0.11);
	border-radius: 100px;
	color: white;
	letter-spacing: 1px;
	line-height: 23px;
	background-image: -webkit-gradient( linear, left top, right top, color-stop(0, $red), color-stop(0.5, $orange));
}
.navigation__menu-link--emphasis:hover {
	box-shadow: none;
	background-image: -webkit-gradient( linear, left top, right top, color-stop(0, $red), color-stop(0.5, $orange));
}

.navigation__container > ul li ul li {
	  width: 100%;
  	text-align: left;
}

.navigation__container ul li:hover {
	  cursor: pointer;
	  position: relative;
}
.navigation__container ul li:hover > ul {
  	display: block;
}
.navigation__container ul li:hover > a {
	  color: rgba(255, 255, 255, 1);
}

.navigation__container > ul li ul {
  	display: none;
  	position: absolute;
  	left: 0;
	  top: 100%;
  	width: 300px;
	  z-index: 2000;
}
.navigation__container > ul li ul li > a {
	  text-decoration: none;
}

[type="checkbox"], label {
	  display: none;
}

@media screen and (max-width: 1100px) {
	.navigation__container ul {
		  display: none;
	}

	label {
  		display: block;
  		background: #222;
		  width: 40px;
  		height: 40px;
  		cursor: pointer;
		  position: absolute;
		  right: 20px;
  		top: 0px;
	}

label:after{
  content:'';
  display: block;
  width: 30px;
  height: 5px;
  background: #777;
  margin: 7px 5px;
  box-shadow: 0px 10px 0px #777, 0px 20px 0px #777
}

	[type="checkbox"]:checked ~ ul {
  		display: block;
  		z-index: 9999;
  		position: absolute;
		  right: 20px;
		  left: 20px;
      margin-top: 50px;
	}

	.navigation__container a {
		  color: #777;
	}

	.navigation__container ul li {
		  display: block;
  		float: none;
  		width: 100%;
  		text-align: left;
  		background: #222;
		  text-indent: 20px;
	}

	.navigation__container > ul > li {
  		margin-left: 0px;
	}

	.navigation__container > ul li ul li {
  		display: block;
		  float: none;
	}

	.navigation__container > ul li ul {
		  display: block;
  		position: relative;
  		width: 100%;
		  z-index: 9999;
		  float: none;
	}
}
