@media (min-width: $screen-lg) {
  .grid-item {
    border: 1px solid rgba(255, 255, 255, 0.2);

    &--top {
        border-top: none;
    }
    &--top-left {
        border-top: none;
        border-left: none;
    }
    &--top-right {
        border-top: none;
        border-right: none;
    }
    &--bottom {
        border-bottom: none;
    }
    &--bottom-left {
        border-bottom: none;
        border-left: none;
    }
    &--bottom-right {
        border-bottom: none;
        border-right: none;
    }
  }
}
