---
layout: landing
type: landing
slug: pricing

title: Pick a plan
excerpt: Configure the plan just right for your team.
permalink: /patcher/pricing/


categories:
  - title:
    features:
    - name: Version number bumps
      description: Bump to the latest versions all your dependencies.
      plans: ["Free", "Basic", "Enterprise"]
    - name: Code updates
      description: Get all your code updated (only text transformations including mentions of the version numbers in code, comments or scripts).
      plans: ["Free", "Basic", "Enterprise"]
    - name: Public repos
      description: Keep your public respository dependencies up to date.
      plans: ["Free", "Basic", "Enterprise"]
    - name: Private repos
      description: Keep your private respository dependencies up to date.
      plans: ["Free", "Basic", "Enterprise"]
    - name: Support for side effects
      description: Get a preview of the side effects on your code.
      plans: ["Enterprise"]
    - name: Remote agents
      description: Get ECS and other agents working with your code. 

pricing:
  - title: Free
    description: Always stay up to date - up to 5 repos if you're here for Patcher only. Or if you're already a Gruntwork subscriber, keep all your repos up date for free for a year.
    price: "Free"
    image: /assets/img/aws-logo@2x.png
    image_styles: "max-width: 130px"

  - title: Basic
    description: Description of Option 2
    price: "495"
    image: /assets/img/gcp-logo@2x.png
    image_styles: "max-width: 130px"

  - title: Enterprise
    description: Description of Enterprise
    price: Contact Us
    image: /assets/img/grunty-enterprise-logo@2x.png
    image_styles: "max-width: 130px; margin-top: 24px"
---

<div class="main page-pricing">
  <div class="section page-pricing-header">
      {% include_relative _hero.html %}
  </div>
  <div class="section-dark">
    <div class="container">
      {% include_relative _plans.html %}
    </div>
  </div>
</div>
