---
layout: landing
type: landing
slug: pricing

title: Pick a plan
excerpt: Configure the plan just right for your team.
permalink: /patcher/pricing/


categories:
  - title: Code management
    features:
    - name: Version number bumps
      description: Bump to the latest versions all your dependencies.
      plans: ["Free", "Basic", "Enterprise"]
    - name: Code updates
      description: Get all your code updated (only text transformations including mentions of the version numbers in code, comments or scripts).
      plans: ["Free", "Basic", "Enterprise"]
    - name: Public repos
      description: Keep your public respository dependencies up to date.
      plans: ["Free", "Basic", "Enterprise"]
    - name: Private repos
      description: Keep your private respository dependencies up to date.
      plans: ["Free", "Basic", "Enterprise"]
  - title: Custom scripts
    features:
    - name: Custom scripts
      description: Execute custom scripts (e.g., update Terraform state, or a single 'go mod tidy') before or after your Patcher updates.
      plans: ["Enterprise"]
  - title: Security
    features:
      - name: Remote agents
        description: Run Patcher updates yourself directly in your AWS account without giving us access to your code.
        plans: ["Enterprise"]
  - title: Workflows
    features:
      - name: Promotion workflow
        description: Promote your updates safely from one branch or environment to another, mimicking your release workflow.
        plans: ["Enterprise"]
      - name: Internal dependency updates
        description: Create a workflow to help you update the internal dependencies in a way that follows your usual software development flow.
        plans: ["Enterprise"]
  - title: A Web UI
    features:
      - name: Dashboard
        description: See all your repos, dependencies and available updates.
        plans: ["Basic", "Enterprise"]
      - name: Update directly using the UI
        description: Control each of your repositories and dependencies, and apply updates directly with a click using the UI.
        plans: ["Enterprise"]
      - name: Manage your Patcher updates
        description: Choose if the Patcher updates are applied and merged automatically under certain conditions, or you get to review all updates and approve.
        plans: ["Enterprise"]

pricing:
  - title: Free
    description: Free up to 5 repos, or Gruntwork subscribers for the first 12 months.
    price: "Free"
    image: /assets/img/aws-logo@2x.png
    image_styles: "max-width: 130px"

  - title: Basic
    description: Free up to 5 repos, then 295 for every next repo.
    price: "295"
    image: /assets/img/gcp-logo@2x.png
    image_styles: "max-width: 130px"

  - title: Enterprise
    description:
    price: "595"
    image: /assets/img/grunty-enterprise-logo@2x.png
    image_styles: "max-width: 130px; margin-top: 24px"
---

<div class="main page-pricing">
  <div class="section page-pricing-header">
      {% include_relative _hero.html %}
  </div>
  <div class="section-dark">
    <div class="container">
      {% include_relative _plans.html %}
    </div>
  </div>
</div>
