---
layout: default
title: Usage Patterns Library
excerpt: A collection of opinionated, production-ready patterns for building an end-to-end tech stack on top of the Infrastructure as Code Library.
permalink: /usage-patterns-library/
slug: usage-patterns-library
footer_heading: Ready to hand off the Gruntwork?
redirect_from:
- /stacks/
- /reference-architecture/
---

<div class="main">
  <div class="section section-hero">
    {% include_relative _hero.html %}
  </div>
  <div class="section section-dark">
    <div class="container">
      {% include_relative _sub-hero.html %}
      {% include_relative _whats-included.html %}
      {% include_relative _process.html %}
    </div>
  </div>
</div>
