<h2>Choose your tools. We’ve got you covered.</h2>
<p>We integrate with a wide variety of existing infrastrucutre tools, so you can build and maintain your infrastrucuture the way that suits you. Missing a tool you need? Let us know!</p>

<style>
  #tech-matrix.table {
    margin-top: 50px;
  }
  #tech-matrix.table th, #tech-matrix.table td {
    text-align: left;
    width: 20%;
  }
  #tech-matrix.table tr:nth-child(odd) td:first-child {
    background-color: rgb(31, 59, 82);
  }
  #tech-matrix.table tr:nth-child(even) td:first-child {
    background-color: rgb(23, 51, 77);
  }
  #tech-matrix.table tr:last-child td {
    background-color: #1D252F !important;
  }
</style>
<div class="table-responsive">
  <table class="table table-striped" id="tech-matrix">
    <thead>
    <!--tr>
      <th>Category</th>
      <th colspan="4">Technologies</th>
    </tr-->
    </thead>
    <tbody>
    {% for row in page.tech_table %}
    <tr>
      <td style="width: 20%; color: white;">{{ row.title }}</td>
      {% for tool in row.tools %}
      <td>
        {{ tool.title }}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
