---
layout: landing
type: landing
slug: index-page

title: Deploy your infrastructure on AWS 10x faster.
excerpt: Generate production-grade Terraform code, customized to your use case, all in about a day.
permalink: /supercharged-iac-on-aws/
custom_js:
- prism
prism_css: /assets/css/prism-landing-zone.css

hero:
  image: /assets/img/infrastructure-cube-icons/infrastructure-in-a-day.png
  cta: Request early access!
  checklist:
    - The code lives in <i>your</i> git repo — edit as much as you want.
    - Written by the Terraform experts.
    - A learning tool for beginners; an accelerator for power users.
  logos:
  - /assets/img/logos-technologies/partner_logo_aws.png
  - /assets/img/logos-technologies/partner_logo_kubernetes.png
  - /assets/img/logos-technologies/partner_logo_terraform.png

how_it_works:
  - heading: "1. Select your core use case"
    image: /assets/img/landing-page-supercharge/select-use-case.png
    image_side: right
    image_width: 450px
    body: |
      We’ve already implemented best-practices Terraform code for common use cases in AWS across hundreds of battle-tested Terraform modules.

  - heading: "2. Configure your infrastructure, step by step"
    image: /assets/img/landing-page-supercharge/step-by-step.png
    image_side: left
    image_width: 450px
    body: |
      Once you select your use case, we’ll lay out the steps you need to complete it. Already completed a step? Just skip it and use your existing code.

how_it_works_continued:
  - heading: |
      4. Open PRs in <i>your&nbsp;</i> IaC repo
    image: /assets/img/landing-page-supercharge/submit-github-pr.png
    image_side: left
    image_width: 450px
    body: |
      Inspect the code you generated and merge it to your codebase. All PRs come with detailed docs explaining what we’ve done and any relevant concepts.
    logos:
      - title: GitHub
        src: /assets/img/landing-heroku-page/github-icon.png
      - title: GitLab
        src: /assets/img/landing-heroku-page/gitlab-icon.png
      - title: BitBucket
        src: /assets/img/landing-heroku-page/bitbucket-icon.png

  - heading: "5. Deploy any way you want"
    tab_block:
      - id: laptop
        title: Your Laptop
        content: /assets/img/landing-page-supercharge/deploy-your-way-laptop.png
      - id: ci-tool
        title: Favorite CI Tool
        content: /assets/img/landing-page-supercharge/deploy-your-way-ci.png
      - id: terraform-cloud
        title: Terraform Cloud
        content: /assets/img/landing-page-supercharge/deploy-your-way-tf-cloud.png
    image_side: right
    image_width: 450px
    body: |
      Call <code>terraform apply</code> on the newly merged code using your favorite Terraform pipeline solution such as Terraform Cloud / Enterprise, your favorite CI tool, or just your laptop.
    logos:
      - title: CircleCi
        src: /assets/img/landing-heroku-page/circleci-icon.png
      - title: Jenkins
        src: /assets/img/landing-heroku-page/jenkins-icon.png
      - title: GitLab
        src: /assets/img/landing-heroku-page/gitlab-icon.png
      - title: Terraform Cloud
        src: /assets/img/landing-heroku-page/terraform-icon.png

  - heading: "6. Validate & understand your changes"
    image: /assets/img/landing-page-supercharge/validate-your-changes.png
    image_side: left
    image_width: 450px
    body: |
     Be confident that everything works as expected. After each prod deployment, view a summary of automated test results, plus targeted AWS console links to inspect and understand the infrastructure you just deployed.

  - heading: "7. Stay up-to-date easily via Terraform pull requests"
    image: /assets/img/landing-page-supercharge/stay-up-to-date.png
    image_side: right
    image_width: 450px
    body: |
      Stay completely up-to-date with the latest compliance requirements, security patches, and AWS/DevOps best practices when we release them using <a href="/patcher">Gruntwork Patcher</a>.

features:
  - title: Built-in best practices
    features:
      - title: Modeled on the Well-Architected Framework
        description: We carefully review the AWS Well-Architected Framework when implementing all architectures.
        icon: /assets/img/landing-page-supercharge/feature-icons/well-architected.png

      - title: Code that looks like humans wrote it
        description: We wrote all Terraform and other code templates by hand to maximize readability and reuse.
        icon: /assets/img/landing-page-supercharge/feature-icons/human-code.png

      - title: Well-documented and commented
        description: All code is thoroughly documented and comes with extensive comments.
        icon: /assets/img/landing-page-supercharge/feature-icons/commented-code.png
  - title: Learn as you go
    features:
      - title: Get help choosing the right tech with selection guides
        description: RDS or Aurora? Making technology decisions in AWS can be hard, so we wrote comprehensive guides to help you choose.
        icon: /assets/img/landing-page-supercharge/feature-icons/guides.png

      - title: Learn AWS, DevOps and Terraform foundations
        description: Deploying an AWS resource requires more than just Terraform code. Use Gruntwork Academy to learn the foundations you need to know before provisioning.
        icon: /assets/img/landing-page-supercharge/feature-icons/academy.png

      - title: Get live support when you need it
        description: It's only a matter of time before you need help. When you do, Gruntwork engineers are subject matter experts in the use cases we support.
        icon: /assets/img/landing-page-supercharge/feature-icons/support.png
  - title: Join a community
    features:
      - title: See the tech decisions other teams make
        description: When selecting a technology, you can see what other Gruntwork customers selected to guide your decision.
        icon: /assets/img/landing-page-supercharge/feature-icons/stats.png

      - title: We maintain the code so you don’t have to
        description: It's our job to keep all our Terraform code up to date with AWS, DevOps, and Terraform best practices.
        icon: /assets/img/landing-page-supercharge/feature-icons/maintained.png

      - title: Leverage our Gruntwork partners
        description: Are we missing a tech you want? Gruntwork partners are AWS consulting shops who know AWS, Terraform, and Gruntwork, and can help you customize your code as needed.
        icon: /assets/img/landing-page-supercharge/feature-icons/partners.png

tech_table:
  - title: Network Access Control
    tools:
      - title: Bastion Host

      - title: OpenVPN

      - title: Teleport

      - title: #left blank to padd row

  - title: App Runtime
    tools:
      - title: EC2 / ACG

      - title: ECS

      - title: EKS (K8s)

      - title: Serverless

  - title: Data Storage
    tools:
      - title: RDS
        logo: /assets/img/landing-page-supercharge/logo-foo.png

      - title: RDS Aurora
        logo: /assets/img/landing-page-supercharge/logo-foo.png

      - title: Elasticsearch
        logo: /assets/img/landing-page-supercharge/logo-foo.png

      - title: Kafka
        logo: /assets/img/landing-page-supercharge/logo-foo.png

  - title: Secrets Management
    tools:
      - title: AWS Secrets Manager

      - title: HashiCorp Vault

      - title: #left blank to padd row

      - title: #left blank to padd row

  - title: Logging & Monitoring
    tools:
      - title: CloudWatch Logs
        logo: /assets/img/landing-page-supercharge/logo-foo.png

      - title: DataDog
        logo: /assets/img/landing-page-supercharge/logo-foo.png

      - title: #left blank to padd row

      - title: #left blank to padd row

  - title: CI/CD Pipeline
    tools:
      - title: CircleCI
        logo: /assets/img/landing-page-supercharge/logo-foo.png

      - title: Jenkins
        logo: /assets/img/landing-page-supercharge/logo-foo.png

      - title: GitHub Actions
        logo: /assets/img/landing-page-supercharge/logo-foo.png

      - title: GitLab
        logo: /assets/img/landing-page-supercharge/logo-foo.png

  - title: ...and more!

footer:
  heading: A better way to go live on AWS
  body: |
    <ul class="check-list purple-checks" style="display: inline-block; text-align: left; margin: 30px;">
      <li>Write your Terraform code in record time.</li>
      <li>Deploy production-grade architecture.</li>
      <li>Learn as you go.</li>
    </ul>
  blue: true
  cta: |
    Request early access!
---

<style>
  .check-list.black-checks li:before {
    color: #1D252F;
  }
  .check-list.blue-checks li:before {
    color: rgb(31, 59, 82);
  }
  .check-list.purple-checks li:before {
    color: #5849A6;
  }
  .check-list.white-checks li:before {
    color: #FFF;
  }

  .section-footer-content .btn-info {
    background: #5849A6;
    padding: 0.5em 3em;
    font-size: 24px;
    border-radius: 50vh;
  }

  h2 {
    font-weight: bold;
    font-size: 48px;
  }

  .zig-zag p {
    font-size: 24px;
  }
</style>

<div class="main">
  <div class="section section-hero">
    <div class="container">
        {% include_relative _hero.html %}
    </div>
  </div>
  <div class="section section-blue section-sub-hero">
    <div class="container">
        {% include_relative _sub-hero.html %}
    </div>
  </div>
  <div id="how-it-works-a" class="section section-dark">
    <div class="container">
      {% include_relative _zig-zag.html blocks=page.how_it_works %}
    </div>
  </div>
  <div class="section section-blue section-sub-hero" style="background-color:rgb(23, 51, 77);">
    <div class="container">
      {% include_relative _code-generation-demo.html %}
    </div>
  </div>
  <div id="how-it-works-b" class="section section-dark">
    <div class="container">
      {% include_relative _zig-zag.html blocks=page.how_it_works_continued %}
    </div>
  </div>
  <div id="features-table" class="section section-blue" style="background-color:rgb(23, 51, 77);">
    <div class="container">
      {% include_relative _features.html %}
    </div>
  </div>
  <div id="technology-table" class="section section-dark">
    <div class="container">
      {% include_relative _tech-table.html %}
    </div>
  </div>
  <!--div class="section section-blue">
    <div class="container">
      <div class="row row-community">
        {% include_relative _social-proof.html %}
      </div>
    </div>
  </div-->
</div>
