---
layout: landing
type: landing
slug: index-page

title: Deploy your infrastructure on AWS 10x faster.
excerpt: Generate production-grade Terraform code, customized to your use case, all in about a day.
permalink: /supercharged-iac-on-aws/
custom_js:
- prism
prism_css: /assets/css/prism-landing-zone.css

hero:
  image: /assets/img/infrastructure-cube-icons/infrastructure-in-a-day.png
  cta: Request early access!
  checklist:
    - The code lives in <i>your</i> git repo — edit as much as you want.
    - Written by the Terraform experts.
    - A learning tool for beginners; an accelerator for power users.
  logos:
  - /assets/img/logos-technologies/partner_logo_aws.png
  - /assets/img/logos-technologies/partner_logo_kubernetes.png
  - /assets/img/logos-technologies/partner_logo_terraform.png

how_it_works:
  - heading: "STEP 1: Select your use case"
    image: /assets/img/landing-page-supercharge/select-use-case.png
    image_side: right
    image_width: 450px
    body: |
      We've already implemented best-practices Terraform code for a select group of common use cases in AWS.

  - heading: "STEP 2: Be guided, step by step"
    image: /assets/img/landing-page-supercharge/step-by-step.png
    image_side: left
    image_width: 450px
    body: |
      Once you select your use case, we'll lay out the steps you need to complete it. Already done some of these steps? Just skip them and use your existing code.

how_it_works_continued:
  - heading: "STEP 4: Open PRs in your IaC repo"
    image: /assets/img/landing-page-supercharge/open-a-pr.png
    image_side: left
    image_width: 450px
    body: |
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

  - heading: "STEP 5: Deploy any way you want"
    tab_block:
      - id: laptop
        title: Your Laptop
        content: /assets/img/landing-page-supercharge/deploy-your-way-laptop.png
      - id: ci-tool
        title: Favorite CI Tool
        content: /assets/img/landing-page-supercharge/deploy-your-way-ci.png
      - id: terraform-cloud
        title: Terraform Cloud
        content: /assets/img/landing-page-supercharge/deploy-your-way-tf-cloud.png
    image_side: right
    image_width: 450px
    body: |
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

  - heading: "STEP 6: Validate & understand your changes"
    image: /assets/img/landing-page-supercharge/validate-your-changes.png
    image_side: left
    image_width: 450px
    body: |
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

  - heading: "STEP 7: Stay up-to-date automatically with Terraform pull requests"
    image: /assets/img/landing-page-supercharge/stay-up-to-date.png
    image_side: right
    image_width: 450px
    body: |
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

features:
  - title: Built-in Best Practices
    features:
      - title: Update dependency versions
        description: Patcher automatically updates you to the latest versions of dependencies
        icon: '<i class="fa fa-refresh fa-3x" aria-hidden="true"></i>'

      - title: Handle breaking changes
        description: Patcher can also patch your code to handle backwards incompatible changes
        icon: '<i class="fa fa-bolt fa-3x" aria-hidden="true"></i>'

      - title: Simple to install
        description: Patcher is an app for Github, BitBucket and GitLab, so install takes just a few clicks
        icon: '<i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>'
  - title: Learn as You Go
    features:
      - title: Pull request driven
        description: All updates are submitted as pull requests, so you can review and run tests before merging
        icon: '<i class="fa fa-code fa-3x" aria-hidden="true"></i>'

      - title: Stay secure
        description: Automatically stay up to date with security patches
        icon: '<i class="fa fa-shield fa-3x" aria-hidden="true"></i>'

      - title: Configurable
        description: "Specify how often to open pull requests: immediately after new releases, daily, weekly, etc."
        icon: '<i class="fa fa-sliders fa-3x" aria-hidden="true"></i>'
  - title: Join a Community
    features:
      - title: Pull request driven
        description: All updates are submitted as pull requests, so you can review and run tests before merging
        icon: '<i class="fa fa-code fa-3x" aria-hidden="true"></i>'

      - title: Stay secure
        description: Automatically stay up to date with security patches
        icon: '<i class="fa fa-shield fa-3x" aria-hidden="true"></i>'

      - title: Configurable
        description: "Specify how often to open pull requests: immediately after new releases, daily, weekly, etc."
        icon: '<i class="fa fa-sliders fa-3x" aria-hidden="true"></i>'

tech_table:
  - title: Network Access Control
    tools:
      - title: Tool
        logo: /assets/img/landing-page-supercharge/logo-foo.png

      - title: Tool
        logo: /assets/img/landing-page-supercharge/logo-foo.png

      - title: Tool
        logo: /assets/img/landing-page-supercharge/logo-foo.png

      - title: #left blank to padd row

  - title: App Runtime
    tools:
      - title: EC2 / ACG
        logo: /assets/img/landing-page-supercharge/logo-foo.png

      - title: ECS
        logo: /assets/img/landing-page-supercharge/logo-foo.png

      - title: EKS (K8s)
        logo: /assets/img/landing-page-supercharge/logo-foo.png

      - title: Serverless
        logo: /assets/img/landing-page-supercharge/logo-foo.png

  - title: Data Storage
    tools:
      - title: RDS
        logo: /assets/img/landing-page-supercharge/logo-foo.png

      - title: RDS Aurora
        logo: /assets/img/landing-page-supercharge/logo-foo.png

      - title: Elasticsearch
        logo: /assets/img/landing-page-supercharge/logo-foo.png

      - title: Kafka
        logo: /assets/img/landing-page-supercharge/logo-foo.png

  - title: Secrets Management
    tools:
      - title: AWS Secrets
        logo: /assets/img/landing-page-supercharge/logo-foo.png

      - title: HashiCorp Vault
        logo: /assets/img/landing-page-supercharge/logo-foo.png

      - title: #left blank to padd row

      - title: #left blank to padd row

  - title: Logging & Monitoring
    tools:
      - title: CloudWatch
        logo: /assets/img/landing-page-supercharge/logo-foo.png

      - title: DataDog
        logo: /assets/img/landing-page-supercharge/logo-foo.png

      - title: #left blank to padd row

      - title: #left blank to padd row

  - title: CI/CD Pipeline
    tools:
      - title: CircleCI
        logo: /assets/img/landing-page-supercharge/logo-foo.png

      - title: Jenkins
        logo: /assets/img/landing-page-supercharge/logo-foo.png

      - title: GitHub Actions
        logo: /assets/img/landing-page-supercharge/logo-foo.png

      - title: GitLab
        logo: /assets/img/landing-page-supercharge/logo-foo.png

  - title: and more…

footer:
  heading: The infrastructure you’ve always wanted
  body: |
    <ul class="check-list" style="display: inline-block; text-align: left; margin-top: 10px; margin-bottom: 0">
      <li>The seamless experience you expect from Heroku.</li>
      <li>The control and scalability you expect from AWS.</li>
      <li>The production-grade code you expect from Gruntwork.</li>
    </ul>
  cta: Request early access!
---

<div class="main">
  <div class="section section-hero">
    <div class="container">
        {% include_relative _hero.html %}
    </div>
  </div>
  <div class="section section-blue section-sub-hero">
    <div class="container">
        {% include_relative _sub-hero.html %}
    </div>
  </div>
  <div id="how-it-works-a" class="section section-dark">
    <div class="container">
      {% include_relative _zig-zag.html blocks=page.how_it_works %}
    </div>
  </div>
  <div class="section section-blue section-sub-hero" style="background-color:rgb(23, 51, 77);">
    <div class="container">
      {% include_relative _code-generation-demo.html %}
    </div>
  </div>
  <div id="how-it-works-b" class="section section-dark">
    <div class="container">
      {% include_relative _zig-zag.html blocks=page.how_it_works_continued %}
    </div>
  </div>
  <div id="features-table" class="section section-blue" style="background-color:rgb(23, 51, 77);">
    <div class="container">
      {% include_relative _features.html %}
    </div>
  </div>
  <div id="technology-table" class="section section-dark">
    <div class="container">
      {% include_relative _tech-table.html %}
    </div>
  </div>
  <!--div class="section section-blue">
    <div class="container">
      <div class="row row-community">
        {% include_relative _social-proof.html %}
      </div>
    </div>
  </div-->
</div>
