---
layout: landing
type: landing
slug: index-page
custom_js: prism
prism_css: /assets/css/prism-landing-zone.css

extra_nav_links:
  - name: Use Cases
    url: /patcher/use-cases/

title: Patcher Use Cases
excerpt: Some examples of scenarios where Patcher can be useful
permalink: /patcher/use-cases/

use_cases:
  - heading: |
      <div style="font-size: 18px; color: #CCC">Example #1</div>
      <div>Update to Terraform 1.0</div>
    tab_block:
      - id: pr
        title: Example Pull Request
        image: "https://s6.gifyu.com/images/tf92e8ec56f233ce68.gif"
      - id: patch
        title: tf-13-to-14.patch
        include: _example-patch.html
    body: |
      <ul>
        <li>Use Patcher to update your Terraform code from an older version (e.g. 0.11) all the way up to the latest version (e.g. 1.0) automatically.</li>
        <li>Patcher does this using <i>Patch Files</i>, which transform code automatically (e.g. switching from HCL1 to HCL2 syntax or updating <code>source</code> URLs to compatible module versions) and open pull requests with the results.</li>
        <li>You can use off-the-shelf Patch Files created by Gruntwork (e.g. we offer Terraform upgrade patches such as <code>tf-13-to-14.patch</code>, <code>tf-14-to-15.patch</code>, etc) or create your own Patch Files!</li>
      </ul>

  - heading: |
      <div style="font-size: 18px; color: #CCC">Example #2</div>
      <div>Patch a vulnerability in Rails</div>
    image_side: left
    tab_block:
      - id: rails-pr
        title: Example Pull Request
        image: /assets/img/logos-patcher/patch-rails-vulnerability.png
    body: |
      <ul>
        <li>Ruby on Rails has had several severe vulnerabilities with YAML parsing (e.g., <a href="https://www.rapid7.com/blog/post/2013/01/09/serialization-mischief-in-ruby-land-cve-2013-0156/">CVE-2013-0156</a>) that allowed remote attackers to execute arbitrary code, conduct SQL injection attacks, or bypass authentication.</li>
        <li>You can use Patcher to automatically update your Rails app to fix this vulnerability.</li>
        <li>Patcher can not only update you to the new version of Ruby on Rails, but also make the necessary changes to your app code to ensure the vulnerability is fully fixed.</li>
      </ul>

  - heading: |
      <div style="font-size: 18px; color: #CCC">Example #3</div>
      <div>Keep everyone on the latest version of an internal Java library</div>
    image: https://upload.wikimedia.org/wikipedia/de/thumb/e/e1/Java-Logo.svg/1200px-Java-Logo.svg.png
    image_width: 200px
    body: |
      <ol>
        <li>Let's say you are the maintainer of a <code>security.jar</code> library that is used by 300 microservices (300 other teams) within your company.</li>
        <li>When you open a pull request with some changes to <code>security.jar</code>, Patcher automatically finds all the services that depends on <code>security.jar</code>, runs their tests with your updates, and shows you the results, so you know if you made breaking changes.</li>
        <li>If you did make breaking changes, you can create a <i>Patch File</i> to patch those services, and Patcher will show you the results of both applying your Patch File and executing the tests of each service.</li>
        <li>Once all tests are passing, you merge, release a new version of <code>security.jar</code>, and Patcher opens pull requests against all those services to update them to the new version.</li>
      </ol>

footer:
  heading: Keep your code up to date, even with breaking changes
  body: |
    <ul class="check-list" style="display: inline-block; text-align: left; margin-top: 10px; margin-bottom: 0">
      <li>Always stay up-to-date.</li>
      <li>Get new features and security fixes completely automatically.</li>
      <li>Make breaking changes a thing of the past.</li>
    </ul>
  cta: Request early access!
---

<div class="main page-pricing">
  <div class="section page-pricing-header">
    {% include_relative _hero.html %}
  </div>
  <div id="use-cases" class="section">
    <div class="container">
      {% include_relative _use-cases.html %}
    </div>
  </div>
</div>
