@import "variables";
@import "bootstrap-custom";
@import "fonts";
@import "footer";
@import "nav";
@import "accordion";

body {
  color: white;

  background-image: url(../images/background.svg);
  background-repeat: repeat;
  background-position: left;
  background-size: auto;

  font-family: 'Adelle Sans';

  /* Hero illustration goes outside the container */
  overflow-x: hidden;

  &.index {
    background-image: url(../images/diagonialx2.svg), url(../images/background.svg);
    background-repeat: no-repeat, repeat;
    background-position: 85% center, left;
    background-size: cover, auto;
  }
}

a:hover,
a:visited,
a:active,
a:focus {
  text-decoration: none;
}

.help,
.case-studies,
.contact,
.stacks,
.plans {
  margin-top: 100px;
}

.help,
.case-studies,
.plans {
  text-align: center;
}

.help__cta,
.case-studies__cta {
  text-align: center;
  margin-top: 50px;
}

.list, .list {
  list-style: none;
  padding: 0;
}

.list li {
  position: relative;
}

.list li:before {
  content: '';
  position: absolute;
  border-left: 1px solid $orange;
  top: 0;
  bottom: 0;
  right: 0;
  left: -10px;
}

.link-bordered {
  font-family: 'Adelle Sans';
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: 1px;
  border-style: solid;
  border-image: linear-gradient(90deg, $purple, $red) 0 30 30 21;
  border-left: none;
  border-right: none;
  display: inline-block;
  color: white;
  letter-spacing: 1px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.link-bordered:hover {
  color: $light-blue;
}

.link-btn {
  font-family: 'Adelle Sans';
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  box-shadow: 0 0 22px 0 rgba(0,0,0,0.11);
  border-radius: 100px;
  background: white;
  color: $light-blue;
  letter-spacing: 1px;
  padding: 15px 40px 13px;
  line-height: 23px;
  display: inline-block;
  transition: all 0.3s;
}

.link-btn:hover {
  box-shadow: none;
  text-decoration: none;
  color: $light-blue;
}

.section {
  @extend .container;

  margin-top: 100px;
  margin-bottom: 40px;

  @media (max-width: 768px) {
    margin-top: 40px;
  }
}

.hero {
  @extend .container;
  @extend .section;
}
.hero-cta {
  @include make-sm-column(12);
  padding: 30px;
  text-align: center;
  @media (min-width: 768px) {
    margin-top: -300px;
  }
}
.hero__left {
  @include make-sm-column(4);
  margin-top: 50px;
}
.hero__right {
  @include make-sm-column(8);
  text-align: right;
}

.hero__img {
  @media (min-width: 768px) {
    margin-right: -18%;
    display: inline;
  }
}

.heading {

  &--center {
    text-align: center;
  }
}

.heading__lead {
  display: inline-block;
  font-family: 'Dosis';
  font-size: 45px;
  font-weight: lighter;
  text-transform: uppercase;
  background-image: linear-gradient(90deg, $purple, $red);
  color:transparent;
  /* @see https://msdn.microsoft.com/en-us/library/jj127314(v=vs.85).aspx */
  -webkit-background-clip: text;
  background-clip: text;
  margin-top: 50px;
}
.heading__text {
  font-family: 'Adelle Sans';
  font-size: 26px;
  font-weight: lighter;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 32px;
}
.help__container {
  @include make-sm-column(10);
  @include make-sm-column-offset(1);
}
.help__container,
.case-studies__container {
  margin-top: 50px;
}
.tech-list {
  margin-top: 80px;
}
.tech-list__item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.header {
  margin-top: 50px;
}

.icon-bar {
  background: white;
}

.icons-stack {
  @include make-row();

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    /* Safari fix !?!? */
    &:before {
      display: initial;
    }
  }
}

.icons-stack__item {
  @include make-sm-column(6);
  @include make-lg-column(4);

  padding: 20px;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.icons-stack__item-text {
  color: rgba(255, 255, 255, 0.5);
  padding-left: 20px;
  padding-right: 20px;
}
.icons-stack__item-img {
  display: block;
  margin: 0 auto 20px;
}
.icons-stack__item-icon {
  display: block;
  margin: 0 auto 20px;
  width: 50px;
  height: 50px;
}
.icons-stack__item-img--fixed {
  width: 40%;
  display: block;
  margin: 0 auto 20px;
}

.promo {
  @extend .container;

  /* @see http://stackoverflow.com/a/25517025/1955940 */

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.promo__narrow {
  @include make-sm-column(5);
}
.promo__wide {
  @include make-sm-column(7);
}

.promo__narrow--reverse {
  @include make-sm-column(5);
  @include make-sm-column-push(7);
}
.promo__wide--reverse {
  @include make-sm-column(7);
  @include make-sm-column-pull(5);
}

.promo__img {
  width: 80%;
  display: block;
  margin: 0 auto;

  @media (max-width: 767px) {
    width: 100%
  }
}

.promo__wide--reverse,
.promo__narrow--reverse,
.promo__narrow,
.promo__wide {
  margin-top: 50px;
  margin-bottom: 50px;
}

.promo__list {
  font-weight: lighter;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 30px;
}

.promo__text {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.promo__heading {
  font-family: 'Dosis';
  font-size: 32px;
  font-weight: lighter;
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin-bottom: 10px;
}

.promo__heading--red-orange {
  background-image: linear-gradient(90deg, $red, $orange);
}

.promo__heading--cyan-blue {
  background-image: linear-gradient(90deg, $cyan, $blue);
}

.promo__heading--purple-red {
  background-image: linear-gradient(90deg, $purple, $red);
}

.v-align-row {

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .grid-item {
    border: 1px solid rgba(255, 255, 255, 0.2);

    &--top {
        border-top: none;
    }
    &--top-left {
        border-top: none;
        border-left: none;
    }
    &--top-right {
        border-top: none;
        border-right: none;
    }
    &--bottom {
        border-bottom: none;
    }
    &--bottom-left {
        border-bottom: none;
        border-left: none;
    }
    &--bottom-right {
        border-bottom: none;
        border-right: none;
    }
  }
}

.checks-list {
  @extend .list-inline;

  font-size: 13px;
  margin-top: 60px;

  li {
    background: url(../images/check.svg);
    background-repeat: no-repeat;
    background-position: center left;
    line-height: 50px;
    padding-left: 30px;
    margin-left: 20px;
  }
}

.plans-table {
  @include make-row();

  background: #161D26;

  @media (min-width: 768px) {
    margin-top: 140px;
  }
}
.plans-table__item {
  @extend .list-unstyled;
  @include make-sm-column(3);
  padding: 0;
  border-right: 1px solid rgba(255,255,255,0.2);

  &:first-child {
    padding-left: 30px;
  }
  &:last-child {
    border-right: none;
    padding-right: 30px;
  }

  li {
    line-height: 50px;
    font-size: 15px;
    position: relative;

    &:nth-child(2n+1) {
      background: rgba(255,255,255,0.06)
    }
  }

  &.first {
    @extend .hidden-xs;

    li {
      text-align: left;
      font-size: 13px;
      text-transform: uppercase;
      color: rgba(255,255,255,0.5);
      padding-left: 15px;
    }
  }

  .plan-mobile-label {
    @extend .visible-xs-inline-block;
    color: rgba(255,255,255,0.5);
  }

  @media (max-width: 767px) {
    margin-top: 100px;
  }
}

.plan-heading {
  font-family: 'Dosis';
  font-size: 22px;
  text-transform: uppercase;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;

  @media (min-width: 768px) {
    height: 100px;
  }
}

.plan-cta {
  @extend .link-btn;

  background: white;
  margin-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

.plan-heading,
.plan-cta {

  &--startup,
  &--scaleup,
  &--enterprise {
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
  }
  &--enterprise {
    background-image: linear-gradient(90deg, $red, $orange);
  }

  &--startup {
    background-image: linear-gradient(90deg, $cyan, $blue);
  }

  &--scaleup {
    background-image: linear-gradient(90deg, $purple, $red);
  }
}

.plan-info {
  @extend .pull-right;

  background: url(../images/info.svg);
  width: 22px;
  height: 22px;
  margin-top: 10px;
  margin-right: 10px;

  &:hover {
    background: url(../images/info-white.svg)
  }

  &:hover + .plan-info-text {
    display: block;
  }
}

.plan-info-text {
  position: absolute;
  display: none;
  font-size: 17px;
  text-transform: none;
  bottom: 60px;
  right: calc(50% - 280px);
  width: 300px;
  line-height: 20px;
  background: white;
  color: black;
  border-radius: 5px;
  padding: 20px;
  z-index: 99999;

  p {
    margin-top: 20px;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: calc(50% - 10px);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
  }
}

.contact-form {
  margin-top: 50px;
}

.submit-btn {
  @extend .link-btn;

  margin-top: 70px;
  background: linear-gradient(90deg, $blue, $cyan);
  color: white;
}

.email-us {
  margin-top: 35px;
}

.thanks-container {
  background-image: url(../images/thanks-background.svg), url(../images/letter.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  width: 100%;
  height: 400px;
  position: relative;

  p {
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 60%;
    text-align: center;

    @media (max-width: 767px) {
      width: 100%;
    }
  }
}

.heading__title {
  font-size: 17px;
  font-weight: bold;
  border-bottom: 1px;
  border-style: solid;
  border-image: linear-gradient(90deg, $purple, $red) 0 30 30 21;
  display: inline-block;
  text-transform: uppercase;
}

.stacks-list {
  @include make-row();

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    /* Safari fix !?!? */
    &:before {
      display: initial;
    }
  }
}
.stacks-list__item {
  @include make-sm-column(6);
  @include make-md-column(3);
  text-align: center;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  transition: all 0.1s;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}
.stacks-list__item-container {
  background-image: linear-gradient(rgba(49, 52, 78, 0.5), #161D26);
  border: 1px solid #636669;
  border-radius: 5px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.stacks-list__item-img {
  width: 50%;
  margin: 0 auto;
  display: block;
  height: 200px;
}

.stacks-list__item-title {
  color: rgba(255,255,255,0.5);
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 20px;
}

.include {
  margin-bottom: 20px;
  flex: 1;
}
.include__title {
  font-weight: bold;
  font-size: 16px;
}
.include__explain {
  font-size: 15px;
  color: rgba(255,255,255,0.5);
  text-transform: uppercase;
}
.include__text {
  font-size: 15px;
  color: rgba(255,255,255,1);
}

.package-container {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 15px;
  background-image: linear-gradient(rgba(49, 52, 78, 0.5), #161D26);
  border: 1px solid rgba(100, 100, 100, 0.6);

  opacity: 0.6;

  &:hover,
  &.open {
    opacity: 1;
  }

  @media (max-width: 767px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.package {
  @include make-row()
}
.package-text {
  @include make-md-column(10);
}
.package-action {
  @include make-md-column(2);
  text-align: center;
}
.package__cta {
  @extend .link-bordered;
  margin: 20px;
}
.package__title {
  font-weight: bold;
  line-height: 30px;
}
.package__text {
  color: rgba(255,255,255,0.75);
  line-height: 25px;
  max-height: 50px;
  overflow: hidden;
}
.package__image {
  float: left;
  margin: 20px;

  @media (max-width: 767px) {
    float: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.partners {
  @include make-row();
  text-align: center;
  margin-top: 70px;
}

.partners__item {
  @include make-sm-column(6);
}

.technologies {
  margin-top: 50px;
}
.technologies-list {
  @extend .list-inline;
  margin-top: 30px;

  .technologies-list__item {
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px solid rgba(255,255,255, 0.2);
    width: 153px;
    vertical-align: middle;
    margin-top: 20px;

    &:last-child {
      border: none;
    }
  }
}

.technologies__header {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;

  span {
    background: #161D26;
    padding: 0;
    margin: 0;
    padding-left: 10px;
  }

  &:before {
    content: '';
    position: absolute;
    height: 1px;
    background: rgba(255,255,255, 0.2);
    top: 10px;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -99999;
  }
}

.technologies-list__item-text {
  font-size: 13px;
  margin-top: 15px;
  text-transform: uppercase;

  &--fade {
    color: rgba(255,255,255, 0.6);
  }
}
