<div class="row row-page-header">
  <div class="col-xs-12">
    <h2>You don't have to reinvent the wheel</h2>
    <p>
      Most teams have the same basic infrastructure needs: server cluster, load balancer, database, cache, CI/CD,
      monitoring, secrets management, and so on. Why waste time building it all from scratch? As a
      <a href="/subscriptions">Gruntwork Subscriber</a>, you get to leverage the thousands of hours the Gruntwork team
      has spent writing infrastructure code for the Gruntwork Library:
    </p>
    <div class="row" style="margin-top: 30px">
      {% for feature in site.data.library-features %}
      <div class="col-xs-6 col-sm-2" style="height: 145px; width: 160px;">
        <div class="text-center">
          {% for icon in feature.icons %}
          <i class="fa {{ icon }} fa-lg" aria-hidden="true"></i>
          {% endfor %}
          {% for image in feature.images %}
          <img src="{{ image }}" height="24px" data-toggle="tooltip" data-placement="top" />
          {% endfor %}
        </div>
        <p style="font-size: 14px; line-height: 20px; margin-top: 10px;">{{ feature.title }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
