---
layout: default
title: Gruntwork | Library
excerpt: A collection of reusable, battle-tested, production-ready modules that solve common infrastructure problems.
permalink: /gruntwork-library
slug: gruntwork-library
footer_heading: Ready to hand off the Gruntwork?
---

<div class="main">
    <div class="section section-hero">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Gruntwork Library</h1>
                    <p>A collection of reusable, battle-tested, production-ready modules that solve common infrastructure problems.<br /> To get full access to the repos, <a href="/contact">Become a Member</a></p>
                </div> <!-- col -->
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- section-hero -->

    <div class="section section-dark">

        <div class="container">

            <div class="row row-library">
                <div class="col-xs-12">
                    <div class="modal fade" id="modalPublicRepo" tabindex="-1" role="dialog" aria-labelledby="modalPublicRepoTitle">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header text-center">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-fw fa-close"></i></button>
                                </div> <!-- modal-header -->
                                <div class="modal-body text-center">
                                    <h4 class="h2 modal-title margin-top-none" id="modalPublicRepoTitle">You're about to access a public docs repo.</h4>
                                    <p>
                                        Public docs repos contain all the documentation but none of the code.
                                        <br />
                                        Full repo access is available to Gruntwork subscribers.
                                    </p>
                                    <p>
                                        <a class="btn btn-info public-repo-link" href="">I understand, continue!</a>
                                    </p>
                                    <p>
                                        <a class="private-repo-link" href="">I'm a subscriber. Take me to the full repo.</a>
                                    </p>
                                    <div style="margin-top: 30px;">
                                        <div class="checkbox">
                                            <input type="checkbox" value="">
                                            <label>
                                                Remember my selection.
                                            </label>
                                        </div>
                                    </div>
                                </div> <!-- modal-body -->
                            </div> <!-- modal-content -->
                        </div> <!-- modal-dialog -->
                    </div> <!-- modal -->

                    <h2 class="margin-top-none">Infrastructure Packages</h2>

                    <div class="row row-equalize-col-height">

                        {% for package in site.data.library-infrastructure-packages %}
                            <div class="col-xs-12 col-sm-6">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <h3 class="h2 margin-top-none">{{ package.name }}</h3>
                                        <p>{{ package.description }}</p>
                                        <p><a href="#" data-toggle="modal" data-target="#modalPublicRepo" data-public-repo="{{ package.docs_url }}" data-private-repo="{{ package.full_url }}">View Public Docs</a></p>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                {% for tag in package.tags %}
                                                    <span class="label label-default label-hollow">{{ tag }}</span>
                                                {% endfor %}
                                            </div> <!-- col -->
                                            <div class="col-xs-6 text-right">
                                                <ul class="list-unstyled margin-bottom-none">
                                                    <li>
                                                        <div class="btn-group btn-group-package-icons" role="group" aria-label="Group of Infrastructure Package Icons">
                                                            {% for icon in package.icons %}
                                                                <img src="/assets/img/{{ icon }}" height="24px" data-toggle="tooltip" data-placement="top" title="{{ package.icon_tooltips[forloop.index0] }}" />
                                                            {% endfor %}
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div> <!-- col -->
                                        </div> <!-- row -->
                                    </div> <!-- panel-body -->
                                </div> <!-- panel-default -->
                            </div> <!-- col -->
                        {% endfor %}

                    </div>

                    <h2>Tools</h2>

                    <div class="row row-equalize-col-height">

                        {% for package in site.data.library-tools %}
                            <div class="col-xs-12 col-sm-6">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <h3 class="h2 margin-top-none">{{ package.name }}</h3>
                                        <p>{{ package.description }}</p>
                                        <p><a href="#" data-toggle="modal" data-target="#modalPublicRepo" data-public-repo="{{ package.docs_url }}" data-private-repo="{{ package.full_url }}">View Public Docs</a></p>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                {% for tag in package.tags %}
                                                    <span class="label label-default label-hollow">{{ tag }}</span>
                                                {% endfor %}
                                            </div> <!-- col -->
                                            <div class="col-xs-6 text-right">
                                                <ul class="list-unstyled margin-bottom-none">
                                                    <li>
                                                        <div class="btn-group btn-group-package-icons" role="group" aria-label="Group of Infrastructure Package Icons">
                                                            {% for icon in package.icons %}
                                                                <img src="/assets/img/{{ icon }}" height="24px" data-toggle="tooltip" data-placement="top" title="{{ package.icon_tooltips[forloop.index0] }}" />
                                                            {% endfor %}
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div> <!-- col -->
                                        </div> <!-- row -->
                                    </div> <!-- panel-body -->
                                </div> <!-- panel-default -->
                            </div> <!-- col -->
                        {% endfor %}

                    </div>

                    <h2>Terraform Module Registry</h2>

                    <div class="row row-equalize-col-height">

                        {% for package in site.data.library-terraform-module-registry %}
                            <div class="col-xs-12 col-sm-6">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <h3 class="h2 margin-top-none">{{ package.name }}</h3>
                                        <p>{{ package.description }}</p>
                                        <p><a href="#" data-toggle="modal" data-target="#modalPublicRepo" data-public-repo="{{ package.docs_url }}" data-private-repo="{{ package.full_url }}">View Public Docs</a></p>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                {% for tag in package.tags %}
                                                    <span class="label label-default label-hollow">{{ tag }}</span>
                                                {% endfor %}
                                            </div> <!-- col -->
                                            <div class="col-xs-6 text-right">
                                                <ul class="list-unstyled margin-bottom-none">
                                                    <li>
                                                        <div class="btn-group btn-group-package-icons" role="group" aria-label="Group of Infrastructure Package Icons">
                                                            {% for icon in package.icons %}
                                                                <img src="/assets/img/{{ icon }}" height="24px" data-toggle="tooltip" data-placement="top" title="{{ package.icon_tooltips[forloop.index0] }}" />
                                                            {% endfor %}
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div> <!-- col -->
                                        </div> <!-- row -->
                                    </div> <!-- panel-body -->
                                </div> <!-- panel-default -->
                            </div> <!-- col -->
                        {% endfor %}

                    </div> <!-- row -->
                </div> <!-- col -->
            </div> <!-- row-library -->

        </div>
    </div>
</div>
