<div class="row row-page-header">
  <div class="col-xs-12">
    <h2>Meet the Grunts.</h2>
  </div>
</div>
{% for grunt in site.data.team %}
<div class="row row-leadership">
  <div class="col-xs-12 col-sm-3 col-md-2 col-headshot">
    <a href="{{ grunt.url }}" target="_blank"><img class="thumbnail" src="{{ grunt.image }}" width="146" /></a>
  </div>
  <div class="col-xs-12 col-sm-9 col-md-10 col-bio">
    <h3 style="margin-bottom: 5px;"><a href="{{ grunt.url }}" target="_blank">{{ grunt.name }}</a></h3>
    {% if grunt.title %}
    <p class="text-white">{{ grunt.title }}</p>
    {% endif %}
    <p>{{ grunt.bio }}</p>
  </div>
</div>
{% endfor %}
