---
layout: default
title: About Gruntwork
excerpt: Our mission is to make understanding, developing, and deploying software 10x easier.
permalink: /about/
slug: about
footer_heading: Ready to hand off the Gruntwork?
---

<div class="main">
  <div class="section section-hero">
    {% include_relative _hero.html %}
  </div>
  <div class="section section-dark">
    <div class="container">
      {% include_relative _team.html %} {% include_relative _mission.html %} {%
      include_relative _values.html %} {% include_relative _story.html %} {%
      include_relative _map.html %}
    </div>
  </div>
</div>
