<style>
  #why-patcher.table tr:nth-child(odd) td:last-child {
    background-color: rgb(31, 59, 82);
  }
  #why-patcher.table tr:nth-child(even) td:last-child {
    background-color: rgb(23, 51, 77);
  }
</style>
<div class="table-responsive">
  <table class="table table-striped" id="why-patcher">
    <thead>
    <tr>
      <th></th>
      <th>DependaBot</th>
      <th>Snyk</th>
      <th>RenovateBot</th>
      <th>Patcher</th>
    </tr>
    </thead>
    <tbody>
    {% for package in site.data.why-patcher %} {% capture id %}{{
    package.requirement | replace: " ", "_" | replace: ")", "_" | replace:
    "(", "_" }}" class="table-clickable-row" data-toggle="modal"
    data-target="#modal-{{ package.name | replace: " ", "_" | replace: "(",
    "_" | replace: ")", "_" }}{% endcapture %}
    <tr>
      <td style="width: 25%; color: white;">{{ package.item}}</td>
      <td style="text-align: center;">
        {% if package.dependabot == "no" %}
          <i class="fa fa-times" style="color: #f92e64; margin-top: 20px;" aria-hidden="true"></i>
        {% else %}
          <i class="fa fa-check" style="color: #48bb78; margin-top: 20px;" aria-hidden="true"></i>
        {% endif %}
      </td>
      <td style="text-align: center;">
        {% if package.snyk == "no" %}
          <i class="fa fa-times" style="color: #f92e64; margin-top: 20px;" aria-hidden="true"></i>
        {% else %}
          <i class="fa fa-check" style="color: #48bb78; margin-top: 20px;" aria-hidden="true"></i>
        {% endif %}
      </td>
      <td style="text-align: center;">
        {% if package.renovatebot == "no" %}
          <i class="fa fa-times" style="color: #f92e64; margin-top: 20px;" aria-hidden="true"></i>
        {% else %}
          <i class="fa fa-check" style="color: #48bb78; margin-top: 20px;" aria-hidden="true"></i>
        {% endif %}
      </td>
      <td style="text-align: center;">
        {% if package.patcher == "no" %}
          <i class="fa fa-times" style="color: #f92e64; margin-top: 20px;" aria-hidden="true"></i>
        {% else %}
          <i class="fa fa-check" style="color: #48bb78; margin-top: 20px;" aria-hidden="true"></i>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
