---
layout: default
title: Gruntwork Training
excerpt: Learn DevOps and infrastructure practices from the experts.
permalink: /training/
slug: training
footer_heading: Sign up for Gruntwork Training now!
redirect_from:
  - /consulting-training
---

<div class="main">
  <div class="section section-hero">
    {% include_relative _hero.html %}
  </div>
  <div class="section section-dark">
    <div class="container">
      {% include_relative _courses.html %}
      {% include_relative _crash-courses.html %}
      {% include_relative _workshops.html %}
      {% include_relative _process.html %}
      {% include_relative _resources.html %}
    </div>
  </div>
</div>
