---
layout: default
title: DevOps Training Library
excerpt: A collection of training video courses that teach you DevOps.
permalink: /training/
slug: training
footer_heading: Get access to the DevOps Training Library now!
redirect_from:
  - /consulting-training/
  - /devops-training-library/
---

<div class="main">
  <div class="section section-hero section-hero-with-button">
    {% include_relative _hero.html %}
  </div>
  <div class="section section-dark">
    <div class="container">
      {% include_relative _sub-hero.html %}
      {% include_relative _courses.html %}
      {% include_relative _more-info.html %}
    </div>
  </div>
</div>
