---
layout: null
title: Gruntwork Terms of Service
modified_date: July 18, 2018
permalink: /terms/word
slug: terms
---

<html>
<body>
<div class="main">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 tos-table">
          <h1>Gruntwork Terms of Service</h1>
          {% for category in site.data.terms-of-service %}
          {% if category.category_name != nil %}
          <h2 id="{{ category.category_id }}">{{ category.category_name }}</h2>
          {% endif %}
          {% if category.category_description != nil %}
          <p>{{ category.category_description }}</p>
          {% endif %}
          {% for step in category.items %}
          <div class="row terms-row">
            {% if step.title != nil %}
            <h3 class="col-md-12 col-md-offset-5 col-print-12">{{ step.title }}</h3>
            {% endif %}
            <div class="col-md-12 tos-table__legal col-print-12">
              {{ step.legalese }}
            </div>
          </div>
          {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
