.accordionWrapper{
  font-size: 16px;
  border: 1px solid rgba(255,255,255, 0.3);;
  border-radius: 5px;
}
.accordionItem{
  border-bottom: 1px solid rgba(255,255,255, 0.3);
}
.accordionItemHeading{
  cursor:pointer;
  padding: 10px;
  border-bottom: 1px solid rgba(255,255,255, 0.3);
  background-image: url('../images/plus.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) center;
}
.close .accordionItemContent{
  height:0px;
  transition:height 1s ease-out;
  transform: scaleY(0);
}
.open .accordionItemContent{
  width: 100%;
  padding: 10px;
  margin: 0px 0px 10px 0px;
  transform: scaleY(1);
  transform-origin: top;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease;
}

.open .accordionItemHeading{
  background-image: url('../images/minus.svg');
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
