.cta-container {
  text-align: center;
  margin-top: 50px;
}

.link-bordered {
  font-family: 'Adelle Sans';
  border-bottom: 1px;
  border-style: solid;
  border-image: linear-gradient(90deg, $purple, $red) 0 30 30 21;
  border-left: none;
  border-right: none;
  // display: inline-block;
  display: inline;
  color: white;
  letter-spacing: 1px;
  line-height: normal;

  &--upper {
    padding-bottom: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    font-size: 14px;
  }
}

.link-bordered:hover {
  color: $light-blue;
}

.link-btn {
  font-family: 'Adelle Sans';
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  box-shadow: 0 0 22px 0 rgba(0,0,0,0.11);
  border-radius: 100px;
  background: white;
  color: $light-blue;
  letter-spacing: 1px;
  padding: 15px 40px 13px;
  line-height: 23px;
  display: inline-block;
  transition: all 0.3s;
}

.link-btn:hover {
  box-shadow: none;
  text-decoration: none;
  color: $light-blue;
}
