<div class="row row-page-header">
  <div class="col-md-12 hidden-xs">
    <ol class="pricing-steps">
      <li class="current-step">Select Plan</li>
        <i class="fa fa-angle-right fa-2x current-step-icon"></i>
      <li>Customize</li>
      <i class="fa fa-angle-right fa-2x"></i>
      <li>Checkout</li>
    </ol>
  </div>
  <div class="col-xs-12">
    <div class="gw-pricing-columns row row-collapse row-equalize-col-height row-panels row-panels-sm">
      <div class="col-xs-12 col-sm-4 panel panel-default panel-light" style="position: relative; margin-top: 100px;">
        <div class="gw-pricing-columns__panel panel-body">
          <div class="plans-heading text-center" data-mh="plans-heading">
            <h3 class="h2 no-anchor margin-top-none" style="margin-bottom: 8px;">Gruntwork for AWS</h3>
            <p class="description" id="aws-plan">Run prod-grade infra on AWS.<br>Ideal for individual teams.</p>
          </div>
          <hr>
          <div class="flex flex-middle flex-column text-center">
            <div data-mh="plans-pricing-top" style="height:150px">
              <p class="big-price"><span>$</span>795</p>
              <p class="help-block" style="margin-top:-9px;">per month</p>
            </div>
            <div data-mh="plans-pricing-bottom" style="height:100px">
              <p><a class="btn btn-info" href="{{ site.data.pricing.subscriptions.aws.checkout_url }}">Select</a></p>
              <p class="text-muted small"><em>Annual contract<br>Billed monthly or annually.</em></p>
            </div>
          </div>
          <hr>
          <div data-mh="plans-features">
            <ul class="check-list text-white">
              <li><span class="help-text light"
                        title="Get support from both Gruntwork engineers and fellow customers on running production-grade infrastructure in AWS."
                        data-toggle="tooltip">Support for AWS</span></li>
              <li><span class="help-text light"
                        title="Gain access to 300,000+ lines of reusable, battle-tested, production-ready infrastructure code."
                        data-toggle="tooltip">40 Subscriber-Only modules</span></li>
              <li><span class="help-text light"
                        title="A user is a human or machine that accesses the Gruntwork code repos, training materials, or support services. For more than 20 users, see Gruntwork Enterprise."
                        data-toggle="tooltip">Up to 20 Users</span></li>
              <li><span class="help-text light"
                        title="Learn DevOps fundamentals with our online video courses designed specially for aspiring DevOps Engineers."
                        data-toggle="tooltip">DevOps Training Library &amp; Docs</span></li>
              <li><span class="help-text light"
                        title="Community Support is included with all subscriptions. For faster response times, support via email, and private Slack chat, see Pro Support."
                        data-toggle="tooltip">Community Support</span></li>
            </ul>
          </div>
          <figure class="gw-pricing-columns__grunty gw-sprite-aws">
            <figcaption class="sr-only">AWS Logo</figcaption>
          </figure>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 panel panel-default panel-light" style="position: relative; margin-top: 100px;">
        <div class="gw-pricing-columns__panel panel-body">
          <div class="plans-heading text-center" data-mh="plans-heading">
            <h3 class="h2 no-anchor margin-top-none" style="margin-bottom: 8px;">Gruntwork for GCP</h3>
            <p class="description">
              Support for prod-grade infra on GCP.<br>Ideal for individual teams.
              <span class="badge badge-secondary" id="gcp-new">New</span>
            </p>
          </div>
          <hr>
          <div class="flex flex-middle flex-column text-center">
            <div data-mh="plans-pricing-top" style="height:150px; position:relative;">
              <p class="big-price"><span>$</span>500</p>
              <p class="help-block" style="margin-top:-9px;">per month</p>
            </div>
            <div data-mh="plans-pricing-bottom" style="height:100px">
              <p><a class="btn btn-info" href="{{ site.data.pricing.subscriptions.gcp.checkout_url }}">Select</a></p>
              <p class="text-muted small"><em>Annual contract.<br>Billed monthly or annually.</em></p>
              <p id="gcp-special-pricing">Special Introductory Price!</p>
            </div>
          </div>
          <hr>
          <div data-mh="plans-features">
            <ul class="check-list text-white">
              <li><span class="help-text light"
                        title="Get support from both Gruntwork engineers and fellow customers on running production-grade infrastructure in GCP."
                        data-toggle="tooltip">Support for GCP</span></li>
              <li><span class="help-text light"
                        title="Gain access to 50,000+ lines of reusable, battle-tested, production-ready infrastructure code available exclusively to subscribers."
                        data-toggle="tooltip">2 Subscriber-Only modules</span></li>
              <li><span class="help-text light"
                        title="A user is a human or machine that accesses the Gruntwork code repos, training materials, or support services. For more than 20 users, see Gruntwork Enterprise."
                        data-toggle="tooltip">Up to 20 Users</span></li>
              <li><span class="help-text light"
                        title="Learn DevOps fundamentals with our online video courses designed specially for aspiring DevOps Engineers."
                        data-toggle="tooltip">DevOps Training Library &amp; Docs</span></li>
              <li><span class="help-text light"
                        title="Community Support is included with all subscriptions. For faster response times, support via email, and private Slack chat, see Pro Support."
                        data-toggle="tooltip">Community Support</span></li>
            </ul>
          </div>
          <figure class="gw-pricing-columns__grunty gw-sprite-gcp">
            <figcaption class="sr-only">GCP Logo</figcaption>
          </figure>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 panel panel-default panel-light" style="position: relative; margin-top: 100px;">
        <div class="gw-pricing-columns__panel panel-body">
          <div class="plans-heading text-center" data-mh="plans-heading">
            <h3 class="h2 no-anchor margin-top-none" style="margin-bottom: 8px;">Enterprise</h3>
            <p class="margin-bottom-none">Multi-cloud infra & support.<br>For larger companies.</p>
          </div>
          <hr>
          <div class="flex flex-middle flex-column text-center">
            <div data-mh="plans-pricing-top" style="height:150px">
              <p class="h1 enterprise-h1">Contact Us</p>
              <p class="help-block"></p>
            </div>
            <div data-mh="plans-pricing-bottom" style="height:100px">
              <p><a class="btn btn-primary" href="/contact/">Contact Us</a></p>
              <p class="text-muted small"><em>Annual contract.<br>Billed monthly or annually.</em></p>
            </div>
          </div>
          <hr>
          <div data-mh="plans-features">
            <ul class="check-list text-white">
              <li><span class="help-text light"
                        title="Get support from both Gruntwork engineers and fellow customers on running production-grade infrastructure in both AWS and GCP."
                        data-toggle="tooltip">Support for AWS &amp; GCP</span></li>
              <li><span class="help-text light"
                        title="Gain unlimited access (for your company only) to 350,000+ lines of reusable, battle-tested, production-ready infrastructure code."
                        data-toggle="tooltip">All Subscriber-Only modules</span></li>
              <li><span class="help-text light" title="Your subscription includes support for unlimited users."
                        data-toggle="tooltip">Unlimited Users</span></li>
              <li><span class="help-text light"
                        title="Learn DevOps fundamentals with our online video courses designed specially for aspiring DevOps Engineers."
                        data-toggle="tooltip">DevOps Training Library &amp; Docs</span></li>
              <li><span class="help-text light"
                        title="Have us review your infrastructure code by @mentioning us in a Pull Request. Want a second opinion on your network topology or cloud architecture? Send us a design doc, diagram or schedule a call to review it together."
                        data-toggle="tooltip">Code &amp; Architecture Reviews</span></li>
              <li><span class="help-text light"
                        title="We will begin work on any bugs you identify in the Infrastructure as Code Library as quickly as we can, but no later than 2 days after you request it."
                        data-toggle="tooltip">Prioritized Bug Fixes</span></li>
              <li><span class="help-text light"
                        title="See below for all the benefits included with Enterprise Support."
                        data-toggle="tooltip">Enterprise Support</span></li>
              <li><span class="help-text light"
                        title="Gruntwork engineers will usually respond to private chat questions quickly, but no later than 4 business hours after we receive your request."
                        data-toggle="tooltip">Same Business Day SLA</span></li>

            </ul>
          </div>
          <figure class="gw-pricing-columns__grunty gw-sprite-grunty gw-sprite-grunty--cheer-extra">
            <figcaption class="sr-only">Grunty in a suit</figcaption>
          </figure>
        </div>
      </div>
      <!--<div class="col-xs-12 panel panel-default panel-light last" style="width: calc(100% - 1px);">
          <div class="panel-body text-center">
            <p><a href="#">Show All Features</a></p>
          </div>
        </div>-->
    </div>
  </div>
</div>

<!-- Pro Support -->
<!-- <div class="panel panel-default panel-light pro-support">
  <div class="panel-body">
    <div class="text-center panel-heading">
      <h2 class="margin-top-none" style="margin-bottom: 8px;">Professional Support</h2>
      <p>Get support via email chat, and phone/video from Gruntwork.</p>
    </div>
    <div class="container">
      <div class="gw-pricing-houston row row-panels row-panels-sm row-equalize-col-height">
        <div class="col-sm-4 panel panel-default panel-dark">
          <div class="panel-body">
            <div class="text-center">
              <h3 class="h2" style="margin: 18px 0 8px;">AWS</h3>
            </div>
            <hr>
            <div class="flex flex-middle text-center" data-mh="houston-footer">
              <div>
                <ul class="check-list text-white">
                  <li><span class="help-text light"
                            title="Get help with questions, bugs, troubleshooting, best practices or high-level strategic DevOps questions for AWS."
                            data-toggle="tooltip">Support for AWS</span></li>
                  <li><span class="help-text light"
                            title="Email us any time and use our customer portal to track all your requests."
                            data-toggle="tooltip">Via email</span></li>
                  <li><span class="help-text light"
                            title="We'll setup a shared Slack channel so that you can chat with us directly from your preferred Slack workspace."
                            data-toggle="tooltip">Via private Slack</span></li>
                  <li><span class="help-text light"
                            title="Gruntwork engineers will usually respond promptly, but no later than 2 business days after we receive your email or chat request."
                            data-toggle="tooltip">2 business day SLA</span></li>
                </ul>
                <p class="h2 big-price"><span>+$</span>{{ site.data.pricing.subscriptions.aws.pro_support_price.label }}</p>
                <p class="help-block">billed monthly</p>
                <p><a class="btn btn-info" href="{{ site.data.pricing.subscriptions.aws.checkout_url }}&addon=pro-support">Get Started</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 panel panel-default panel-dark">
          <div class="panel-body">
            <div class="text-center">
              <h3 class="h2" style="margin: 18px 0 8px;">GCP</h3>
            </div>
            <hr>
            <div class="flex flex-middle text-center" data-mh="houston-footer">
              <div>
                <ul class="check-list text-white">
                  <li><span class="help-text light"
                            title="Get help with questions, bugs, troubleshooting, best practices or high-level strategic DevOps questions for GCP."
                            data-toggle="tooltip">Support for GCP</span></li>
                  <li><span class="help-text light"
                            title="Email us any time and use our customer portal to track all your requests."
                            data-toggle="tooltip">Via email</span></li>
                  <li><span class="help-text light"
                            title="We'll setup a shared Slack channel so that you can chat with us directly from your preferred Slack workspace."
                            data-toggle="tooltip">Via private Slack</span></li>
                  <li><span class="help-text light"
                            title="Gruntwork engineers will usually respond promptly, but no later than 2 business days after we receive your email or chat request."
                            data-toggle="tooltip">2 business day SLA</span></li>
                </ul>
                <p class="h2 big-price"><span>+$</span>{{ site.data.pricing.subscriptions.gcp.pro_support_price.label }}</p>
                <p class="help-block">billed monthly</p>
                <p><a class="btn btn-info" href="{{ site.data.pricing.subscriptions.gcp.checkout_url }}&addon=pro-support">Get Started</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 panel panel-default panel-dark">
          <div class="panel-body">
            <div class="text-center">
              <h3 class="h2" style="margin: 18px 0 8px;">Enterprise</h3>
            </div>
            <hr>
            <div class="flex flex-middle text-center" data-mh="houston-footer">
              <div>
                <ul class="check-list text-white">
                  <li><span class="help-text light"
                            title="Get help with questions, bugs, troubleshooting, best practices or high-level strategic DevOps questions for both AWS and GCP."
                            data-toggle="tooltip">Support for AWS &amp; GCP</span></li>
                  <li><span class="help-text light"
                            title="Email us any time and use our customer portal to track all your requests."
                            data-toggle="tooltip">Via email</span></li>
                  <li><span class="help-text light"
                            title="We'll setup a shared Slack channel so that you can chat with us directly from your preferred Slack workspace."
                            data-toggle="tooltip">Via private Slack</span></li>
                  <li><span class="help-text light"
                            title="If we can't resolve an issue via email or chat, we'll schedule a call to work through it with you in real-time."
                            data-toggle="tooltip">Via Phone/Video Chat</span></li>
                  <li><span class="help-text light"
                            title="Have us review your infrastructure code by @mentioning us in a Pull Request."
                            data-toggle="tooltip">Code Reviews</span></li>
                  <li><span class="help-text light"
                            title="Want a second opinion on your network topology or cloud architecture? Send us a design doc, diagram or schedule a call to review it together."
                            data-toggle="tooltip">Architecture Reviews</span></li>
                  <li><span class="help-text light"
                            title="We will begin work on any bugs you identify in the Infrastructure as Code Library as quickly as we can, but no later than 2 days after you request it."
                            data-toggle="tooltip">Prioritized Bug Fixes</span></li>
                  <li><span class="help-text light"
                            title="Gruntwork engineers will usually respond promptly, but no later than 4 business hours after we receive your email or chat request."
                            data-toggle="tooltip">Same-day SLA</span></li>
                </ul>
                <p><a class="btn btn-primary" href="/contact/">Contact Us</a></p>
                <p>Included with Enterprise Subscription</p>
                <p class="help-block"></p>
                <p class="text-muted small"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- Reference Architecture Pricing -->
<!-- {% include_relative _reference-architecture.html %} -->

<!-- Houston Pricing -->
<!-- {% include_relative _houston.html %} -->

<div class="panel panel-default panel-light pricing-help-notification">
  <div class="panel-body text-center">
    <h2 class="need-help-text">Need help deciding?</h2>
    <a class="btn btn-primary-hollow btn-sm need-help-button" href="/contact/">Contact Sales</a>
  </div>
</div>

<div class="row row-page-header padding-top-none">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <p class="text-center text-muted small">Discounted pricing is available for non-profits, educational institutions,
      and startups with fewer than 10 employees. <a href="/contact/">Contact us</a> to get the discounted pricing.</p>
  </div>
</div>
<div class="row row-sm-gutters row-page-header">
  <div class="col-xs-12 col-sm-4 text-center">
    <figure class="gw-icon gw-iconset gw-iconset--guarantee">
      <figcaption class="sr-only">30 day money back guarantee</figcaption>
    </figure>
    <h3 class="margin-top-none no-anchor text-bold">No Risk</h3>
    <p class="text-white">Cancel for any reason within 30 days and we'll refund 100% of your fees.</p>
  </div>
  <div class="col-xs-12 col-sm-4 text-center">
    <figure class="gw-icon gw-iconset gw-iconset--padlock">
      <figcaption class="sr-only">Padlock with key</figcaption>
    </figure>
    <h3 class="margin-top-none no-anchor text-bold">No lock-in</h3>
    <p class="text-white">If you cancel after a year, you'll lose support and updates but you can keep using the code at
      no cost.</p>
  </div>
  <div class="col-xs-12 col-sm-4 text-center">
    <figure class="gw-icon gw-iconset gw-iconset--shield">
      <figcaption class="sr-only">Shield with an "X" and rotating arrow</figcaption>
    </figure>
    <h3 class="margin-top-none no-anchor text-bold">No More Grunt Work</h3>
    <p class="text-white">Let us handle the grunt work of the most common infrastructure patterns so you can focus on
      your business.</p>
  </div>
</div>
