<div class="pricing-table">
  <div class="gw-pricing">
    <div class="plans-heading grid-container" data-mh="plans-heading">
      <div></div>
      <div class="text-center">
        <h2 class="no-anchor margin-top-none gw-pricing-heading">Standard</h2>
      </div>
      <div class="text-center" style="position: relative;">
        <h2 class="no-anchor margin-top-none gw-pricing-heading">Enterprise</h2>
        <span class="popular-badge">POPULAR</span>
      </div>
    </div>
    <div class="plans-features" data-mh="plans-features">
      <hr />
      {% include_relative _pricing-landing-zone.html %}
      <hr class="with-margin" />
      {% include_relative _pricing-pipelines.html %}
      <hr class="with-margin" />
      {% include_relative _pricing-patcher.html %}
      <hr class="with-margin" />
      {% include_relative _pricing-iac-library.html %}
      <hr class="with-margin" />
      {% include_relative _pricing-support.html %}
      <hr class="with-margin" />
      {% include_relative _pricing-add-ons.html %}
      <hr class="with-margin" />
      {% include_relative _pricing.html %}
      <div style="margin: 16px 0;">
        {% include_relative _pricing-cta.html %}
      </div>
    </div>
  </div>
</div>
