---
layout: default
title: Gruntwork | Pricing
excerpt: Join the Gruntwork Community, a collection of companies that are all built on the same Infrastructure Packages, with support and maintenance from Gruntwork.
permalink: /pricing
slug: pricing
footer_heading: Ready to hand off the Gruntwork?
---

<div class="main">
    <div class="section section-hero">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h1>Pricing</h1>
                </div> <!-- col -->
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- section-hero -->

    <div class="section section-dark">
        <div class="container">

            <div class="row row-page-header">
                <div class="col-xs-12">
                    <div class="page-header">
                        <h2>Gruntwork Subscription</h2>
                        <p>The Gruntwork Subscription gets you access to the Gruntwork Library of infrastructure code, including all updates, additions, and patches to the Library as long as you’re a subscriber. You also get commercial support from the Gruntwork team, security alerts, infrastructure updates, and more.</p>
                    </div>
                </div> <!-- col -->
            </div> <!-- row-page-header -->

            <div class="row row-pricing-table">
                <div class="col-xs-12">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                {% for plan in site.data.plans %}
                                    <th>{{ plan.name }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Support Hours</th>
                                {% for plan in site.data.plans %}
                                    <td>{{ plan.support_hours }}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <th>Support Availability</th>
                                {% for plan in site.data.plans %}
                                    <td>{{ plan.support_availability }}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <th>After-Hours Support</th>
                                {% for plan in site.data.plans %}
                                    <td>{{ plan.after_hour_support }}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <th>Reponse Time</th>
                                {% for plan in site.data.plans %}
                                    <td>{{ plan.response_time }}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <th>Email Support</th>
                                {% for plan in site.data.plans %}
                                    <td>{{ plan.email_support }}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <th>Phone/Video Chat Support</th>
                                {% for plan in site.data.plans %}
                                    <td>{{ plan.phone_video_support }}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <th>Slack Support</th>
                                {% for plan in site.data.plans %}
                                    <td>{{ plan.slack_support }}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <th>Automated Infra Updates</th>
                                {% for plan in site.data.plans %}
                                    <td>{{ plan.automated_infra_updates }}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <th>Access the Gruntwork Library</th>
                                {% for plan in site.data.plans %}
                                    <td>{{ plan.library_access }}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <th>Security Alerts</th>
                                {% for plan in site.data.plans %}
                                    <td>{{ plan.security_alerts }}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <th>Newsletter</th>
                                {% for plan in site.data.plans %}
                                    <td>{{ plan.newsletter }}</td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <th>Price<br/><em>(Includes 1 License)</em></th>
                                {% for plan in site.data.plans %}
                                    <td>{{ plan.price }}</td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                    <p class="text-muted"><em>*Subscriptions available for a period of 12 months. One license allows for significant infrastructure usage for one software team. Our contract specifies these limits precisely.</em></p>
                </div> <!-- col -->
            </div> <!-- row-pricing-table -->

            <div class="row row-pricing-table">
                <div class="col-xs-12 col-md-6">
                    <h3>Standard Setup <span class="pull-right">$3,950</span></h3>
                    <div class="well">
                        <ul>
                            <li>Some high level features bullets</li>
                            <li>Sed eu enim sed tellus</li>
                            <li>Mauris dictum varius purus</li>
                            <li>Aenean nec euismod ex, at pretium</li>
                            <li>Nam sollicitudin interdum orci sit amet</li>
                            <li>Quisque nec nulla justo</li>
                        </ul>
                    </div> <!-- well -->
                </div> <!-- col -->
                <div class="col-xs-12 col-md-6">
                    <h3>Upgrade Options</h3>
                    <table class="table table-striped table-hover">
                        <tbody>
                            <tr>
                                <th>Use multiple AWS accounts</th>
                                <td class="text-right">+$2,500</td>
                            </tr>
                            <tr>
                                <th>Each additional database</th>
                                <td class="text-right">+$500 / database</td>
                            </tr>
                            <tr>
                                <th>CloudWatch Alerts on Slack</th>
                                <td class="text-right">+$500</td>
                            </tr>
                            <tr>
                                <th>OpenVPN Setup</th>
                                <td class="text-right">+$500</td>
                            </tr>
                            <tr>
                                <th>End-to-end TLS Setup</th>
                                <td class="text-right">+$1,000</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <!-- col -->
                <div class="col-xs-12">
                    <p class="text-muted" style="margin-top: 20px;"><em>All setups require a Gruntwork Subscription</em></p>
                </div>
            </div> <!-- row-pricing-table -->

            <div class="row row-page-header">
                <div class="col-xs-12">
                    <div class="page-header">
                        <h2>Training</h2>
                        <p>We offer 2-hour crash courses done via video conferences as well as 2-day, on-site workshops.</p>
                    </div>
                </div> <!-- col -->
            </div> <!-- row-page-header -->

            <div class="row row-pricing-table">
                <div class="col-xs-12 col-md-6">
                    <h3>Crash Courses</h3>
                    <table class="table table-striped table-hover">
                        <tbody>
                            <tr>
                                <th>Terraform</th>
                                <td class="text-right">$400 / Person</td>
                            </tr>
                            <tr>
                                <th>Packer, Docker, and ECS</th>
                                <td class="text-right">$400 / Person</td>
                            </tr>
                            <tr>
                                <th>AWS Fundamentals</th>
                                <td class="text-right">$400 / Person</td>
                            </tr>
                            <tr>
                                <th>DevOps Fundamentals</th>
                                <td class="text-right">$400 / Person</td>
                            </tr>
                            <tr>
                                <th>Security Fundamentals</th>
                                <td class="text-right">$400 / Person</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <!-- col -->
                <div class="col-xs-12 col-md-6">
                    <h3>Workshops</h3>
                    <table class="table table-striped table-hover">
                        <tbody>
                            <tr>
                                <th>Infrastructure as Code with Terraform (2 Days)</th>
                                <td class="text-right">$2,000 / Person</td>
                            </tr>
                            <tr>
                                <th>The modern end-to-end tech stack (2 Days)</th>
                                <td class="text-right">$2,000 / Person</td>
                            </tr>
                        </tbody>
                    </table>
                </div> <!-- col -->
                <div class="col-xs-12">
                    <p class="text-muted" style="margin-top: 20px;"><em>Above pricing does not include travel reimbursement. All travel charges are billed at cost.</em></p>
                </div>
            </div> <!-- row-pricing-table -->

        </div>
    </div>
</div>
