---
layout: default
title: Initial Setup &amp; Deployment
excerpt: We define your entire infrastructure as code and deploy it into your AWS accounts in about 1 day.
permalink: /initial-setup/
slug: subscriptions
footer_heading: Talk with our team of DevOps experts now!

---

<div class="main">
  <div class="section section-hero">
    {% include_relative _hero.html %}
  </div>
  <div class="section section-dark">
    <div class="container">
      {% include_relative _sub-hero.html %}
      {% include_relative _how-it-works.html %}
      {% include_relative _options.html %}
    </div>
  </div>
</div>
