---
layout: default
title: Gruntwork Pipelines
excerpt: A security-first approach to a CI/CD pipeline for infrastructure.
permalink: /pipelines/
slug: gruntwork-pipelines
footer_heading: Ready to hand off the Gruntwork?
custom_js:
  - search
  - prism
---

<div class="main">
  <div class="section section-hero section-hero-with-button">
    {% include_relative _hero.html %}
  </div>
  <div class="section section-dark">
    <div class="container">
      {% include_relative _sub-hero.html %}
      <div class="row">
        <div class="col-xs-12">
          {% include_relative _docs.html %} {% include_relative _pricing.html %}
        </div>
      </div>
    </div>
  </div>
</div>