---
layout: default
title: Get early access to Patcher
permalink: /early-access/
slug: early-access
custom_js:
- contact
use_recaptcha: true
---

<div class="main">
  <div class="section section-hero">
    {% include_relative _hero.html %}
  </div>
  <div class="section section-dark">
    <div class="container">
      <div class="row" style="display: flex; justify-content: center;">
        <div class="col-xs-12">
          <p style="text-align: center;">Join our BETA program now and be among the first to experience the magic of
            Patcher. Eligible CIS customers can use it right now while other subscribers will gain access by the end of
            April.</p>
          <p style="text-align: center;">Sign up now and we'll let you know when you can start using Patcher to
            supercharge your coding experience.</p>
        </div>
      </div>
      <div class="row row-form" style="display: flex; justify-content: center;">
        <div class="col-xs-12">
          {% include_relative _form.html %}
        </div>
      </div>
    </div>
  </div>
</div>