<div id="error-message"></div>
<form
  id="contact-form"
  method="post"
  target="_blank"
  action="https://api.formbucket.com/f/buk_7iB8j7vEJPW9ad2ClJwFfm5M"
>
  <input
    type="hidden"
    name="_subject"
    id="_subject"
    value="New person to add to waitlist from {{ site.url }}"
  />
  <input type="hidden" name="_selection" id="_selection" />
  <input type="hidden" name="_viewing" id="_viewing" value="v1-static" />
  <input type="hidden" name="_next" value="{{ site.url }}/thanks/" />
  <input type="hidden" name="landing-page" value="{{ page.url }}" />
  <input type="text" name="_gotcha" style="display:none" />
  {% include_relative _input-text.html id="contact-name" label="Name" required=true placeholder="Jon Doe" %}
  {% include_relative _input-text.html id="contact-email" label="Email" required=true placeholder="jon@acme.com" type="email" %}
  {% include_relative _input-text.html id="contact-company" label="Company" required=true placeholder="Acme, Inc." %}
  <div class="form-group">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <label for="contact-message">Any comments or questions?</label>
      </div>
      <div class="col-xs-12 col-md-8">
        <textarea
          id="contact-message"
          name="contact-message"
          class="form-control"
          rows="3"
          required="required"
          placeholder="Enter a message"
        ></textarea>
      </div>
    </div>
  </div>
  <div class="text-center">
    <br />
    <button
      type="submit"
      id="submit-button"
      class="btn btn-primary"
      ga-on="click"
      ga-event-category="{{ page.path | slugify }}"
      ga-event-action="join-waitlist-cta"
    >
      Submit
    </button>
  </div>
</form>
<script type="application/javascript">
  const urlParams = new URLSearchParams(window.location.search);
  const selection = urlParams.get('selection');
  document.getElementById('_selection').value = selection;
</script>
