<div class="row row-page-header">
  <div class="col-xs-12">
    <h2>The fastest way to DevOps</h2>
    <p>
      Migrating to the cloud? Going through a DevOps transformation? Launching a new product and want to "do it right"
      this time? The Gruntwork DevOps Bootcamp is the fastest way to make it happen. It's an intense, 3-day program
      that will transform how you run your infrastructure and deliver software.
    </p>
    <p>
      This is not a fluffy, high-level, theoretical course, but a hands-on session where you will be coding all day
      long with a Gruntwork engineer. You'll learn about infrastructure as code, continuous integration, continuous
      delivery, Terraform, AWS, Packer, Docker, and much more. And not only that, by the end of the course, you'll also
      have a fully working end-to-end infrastructure defined as code and deployed in your AWS account!
    </p>
    <h2>Curriculum</h2>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      {% include_relative _panel.html id="day-1" title="Day 1" features=site.data.devops-bootcamp.day_one expanded="true" %}
      {% include_relative _panel.html id="day-2" title="Day 2" features=site.data.devops-bootcamp.day_two expanded="false" %}
      {% include_relative _panel.html id="day-3" title="Day 3" features=site.data.devops-bootcamp.day_three expanded="false" %}
      {% include_relative _panel.html id="requirements" title="Requirements" features=site.data.devops-bootcamp.requirements expanded="false" %}
    </div>
    <h2>Pricing</h2>
    <p>
      You can find the pricing for the DevOps Bootcamp on our <a href="/pricing/">pricing page</a>.
    </p>
  </div>
</div>
