---
layout: default
title: DevOps Bootcamp
excerpt: Learn DevOps best practices and get your entire infrastructure defined as code in this 3-day, on-site training session.
permalink: /devops-bootcamp/ 
slug: devops-bootcamp
footer_heading: Ready to hand off the Gruntwork?
---

<div class="main">
  <div class="section section-hero">
    {% include_relative _hero.html %}
  </div>
  <div class="section section-dark">
    <div class="container">
      {% include_relative _sub-hero.html %}
      {% include_relative _gcp.html %}
      {% include_relative _pricing.html %}
    </div>
  </div>
</div>
