---
layout: default
title: Subscription & Support | Gruntwork
permalink: /plans.html
---

<section class="plans">
  <header class="heading heading--center">
    <h2 class="heading__lead">Subscription & Support</h2>
  </header>
  <section class="section">
    <h2 class="heading__title">What is the Gruntwork Subscription?</h2>
    <p class="section__paragraph">
      Join the Gruntwork Community, a collection of companies that are all built on
      the same <a href="/stacks" class="link-bordered">Infrastructure Packages</a>,
      with support and maintenance from Gruntwork. As a subscriber, you get access
      to all updates, improvements, fixes, and security patches to your <a href="/stacks" class="link-bordered">
      Infrastructure Packages</a> via a simple version number bump. You also get access
      to the Gruntwork team of DevOps and infrastructure experts for support, maintenance,
      questions, and code and design reviews.
    </p>
  </section>
  <section class="section">
    <h2 class="heading__title">Features</h2>
    <div class="icons-stack text-center">
      <div class="icons-stack__item grid-item grid-item--top-left">
        <img class="icons-stack__item-icon" src="/assets/img/book.svg" alt="">
        <p class="icons-stack__item-text">Access to all updates, improvements, fixes, and security patches for you Infrastructure Packages.</p>
      </div>
      <div class="icons-stack__item grid-item grid-item--top">
        <img class="icons-stack__item-icon" src="/assets/img/gift.svg" alt="">
        <p class="icons-stack__item-text">Access to the Gruntwork team for support, maintenance, questions, and code and design reviews.</p>
      </div>
      <div class="icons-stack__item grid-item grid-item--top-right">
        <img class="icons-stack__item-icon" src="/assets/img/sync.svg" alt="">
        <p class="icons-stack__item-text">Proactive maintenance. Periodic audits and improvements of your infrastructure.</p>
      </div>
      <div class="icons-stack__item grid-item grid-item--bottom-left">
        <img class="icons-stack__item-icon" src="/assets/img/badge.svg" alt="">
        <p class="icons-stack__item-text">Security alerts. We monitor major security advisories and notify you of critical vulnerabilities.</p>
      </div>
      <div class="icons-stack__item grid-item grid-item--bottom">
        <img class="icons-stack__item-icon" src="/assets/img/uptick.svg" alt="">
        <p class="icons-stack__item-text">Monthly Newsletter. We notify you of updates in the DevOps world and our packages.</p>
      </div>
      <div class="icons-stack__item grid-item grid-item--bottom-right">
        <img class="icons-stack__item-icon" src="/assets/img/money.svg" alt="">
        <p class="icons-stack__item-text">Discounts. Subscribers get discounts on Gruntwork Infrastructure Packages and training.</p>
      </div>
    </div>
  </section>
  <section class="section">
    <h2 class="heading__title">Available Subscription Plans</h2>
    <div class="plans-table">
      <ul class="plans-table__item first">
        <li>
          <div class="plan-heading"></div>
        </li>
        {% for item in site.data['plan-items'] %}
          <li>
            {{item.name}}
            <div class="plan-info"></div>
            <div class="plan-info-text">
              <strong>{{item.name}}</strong>
              <p>{{item.description}}</p>
            </div>
          </li>
        {% endfor %}
        <li>&nbsp;</li>
      </ul>
      {% for plan in site.data.plans %}
        <ul class="plans-table__item">
          <li><div class="plan-heading {{plan.color}}-gradient">{{plan.name}}</div></li>
          {% for value in plan.values %}
            <li>
              <span class="plan-mobile-label">{{site.data['plan-items'][forloop.index0].name}}</span>
              {{value}}
            </li>
          {% endfor %}
          <li><a href="#" class="plan-cta"><span class="{{plan.color}}-gradient">Get a quote</span></a></li>
        </ul>
      {% endfor %}
    </div>
  </section>
</section>
