---
layout: default
title: Subscription & Support | Gruntwork
excerpt: Join the Gruntwork Community, a collection of companies that are all built on the same Infrastructure Packages, with support and maintenance from Gruntwork.
permalink: /plans.html
---

<section class="plans">
  <header class="heading heading--center">
    <h1 class="heading__lead">Subscription & Support</h1>.
    <h2 class="heading__text">
      Help when you need it. Infrastructure that’s always up to date.
    </h2>
  </header>
  <section class="section">
    <h2 class="heading__title">What is the Gruntwork Subscription?</h2>
    <p class="section__paragraph">
      As a Gruntwork subscriber, you get access to continuous updates, improvements, fixes, and security patches for
      your Infrastructure Packages, so your infrastructure is always secure and up to date. You also get access to the
      Gruntwork team of DevOps and infrastructure experts for support, maintenance, questions, and code and design
      reviews. All for a tiny fraction of the cost of a single full-time DevOps engineer.
    </p>
  </section>
  <section class="section">
    <h2 class="heading__title">Features</h2>
    <div class="icons-stack text-center">
      <div class="icons-stack__item">
        <img class="icons-stack__item-icon lazyload" data-src="/assets/img/book.svg" alt="Gruntwork feature">
        <p class="icons-stack__item-text">Access to all updates, improvements, fixes, and security patches for your Infrastructure Packages.</p>
      </div>
      <div class="icons-stack__item">
        <img class="icons-stack__item-icon lazyload" data-src="/assets/img/sync.svg" alt="Gruntwork feature">
        <p class="icons-stack__item-text">Access to the Gruntwork team for support, maintenance, questions, and code and design reviews.</p>
      </div>
      <div class="icons-stack__item">
        <img class="icons-stack__item-icon lazyload" data-src="/assets/img/icons/time.svg" alt="Gruntwork feature">
        <p class="icons-stack__item-text">Proactive maintenance and audits of your infrastructure.</p>
      </div>
      <div class="icons-stack__item">
        <img class="icons-stack__item-icon lazyload" data-src="/assets/img/icons/lock.svg" alt="Gruntwork feature">
        <p class="icons-stack__item-text">Security alerts. We monitor major security advisories and notify you of critical vulnerabilities.</p>
      </div>
      <div class="icons-stack__item">
        <img class="icons-stack__item-icon lazyload" data-src="/assets/img/icons/tasklist.svg" alt="Gruntwork feature">
        <p class="icons-stack__item-text">Monthly Newsletter with updates from the DevOps world and our packages.</p>
      </div>
      <div class="icons-stack__item">
        <img class="icons-stack__item-icon lazyload" data-src="/assets/img/money.svg" alt="Gruntwork feature">
        <p class="icons-stack__item-text">Discounts on Infrastructure Packages and training.</p>
      </div>
    </div>
  </section>
  <section class="section">
    <h2 class="heading__title">Available Subscription Plans</h2>
    <div class="plans-table">
      <ul class="plans-table__item first">
        <li>
          <div class="plan-heading"></div>
        </li>
        {% for item in site.data['plan-items'] %}
          <li>
            {{item.name}}
            <div class="plan-info"></div>
            <div class="plan-info-text">
              <strong>{{item.name}}</strong>
              <p>{{item.description}}</p>
            </div>
          </li>
        {% endfor %}
        <li>&nbsp;</li>
      </ul>
      {% for plan in site.data.plans %}
        <ul class="plans-table__item">
          <li><div class="plan-heading {{plan.color}}-gradient">{{plan.name}}</div></li>
          {% for value in plan.values %}
            <li>
              <div class="plan-mobile-container">
                <span class="plan-mobile-label">{{site.data['plan-items'][forloop.index0].name}}</span>
                <span class="plan-mobile-value">{{value}}</span>
              </div>
            </li>
          {% endfor %}
          <li><a href="/contact" class="plan-cta"><span class="{{plan.color}}-gradient">Get a quote</span></a></li>
        </ul>
      {% endfor %}
    </div>
  </section>
</section>
