---
layout: default
title: Gruntwork | How it Works
excerpt: Gruntwork can help you get your entire infrastructure defined as code, in about a day. Here's how it works.
permalink: /how-it-works/
slug: how-it-works
footer_heading: Tell us what kind of infrastructure you need.
---

<div class="main">
  <div class="section section-hero">
    {% include_relative _hero.html %}
    {% include_relative _video.html %}
  </div>

  <div class="section section-dark">
    {% include_relative _steps.html %}
  </div>
</div> 
