---
layout: default
title: Pre-assembled Stacks | Gruntwork
excerpt: A pre-assembled stack is a pre-assembled combination of Gruntwork Infrastructure Packages that allows you to deploy your entire infrastructure in minutes.
permalink: /stacks.html
---

<section class="stacks">
  <header class="heading heading--center">
    <h1 class="heading__lead">Pre-assembled Stacks</h1>
    <h2 class="heading__text">
      Launch a complete end-to-end tech stack in minutes.
    </h2>
  </header>
  <section class="section">
    <h2 class="heading__title">What's a stack?</h2>
    <p class="section__paragraph">
      A stack is a pre-assembled combination of <a href="/infrastructure" class="link-bordered">Gruntwork Infrastructure
      Packages</a> that allows you to deploy your entire end-to-end infrastructure in minutes. Each stack include a
      Network Topology setup, Docker cluster, database, security, continuous integration, automated deployment, and
      monitoring/alerting, and is configured to work in both dev and your AWS account.
    </p>
  </section>
  <section class="section">
    <h2 class="heading__title">Features</h2>
    <div class="icons-stack text-center">
      <div class="icons-stack__item grid-item grid-item--top-left">
        <img class="icons-stack__item-icon lazyload" data-src="/assets/img/book.svg" alt="Gruntwork feature">
        <p class="icons-stack__item-text">We give you 100% of the source code.</p>
      </div>
      <div class="icons-stack__item grid-item grid-item--top">
        <img class="icons-stack__item-icon lazyload" data-src="/assets/img/gift.svg" alt="Gruntwork feature">
        <p class="icons-stack__item-text">Every Package is backed by a suite of automated tests.</p>
      </div>
      <div class="icons-stack__item grid-item grid-item--top-right">
        <img class="icons-stack__item-icon lazyload" data-src="/assets/img/sync.svg" alt="Gruntwork feature">
        <p class="icons-stack__item-text">Commercially supported by Gruntwork.</p>
      </div>
      <div class="icons-stack__item grid-item grid-item--bottom-left">
        <img class="icons-stack__item-icon lazyload" data-src="/assets/img/badge.svg" alt="Gruntwork feature">
        <p class="icons-stack__item-text">Thoroughly documented and commented.</p>
      </div>
      <div class="icons-stack__item grid-item grid-item--bottom">
        <img class="icons-stack__item-icon lazyload" data-src="/assets/img/uptick.svg" alt="Gruntwork feature">
        <p class="icons-stack__item-text">Proven in production with many Gruntwork customers.</p>
      </div>
      <div class="icons-stack__item grid-item grid-item--bottom-right">
        <img class="icons-stack__item-icon lazyload" data-src="/assets/img/icons/time.svg" alt="Gruntwork feature">
        <p class="icons-stack__item-text">Extremely fast setup time.</p>
      </div>
    </div>
  </section>
  <section class="section">
    <h2 class="heading__title">Available Stacks</h2>
    <div class="stacks-list">
      {% for stack in site.data.stacks %}
        <div class="stacks-list__item">
          <div class="stacks-list__item-container">
            <img class="stacks-list__item-img lazyload" data-src="/assets/img/technologies/grayscale/{{ stack.image }}" alt="{{ stack.name }}">
            <div class="stacks-list__item-title">{{ stack.name }}</div>
            {% for property in stack.properties %}
              <div class="include">
                <div class="include__title">{{ property.service }}</div>
                <div class="include__explain">{{ property.name }}</div>
              </div>
            {% endfor %}
            <a href="/contact" class="plan-cta"><div class="{{stack.color}}-gradient">Get a quote</div></a>
          </div>
        </div>
      {% endfor %}
      <div class="stacks-list__item">
        <div class="stacks-list__item-container">
          <img class="stacks-list__item-img lazyload" data-src="/assets/img/grunty.svg" alt="Gruntwork's Grunty'">
          <div class="stacks-list__item-title">Something else?</div>
          <div class="include">
            <div class="include__text">
              Don’t see the exact stack you need?
            </div>
          </div>
          <div class="include">
            <div class="include__text">
              Get in touch and tell us more about your requirements, your organization,
              and what you’d like to achieve.
            </div>
          </div>
          <a href="/contact" class="plan-cta"><span class="red-orange-gradient">Ask us</span></a>
        </div>
      </div>
    </div>
  </section>
</section>
