<div class="container">
  <div class="row row-form">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <form id="newsletter-form" method="post" action="//gruntwork.us13.list-manage.com/subscribe/post?u=8ccaad0747ac13944cf318e0f&amp;id=786bd365d1">
        {% include_relative _input-text.html id="EMAIL" label="Email" required=true placeholder="jon@example.com" %}
        {% include_relative _input-text.html id="NAME" label="Name" required=true placeholder="Jon Doe" %}
        {% include_relative _input-text.html id="COMPANY" label="Company" required=true placeholder="Acme Inc" %}
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8ccaad0747ac13944cf318e0f_786bd365d1" tabindex="-1" value=""></div>
        <div class="text-center" style="margin-top: 35px;">
          <input type="submit" class="btn btn-primary" value="Subscribe">
          <p style="margin-top: 10px;">
            <small>No spam, ever.</small>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
