---
layout: landing
type: landing
slug: index-page

extra_nav_links:
  - name: Why Gruntwork
    url: /eks-for-enterprise/why-gruntwork/

title: Why Gruntwork Enterprise EKS?
excerpt: Compare out-of-the-box experiences for running Kubernetes in AWS
permalink: /eks-for-enterprise/why-gruntwork/

why_gruntwork:
  - title: Cluster
    features:
      - name: "Fully-managed control plane"
        description: "Provides a Kubernetes control plane that is operated and maintained by a 3rd party as a service (e.g., by AWS)"
        kops: "no"
        rancher: "yes"
        eks: "yes"
        gruntwork: "yes"
      - name: "Self-managed control plane"
        description: "Provides a Kubernetes control plane that your team is responsible for operating and maintaining yourself"
        kops: "yes"
        rancher: "yes"
        eks: "no"
        gruntwork: "no"
      - name: "Fully-managed worker nodes"
        description: "Provides Kubernetes worker nodes that are operated and maintained by a 3rd party as a service (e.g., by AWS)"
        kops: "no"
        rancher: "yes"
        eks: "yes"
        gruntwork: "yes"
      - name: "Self-managed worker nodes"
        description: "Provides Kubernetes worker nodes that your team is responsible for operating and maintaining yourself"
        kops: "yes"
        rancher: "yes"
        eks: "yes"
        gruntwork: "yes"
      - name: "Service mesh"
        description: "Provides a service mesh such as Istio, Consul Connect, or AWS App Mesh out-of-the-box."
        kops: "no"
        rancher: "no"
        eks: "no"
        gruntwork: "yes"
  - title: Cluster management
    features:
      - name: "Manage everything as code"
        description: "You can manage your Kubernetes cluster as code using tools such as Terraform or CloudFormation."
        kops: "yes"
        rancher: "no"
        eks: "yes"
        gruntwork: "yes"
      - name: "Node auto scaling"
        description: "Supports automatically scaling the number of worker nodes up and down in response to load, out-of-the-box."
        kops: "no"
        rancher: "no"
        eks: "no"
        gruntwork: "yes"
      - name: "CI / CD for infrastructure"
        description: "Includes a CI / CD pipeline for rolling out changes to infrastructure, including the EKS cluster itself, out-of-the-box."
        kops: "no"
        rancher: "no"
        eks: "no"
        gruntwork: "yes"
      - name: "Cluster monitoring"
        description: "Cluster metrics, dashboards, and log aggregation are available out-of-the-box."
        kops: "no"
        rancher: "no"
        eks: "no"
        gruntwork: "yes"
  - title: App management
    features:
      - name: "Rolling deployment"
        description: "Supports rolling deployment for apps out-of-the-box"
        kops: "yes"
        rancher: "yes"
        eks: "yes"
        gruntwork: "yes"
      - name: "Blue-green deployment"
        description: "Supports blue-green deployment for apps out-of-the-box."
        kops: "no"
        rancher: "no"
        eks: "no"
        gruntwork: "yes"
      - name: "CI / CD pipeline for apps"
        description: "Supports a CI / CD pipeline for rolling out changes to apps out-of-the-box."
        kops: "no"
        rancher: "no"
        eks: "no"
        gruntwork: "yes"
      - name: "Self-service UI"
        description: "Includes a web UI for managing apps, nodes, logs, and metrics out-of-the-box."
        kops: "no"
        rancher: "yes"
        eks: "no"
        gruntwork: "yes"
      - name: "Pod auto scaling"
        description: "Supports automatically scaling the number of pods up and down in response to load, out-of-the-box."
        kops: "no"
        rancher: "yes"
        eks: "no"
        gruntwork: "yes"
      - name: "App monitoring"
        description: "App metrics, dashboards, and log aggregation are available out-of-the-box."
        kops: "no"
        rancher: "no"
        eks: "no"
        gruntwork: "yes"
  - title: Security
    features:
      - name: "Server hardening"
        description: "All servers (worker nodes) are implement security best practices out-of-the-box, including OS hardening, SSH key management, fail2ban, NTP, and more."
        kops: "no"
        rancher: "no"
        eks: "no"
        gruntwork: "yes"
      - name: "Sealed secrets"
        description: "Manage Kubernetes secrets as code by sealing them in your repositories with AWS KMS encryption."
        kops: "no"
        rancher: "no"
        eks: "no"
        gruntwork: "yes"
      - name: "End-to-end encryption"
        description: "All data is encrypted on disk and in-transit (e.g., service-to-service communication), out-of-the-box."
        kops: "no"
        rancher: "no"
        eks: "no"
        gruntwork: "yes"
      - name: "Service communication ACLs"
        description: "All communication between services is tightly controlled via service mesh ACLs, out-of-the-box."
        kops: "no"
        rancher: "no"
        eks: "no"
        gruntwork: "yes"
      - name: "Network security policies"
        description: "Best-practice network security policies are installed, out-of-the-box."
        kops: "no"
        rancher: "no"
        eks: "no"
        gruntwork: "yes"
      - name: "Pod security policies"
        description: "Best-practice pod security policies are installed, out-of-the-box."
        kops: "no"
        rancher: "no"
        eks: "no"
        gruntwork: "yes"
      - name: "OPA policies"
        description: "Support for enforcing organization governance and compliance through Open Policy Agent is available out-of-the-box."
        kops: "no"
        rancher: "no"
        eks: "no"
        gruntwork: "yes"
  - title: Compliance
    features:
      - name: "AWS Well Architected"
        description: "The EKS cluster follows AWS guidelines and latest industry best practices."
        kops: "yes"
        rancher: "yes"
        eks: "yes"
        gruntwork: "yes"
      - name: "CIS AWS Foundations Benchmark"
        description: "The EKS cluster is compliant with the CIS AWS Foundations Benchmark, out-of-the-box. The CIS AWS Foundations Benchmark is an objective, consensus-driven guideline for establishing secure infrastructure on AWS."
        kops: "no"
        rancher: "no"
        eks: "no"
        gruntwork: "yes"
      - name: "CIS EKS Benchmark"
        description: "The EKS cluster is compliant the CIS EKS Benchmark, out-of-the-box. The CIS EKS Benchmark is an objective, consensus-driven guideline for establishing a secure EKS cluster."
        kops: "no"
        rancher: "no"
        eks: "no"
        gruntwork: "yes"
  - title: Target environments
    features:
      - name: "Multi-cloud and hybrid cloud"
        description: "Supports running Kubernetes clusters across multiple clouds (e.g., AWS, GCP, Azure) and on-prem."
        kops: "yes"
        rancher: "yes"
        eks: "no"
        gruntwork: "no"
      - name: "AWS and cloud native"
        description: "Runs Kubernetes in AWS using AWS-native and cloud-native best practices and services."
        kops: "no"
        rancher: "no"
        eks: "yes"
        gruntwork: "yes"


footer:
  heading: The enterprise EKS experience you've been looking for.
  body: |
    <ul class="check-list" style="display: inline-block; text-align: left; margin-top: 10px; margin-bottom: 0">
      <li>The power, security, and flexibility of Kubernetes.</li>
      <li>The control and scalability you expect from AWS.</li>
      <li>The production-grade code you expect from Gruntwork.</li>
    </ul>
  cta: Request early access
---

<div class="main page-pricing">
  <div class="section page-pricing-header">
    {% include_relative _hero.html %}
  </div>
  <div id="why-gruntwork" class="section section-dark">
    <div class="container">
      {% include_relative _comparison-table.html %}
    </div>
  </div>
</div>
