---
layout: landing
type: landing
slug: index-page

title: Pricing
excerpt: Configure the plan just right for your team.
permalink: /hipaa-compliance-on-aws/pricing/

extra_nav_links:
  - name: Gruntwork HIPAA
    url: /hipaa-compliance-on-aws
  - name: Bootstrap your app
    url: /hipaa-compliance-on-aws/bootstrap-your-app

pricing:
  - title: Gruntwork HIPAA Early Access
    description:
      Early access subscribers will receive a CIS staging environment when invited<br>
      and a fully HIPAA-compliant production infrastructure when it’s ready.
    price: "5,950"
    strike_price: "9,950"
    flat_fee: "0"
    strike_flat_fee: "9,900"
    image: /assets/img/logos-compliance/hipaa.png
    image_styles: "max-width: 130px"
    features:
      - name: CIS-compliant today, HIPAA-compliant soon
        description: Deploy dev and stage infrastructure today and start building your application. HIPAA compliance coming soon!
      - name: HIPAA-compliant reference architecture
        description: Assessed by qualified 3rd parties for peace of mind.
      - name: HIPAA-compliant sample applications
        description: World-class sample applications that you can easily extend.
      - name: Infrastructure as Code Library
        description: Access our entire library to augment and extend your reference architecture.
      - name: Gruntwork customer support
        description: Gruntwork engineers can answer your technical questions and help you resolve problems if they come up.
      - name: IaC video learning library
        description: Our training library is a collection of video courses to help you learn Terraform, Terragrunt, and more.
      - name: HITRUST CSF audit assistance
        description: After your architecture is deployed, Gruntwork will work with you and your HITRUST assessor to help your infrastructure achieve the HITRUST certification.
      - name: Landing Zone
        description: Set up secure AWS baselines for your AWS accounts, with centralized logging, cross-account access, encryption by default, and more.
      - name: CI/CD Pipelines
        description: Streamline your infrastructure as code deployments through a repeatable CI/CD pipeline.

faq:
  - question: What sort of AWS bill should I expect?
    answer: |
      <p>
        Your AWS bill depends on a number of factors: which services you use, the instance types you pick, how much load you're dealing with, etc. That said, assuming you have access to the AWS Free Tier, here's a ballpark range for what your AWS bill will be if you deploy an app using infrastructure from the following subscription option:
      </p>
      <ul>
        <li><strong>Gruntwork Lite</strong>: $0 / month</li>
        <li><strong>Gruntwork Pro</strong>: $500 / month and up</li>
        <li><strong>Gruntwork Enterprise</strong>: $2,000 / month and up</li>
      </ul>

  - question: Is an annual subscription required?
    answer: |
      <p>
        Gruntwork Pro and Gruntwork Enterprise require an annual subscription, though we can bill you either annually or monthly. Why an annual subscription? We give you access to all the code to run your infrastructure on day 1, and we let you keep that code even if you cancel. If we didn't have the annual subscription requirement, customers could sign up for one day, get access to all the code, and cancel immediately.
        </p>
      <p>
        However, we offer a 30-day money back guarantee, so if for any reason you're not happy after signing up, we'll let you out of the annual subscription and refund 100% of your money in the first 30 days.
      </p>

  - question: What if I want to cancel my Gruntwork Subscription?
    answer: |
      <p>
        We offer a 30-day money-back guarantee. You can try out Gruntwork Pro or Gruntwork Enterprise, and if you're not happy for any reason, you can cancel within the first 30 days, and we'll let you out of the annual subscription and refund 100% of your money.
      </p>
      <p>
        Note that if you cancel in the first 30 days, you lose the license to the code in the Infrastructure as Code Library, so you must stop using it and delete any references to it; on the other hand, if you do stick with the annual subscription, and cancel after at least one year, you can keep using all the code you had been using up to that point.
      </p>

  - question: What happens to my code if I cancel my subscription?
    answer: |
      <p>
        If you cancel within the first 30 days, we'll refund 100% of your money and let you out of the annual subscription, but you lose the license to the code in the Infrastructure as Code Library, so you must stop using it and delete all copies of the code.
      </p>
      <p>
        If, however, you remain a subscriber for at least 12 months, the license allows you to fork and modify the code and create derivative works as much as you want, and even if you cancel your subscription, you can keep using all the code you had been using up to that point. We recommend that prior to canceling, you make copies of all the repos in the Infrastructure as Code Library into your own version control system. After you cancel your Gruntwork Subscription, you'll no longer have access to the customer portal UI, or any of the updates, additions, and fixes we make to the Infrastructure as Code Library, support from the Gruntwork team, security alerts, and any other subscription benefits. However, your infrastructure will continue to work just fine and you'll still have all the code you had been using up to that point.
      </p>

  - question: How does the private beta work?
    answer: |
      <p>
        We are currently testing this product out on an invite-only basis with select customers. If you're interested in joining the beta, please request access, and we'll get in touch when the product is available to you!
      </p>

  - question: What's a user?
    answer: |
      <p>
        A user is any human or machine that makes use of Gruntwork's services, including using the Gruntwork Customer
        Portal, accessing code from the Infrastructure as Code Library, or submitting requests to support.
      </p>
---

<div class="main page-pricing">
  <div class="section-dark">
    <div class="container">
      {% include_relative _plans.html %} {% include_relative _need-help.html %}
      {% include_relative _benefits.html %} {% include_relative _faq.html %}
    </div>
  </div>
</div>
