---
layout: landing
type: landing
slug: index-page

title: Pricing
excerpt: Configure the plan just right for your team.
permalink: /hipaa-compliance-on-aws/pricing/

extra_nav_links:
  - name: Gruntwork HIPAA
    url: /hipaa-compliance-on-aws
  - name: Bootstrap your app
    url: /hipaa-compliance-on-aws/bootstrap-your-app

pricing:
  - title: Gruntwork HIPAA Early Access
    description:
      Early access subscribers will receive a CIS staging environment when invited<br>
      and a fully HIPAA-compliant production infrastructure when it’s ready.
    price: "5,950"
    strike_price: "9,950"
    flat_fee: "0"
    strike_flat_fee: "9,900"
    image: /assets/img/logos-compliance/hipaa.png
    image_styles: "max-width: 130px"
    features:
      - name: CIS-compliant today, HIPAA-compliant soon
        description: Deploy dev and stage infrastructure today and start building your application. HIPAA compliance coming soon!
      - name: HIPAA-compliant reference architecture
        description: Assessed by qualified 3rd parties for peace of mind.
      - name: HIPAA-compliant application templates
        description: World-class application templates that you can easily extend.
      - name: Infrastructure as Code Library
        description: Access our entire library to augment and extend your reference architecture.
      - name: Gruntwork customer support
        description: Gruntwork engineers can answer your technical questions and help you resolve problems if they come up.
      - name: Access to our library of training videos to ramp up on tools and techniques
        description: Our training library is a collection of video courses to help you learn Terraform, Terragrunt, and more.
      - name: HITRUST CSF audit assistance
        description: After your architecture is deployed, Gruntwork will work with you and your HITRUST assessor to help your infrastructure achieve the HITRUST certification.
      - name: Landing Zone
        description: Set up secure AWS baselines for your AWS accounts, with centralized logging, cross-account access, encryption by default, and more.
      - name: CI/CD Pipelines
        description: Streamline your infrastructure as code deployments through a repeatable CI/CD pipeline.
---

<div class="main page-pricing">
  <div class="section-dark">
    <div class="container">{% include_relative _plans.html %}</div>
  </div>
</div>
