---
layout: landing
type: landing
slug: index-page

title: Pricing
excerpt: Configure the plan just right for your team.
permalink: /hipaa-cloud-compliance/pricing/

pricing:
  - title: Option 1
    description: Description of Option 1
    price: 795
    image: /assets/img/aws-logo@2x.png
    image_styles: "max-width: 130px"
    features:
      - name: Feature 1
        description: Description of Feature 1
      - name: Feature 2
        description: Description of Feature 2
      - name: Feature 3
        description: Description of Feature 3
      - name: Feature 4
        description: Description of Feature 4

  - title: Option 2
    description: Description of Option 2
    price: "1,495"
    image: /assets/img/gcp-logo@2x.png
    image_styles: "max-width: 130px"
    features:
      - name: Feature 1
        description: Description of Feature 1
      - name: Feature 2
        description: Description of Feature 2
      - name: Feature 3
        description: Description of Feature 3
      - name: Feature 4
        description: Description of Feature 4
      - name: Feature 5
        description: Description of Feature 5

  - title: Enterprise
    description: Description of Enterprise
    price: Contact Us
    image: /assets/img/grunty-enterprise-logo@2x.png
    image_styles: "max-width: 130px; margin-top: 24px"
    features:
      - name: Feature 1
        description: Description of Feature 1
      - name: Feature 2
        description: Description of Feature 2
      - name: Feature 3
        description: Description of Feature 3
      - name: Feature 4
        description: Description of Feature 4
      - name: Feature 5
        description: Description of Feature 5
      - name: Feature 6
        description: Description of Feature 6
      - name: Feature 7
        description: Description of Feature 7
      - name: Feature 8
        description: Description of Feature 8
---

<div class="main page-pricing">
  <div class="section page-pricing-header">
    {% include_relative _hero.html %}
  </div>
  <div class="section-dark">
    <div class="container">{% include_relative _plans.html %}</div>
  </div>
</div>
